.divider {
  color: #DADEEB;
}

dt {
  color: #C0C7DB;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

dd {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #252733;
}

.status-text-box {
  display: inline-block;
  width: 80%;

  .status-text {
    color: #1666cc;
    display: block;
  }

  .status-percentage {
    display: inline-block;
    font-weight: bold;
    margin-top: 0.5rem !important;
  }

  ::ng-deep.progress-bar {
    width: 65%;
    display: inline-block;
    float: right;
    margin-top: 1.5rem;
    margin-right: 20px;
  }
}

.status-tag {
  display: inline-block;
  width: 20%;
  background: #f0f1f7;
  border-radius: 8px;
  vertical-align: top;
  text-align: center;
  padding: 4px 0;
  float: right;
  color: #9599AA;
  font-size: 9px;
  font-weight: bold;
}
