<div class="structure-column"
  [class.structure-column--light]="background==='light'"
  [class.structure-column--dark]="background==='dark'"
>
  <div class="structure-column__content">
    <div class="structure-column__hline1" *ngIf="parentY && currentY" [style.top]="(parentY-1) + 'px'"></div>
    <div class="structure-column__vline1" *ngIf="parentY && currentY" [style.top]="((parentY > currentY ? currentY : parentY) - 1) + 'px'" [style.height]="((parentY > currentY ? parentY - currentY : currentY - parentY) + 1) + 'px'"></div>
    <div class="structure-column__hline2" *ngIf="parentY && currentY" [style.top]="(currentY-1) + 'px'"></div>

    <div class="my-4" *ngFor="let locationGroup of sortedLocations">
      <button type="button" class="btn btn-sm bg-dark text-white btn-block" (click)="locationGroup.collapse = !locationGroup.collapse">
        {{ locationGroup.location.name }}
      </button>
      <div [ngbCollapse]="locationGroup.collapse">
        <div class="my-1" *ngFor="let division of locationGroup.divisions">
          <div class="position-relative" (mouseenter)="showCardHoverOptions(division)" (mouseleave)="hideCardHoverOptions()">
            <div class="user-card-line user-card--right" *ngIf="division === selected && showNextArrow"></div>
            <app-division-card [active]="division === selected" [division]="division" (click)="onDivisionSelected(division, $event)"></app-division-card>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
