<div *ngIf="_show" (click)="close()"></div>
<div
  *ngIf="_show"
  class="gallery-bottom-sheet-wrapper"
  [class.quick-view-wrapper--right]="position==='bottom'"
  [class.quick-view-wrapper--has-secondary-nav]="hasSecondaryNav"
  [@slideAnimation]="position"
>
  <div class="quick-view">
    <button type="button" class="close quick-view__close float-right text-white" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="quick-view__content">
      <div class="col-xs-4 text-center">
        <div class="title col-sm-3 text-white font-weight-bold">
          <strong>{{fileLength}} Photos Selected</strong>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center mt-3">
        <div class="col">
<!--          <button type="button" class="btn-wizard float-right">-->
<!--            <app-icon type="white" icon="tiles-plus" size="lg" style="float: left; margin-left: 30px"></app-icon>-->
<!--            <span  class="button-text">Create New Gallery</span>-->
<!--          </button>-->
        </div>
        <div class="col">
<!--          <button type="button" class="btn-wizard">-->
<!--            <app-icon type="white" icon="tiles" size="lg" style="float: left; margin-left: 30px"></app-icon>-->
<!--            <span class="button-text align-middle">Add to Existing Gallery</span>-->
<!--          </button>-->
          <div class="row mt-3">
            <div class="col-md-4">
                <input list="select" class="form-control font-weight-bold" placeholder="Select Gallery" required [(ngModel)]='currentGallery' (change)=getGalleryInfo(currentGallery) autocomplete="off" type="search">
              <datalist id="select">
                <option [ngValue]="null" disabled>Q3 |Events</option>
                <option  *ngFor="let item of galleryList;" [ngValue]="item.year"> {{item.year}} | Q{{item.quarter}}</option>
              </datalist>
            </div>
            <div class="col-md-6">
              <app-button type="secondary" style="margin-left: 73px; margin-top: 5px" (click)="updateGalleryInfo()">Add Images</app-button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
