.cwi-container {
  font-family: 'Heebo', sans-serif;
}

.cwi-page-tag {
  background: green;
  color: #fff;
  position: absolute;
  right: 50pt;
  top: 0;
  font-size: 8pt;
  padding: 25pt 5pt;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 4pt;
  text-transform: uppercase;
}

.title {
  position: absolute;
  font-size: 70pt;
  text-transform: uppercase;
  -webkit-text-stroke: 1pt black;
  color: transparent;
  top: 6%;
  left: 2%;
  letter-spacing: 4pt;
  font-weight: bold;
  width: 40%;
}

.sub-title {
  text-transform: uppercase;
  font-weight: 600;
  top: 5%;
  left: 2%;
  position: absolute;
  letter-spacing: 5pt;
  font-size: 17pt;
}

.initiative-year {
  position: absolute;
  top: 19%;
  left: 11%;
  font-size: 28pt;
  font-weight: bold;
  text-transform: uppercase;
}

.initiative-list {
  position: absolute;
  top: 24%;
  left: 11%;
  width: 20%;
}

.item {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 11pt;
}

.item-image {
  width: 35pt;
  height: 35pt;
}

.cwi-image-background {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.item-name {
  padding: 1% 4%;
  font-size: 18pt;
  font-weight: 600;
}

.initiative-quarter {
  position: absolute;
  top: 18%;
  left: 60%;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 28pt;
}

.initiative-quarter-list {
  position: absolute;
  top: 23%;
  left: 60%;
}

.quarter-item {
  padding-top: 4%;
  min-width: 60%;
  max-width: 60%;
}

.text {
  font-weight: 600;
  font-size: 18pt;
}

.description {
  font-size: 12pt;
}

.cwi-employees {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  bottom: 5%;
  width: 100%;
  height: 25%;

  .employee-left {
    display: flex;
    flex-flow: row nowrap;
    padding: 2%;
    width: 50%;
  }

  .employee-right {
    display: flex;
    flex-flow: row nowrap;
    padding: 2%;
    width: 50%;
  }

  .cwi-emp-div {
    height: 100%;
    width: 20%;
  }

  .cwi-emp-image {
    display: flex;
    flex-flow: column nowrap;
    height: 70%;
    align-items: center;

  }

  .cwi-img-div {
    border-radius: 50%;
    width: 90pt;
    height: 90pt;
    background-color: #1A7C7B;
    opacity: 0.9;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .cwi-emp-info {
    height: 30%;
    padding: 4% 0 0 0;
    text-align: center;
    line-height: 1.5;
  }

  .cwi-emp-name {
    font-weight: bold;
    font-size: 12pt;
    line-height: 1.5;
  }

  .cwi-emp-dept {
    font-size: 10pt;
  }
}

.company-wide-footer {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  bottom: 0;
  width: 100%;
  height: 40pt;
  z-index: 3;
  font-size: 9pt;

  &-left {
    height: 100%;
    width: 50%;
    padding: 1% 3%;
    text-transform: uppercase;
  }

  &-right {
    height: 100%;
    width: 50%;
    padding: 1% 3%;
    text-transform: uppercase;
    text-align: right;
  }
}
