<div class="cwi-container">
  <div class="cwi-page-tag">Stategy</div>
  <div class="sub-title" (click)="loadForm('single-line-text', 'subTitle')">
    <span *ngIf="page?.data?.subTitle?.text; else newSubTitle">{{ page?.data?.subTitle.text }}</span>
  </div>
  <div class="title" (click)="loadForm('single-line-text', 'title')">
    <span *ngIf="page?.data?.title; else newTitle">{{ page?.data?.title}}</span>
  </div>
  <div class="initiative-year">{{ page?.data?.title }}</div>
  <div class="initiative-list" *ngIf="page?.data?.initiatives?.texts?.length; else newInitiatives">
    <div class="item">
      <div class="item-image" (click)="loadForm('image-form', 'initiatives1')">
        <div class="cwi-image-background"
             [style.backgroundImage]="page?.data?.initiatives1 ? 'url(' + page?.data?.initiatives1?.imageurl + ')' : ''"
             *ngIf="page?.data?.initiatives1; else cwiImage"></div>
      </div>
      <div class="item-name" (click)="loadForm('single-line-text', 'initiatives1Name')">
        <span *ngIf="page?.data?.initiatives1Name?.text; else newInitiative1">{{page?.data?.initiatives1Name?.text}}</span>
      </div>
    </div>

    <div class="item">
      <div class="item-image" (click)="loadForm('image-form', 'initiatives2')">
        <div class="cwi-image-background"
             [style.backgroundImage]="page?.data?.initiatives2 ? 'url(' + page?.data?.initiatives2?.imageurl + ')' : ''"
             *ngIf="page?.data?.initiatives2; else cwiImage"></div>
      </div>
      <div class="item-name" (click)="loadForm('single-line-text', 'initiatives2Name')">
        <span *ngIf="page?.data?.initiatives2Name?.text; else newInitiative2">{{page?.data?.initiatives2Name?.text}}</span>
      </div>
    </div>

    <div class="item">
      <div class="item-image" (click)="loadForm('image-form', 'initiatives3')">
        <div class="cwi-image-background"
             [style.backgroundImage]="page?.data?.initiatives3 ? 'url(' + page?.data?.initiatives3?.imageurl + ')' : ''"
             *ngIf="page?.data?.initiatives3; else cwiImage"></div>
      </div>
      <div class="item-name" (click)="loadForm('single-line-text', 'initiatives3Name')">
        <span *ngIf="page?.data?.initiatives3Name?.text; else newInitiative3">{{page?.data?.initiatives3Name?.text}}</span>
      </div>
    </div>

    <div class="item">
      <div class="item-image" (click)="loadForm('image-form', 'initiatives4')">
        <div class="cwi-image-background"
             [style.backgroundImage]="page?.data?.initiatives4 ? 'url(' + page?.data?.initiatives4?.imageurl + ')' : ''"
             *ngIf="page?.data?.initiatives4; else cwiImage"></div>
      </div>
      <div class="item-name" (click)="loadForm('single-line-text', 'initiatives4Name')">
        <span *ngIf="page?.data?.initiatives4Name?.text; else newInitiative4">{{page?.data?.initiatives4Name?.text}}</span>
      </div>
    </div>

    <div class="item">
      <div class="item-image" (click)="loadForm('image-form', 'initiatives5')">
        <div class="cwi-image-background"
             [style.backgroundImage]="page?.data?.initiatives5 ? 'url(' + page?.data?.initiatives5?.imageurl + ')' : ''"
             *ngIf="page?.data?.initiatives5; else cwiImage"></div>
      </div>
      <div class="item-name" (click)="loadForm('single-line-text', 'initiatives5Name')">
        <span *ngIf="page?.data?.initiatives5Name?.text; else newInitiative5">{{page?.data?.initiatives5Name?.text}}</span>
      </div>
    </div>
  </div>

  <div class="initiative-quarter">3rd quarter</div>
  <div class="initiative-quarter-list" *ngIf="page?.data?.quarterInitiatives?.textInfo?.length; else newQuarterInitiatives">
    <div class="quarter-item" *ngFor="let quarterInitiative of page?.data?.quarterInitiatives?.textInfo"
         (click)="loadForm('two-array-form', 'quarterInitiatives')">
      <div class="text">{{quarterInitiative.text1}}</div>
      <div class="description">{{quarterInitiative.text2}}</div>
    </div>
  </div>

  <div class="cwi-employees">
    <div class="employee-left">
      <div class="cwi-emp-div">
        <div class="cwi-emp-image" (click)="loadForm('image-form', 'employee1Img')">
          <div class="cwi-img-div"
               [style.backgroundImage]="page?.data?.employee1Img ? 'url(' + page?.data?.employee1Img?.imageurl + ')' : ''"></div>
        </div>
        <div class="cwi-emp-info">
          <div class="cwi-emp-name" (click)="loadForm('single-line-text', 'empName10')">
            <span *ngIf="page?.data?.empName10; else newEmpName">{{page?.data?.empName10?.text}}</span>
          </div>
          <div class="cwi-emp-dept" (click)="loadForm('single-line-text', 'empPosition10')">
            <span *ngIf="page?.data?.empPosition10; else newEmpPosition">{{page?.data?.empPosition10?.text}}</span>
          </div>
        </div>
      </div>

      <div class="cwi-emp-div">
        <div class="cwi-emp-image" (click)="loadForm('image-form', 'employee2Img')">
          <div class="cwi-img-div"
               [style.backgroundImage]="page?.data?.employee2Img ? 'url(' + page?.data?.employee2Img?.imageurl + ')' : ''"></div>
        </div>
        <div class="cwi-emp-info">
          <div class="cwi-emp-name" (click)="loadForm('single-line-text', 'empName1')">
            <span *ngIf="page?.data?.empName1; else newEmpName">{{page?.data?.empName1?.text}}</span>
          </div>
          <div class="cwi-emp-dept" (click)="loadForm('single-line-text', 'empPosition1')">
            <span *ngIf="page?.data?.empPosition1; else newEmpPosition">{{page?.data?.empPosition1?.text}}</span>
          </div>
        </div>
      </div>

      <div class="cwi-emp-div">
        <div class="cwi-emp-image" (click)="loadForm('image-form', 'employee3Img')">
          <div class="cwi-img-div"
               [style.backgroundImage]="page?.data?.employee3Img ? 'url(' + page?.data?.employee3Img?.imageurl + ')' : ''"></div>
        </div>
        <div class="cwi-emp-info">
          <div class="cwi-emp-name" (click)="loadForm('single-line-text', 'empName2')">
            <span *ngIf="page?.data?.empName2; else newEmpName">{{page?.data?.empName2?.text}}</span>
          </div>
          <div class="cwi-emp-dept" (click)="loadForm('single-line-text', 'empPosition2')">
            <span *ngIf="page?.data?.empPosition2; else newEmpPosition">{{page?.data?.empPosition2?.text}}</span>
          </div>
        </div>
      </div>

      <div class="cwi-emp-div">
        <div class="cwi-emp-image" (click)="loadForm('image-form', 'employee4Img')">
          <div class="cwi-img-div"
               [style.backgroundImage]="page?.data?.employee4Img ? 'url(' + page?.data?.employee4Img?.imageurl + ')' : ''"></div>
        </div>
        <div class="cwi-emp-info">
          <div class="cwi-emp-name" (click)="loadForm('single-line-text', 'empName3')">
            <span *ngIf="page?.data?.empName3; else newEmpName">{{page?.data?.empName3?.text}}</span>
          </div>
          <div class="cwi-emp-dept" (click)="loadForm('single-line-text', 'empPosition3')">
            <span *ngIf="page?.data?.empPosition3; else newEmpPosition">{{page?.data?.empPosition3?.text}}</span>
          </div>
        </div>
      </div>

      <div class="cwi-emp-div">
        <div class="cwi-emp-image" (click)="loadForm('image-form', 'employee5Img')">
          <div class="cwi-img-div"
               [style.backgroundImage]="page?.data?.employee5Img ? 'url(' + page?.data?.employee5Img?.imageurl + ')' : ''"></div>
        </div>
        <div class="cwi-emp-info">
          <div class="cwi-emp-name" (click)="loadForm('single-line-text', 'empName4')">
            <span *ngIf="page?.data?.empName4; else newEmpName">{{page?.data?.empName4?.text}}</span>
          </div>
          <div class="cwi-emp-dept" (click)="loadForm('single-line-text', 'empPosition4')">
            <span *ngIf="page?.data?.empPosition4; else newEmpPosition">{{page?.data?.empPosition4?.text}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="employee-right">
      <div class="cwi-emp-div">
        <div class="cwi-emp-image" (click)="loadForm('image-form', 'employee6Img')">
          <div class="cwi-img-div"
               [style.backgroundImage]="page?.data?.employee6Img ? 'url(' + page?.data?.employee6Img?.imageurl + ')' : ''"></div>
        </div>
        <div class="cwi-emp-info">
          <div class="cwi-emp-name" (click)="loadForm('single-line-text', 'empName5')">
            <span *ngIf="page?.data?.empName5; else newEmpName">{{page?.data?.empName5?.text}}</span>
          </div>
          <div class="cwi-emp-dept" (click)="loadForm('single-line-text', 'empPosition5')">
            <span *ngIf="page?.data?.empPosition5; else newEmpPosition">{{page?.data?.empPosition5?.text}}</span>
          </div>
        </div>
      </div>

      <div class="cwi-emp-div">
        <div class="cwi-emp-image" (click)="loadForm('image-form', 'employee7Img')">
          <div class="cwi-img-div"
               [style.backgroundImage]="page?.data?.employee7Img ? 'url(' + page?.data?.employee7Img?.imageurl + ')' : ''"></div>
        </div>
        <div class="cwi-emp-info">
          <div class="cwi-emp-name" (click)="loadForm('single-line-text', 'empName6')">
            <span *ngIf="page?.data?.empName6; else newEmpName">{{page?.data?.empName6?.text}}</span>
          </div>
          <div class="cwi-emp-dept" (click)="loadForm('single-line-text', 'empPosition6')">
            <span *ngIf="page?.data?.empPosition6; else newEmpPosition">{{page?.data?.empPosition6?.text}}</span>
          </div>
        </div>
      </div>

      <div class="cwi-emp-div">
        <div class="cwi-emp-image" (click)="loadForm('image-form', 'employee8Img')">
          <div class="cwi-img-div"
               [style.backgroundImage]="page?.data?.employee8Img ? 'url(' + page?.data?.employee8Img?.imageurl + ')' : ''"></div>
        </div>
        <div class="cwi-emp-info">
          <div class="cwi-emp-name" (click)="loadForm('single-line-text', 'empName7')">
            <span *ngIf="page?.data?.empName7; else newEmpName">{{page?.data?.empName7?.text}}</span>
          </div>
          <div class="cwi-emp-dept" (click)="loadForm('single-line-text', 'empPosition7')">
            <span *ngIf="page?.data?.empPosition7; else newEmpPosition">{{page?.data?.empPosition7?.text}}</span>
          </div>
        </div>
      </div>

      <div class="cwi-emp-div">
        <div class="cwi-emp-image" (click)="loadForm('image-form', 'employee9Img')">
          <div class="cwi-img-div"
               [style.backgroundImage]="page?.data?.employee9Img ? 'url(' + page?.data?.employee9Img?.imageurl + ')' : ''"></div>
        </div>
        <div class="cwi-emp-info">
          <div class="cwi-emp-name" (click)="loadForm('single-line-text', 'empName8')">
            <span *ngIf="page?.data?.empName8; else newEmpName">{{page?.data?.empName8?.text}}</span>
          </div>
          <div class="cwi-emp-dept" (click)="loadForm('single-line-text', 'empPosition8')">
            <span *ngIf="page?.data?.empPosition8; else newEmpPosition">{{page?.data?.empPosition8?.text}}</span>
          </div>
        </div>
      </div>

      <div class="cwi-emp-div">
        <div class="cwi-emp-image" (click)="loadForm('image-form', 'employee10Img')">
          <div class="cwi-img-div"
               [style.backgroundImage]="page?.data?.employee10Img ? 'url(' + page?.data?.employee10Img?.imageurl + ')' : ''"></div>
        </div>
        <div class="cwi-emp-info">
          <div class="cwi-emp-name" (click)="loadForm('single-line-text', 'empName9')">
            <span *ngIf="page?.data?.empName9; else newEmpName">{{page?.data?.empName9?.text}}</span>
          </div>
          <div class="cwi-emp-dept" (click)="loadForm('single-line-text', 'empPosition9')">
            <span *ngIf="page?.data?.empPosition9; else newEmpPosition">{{page?.data?.empPosition9?.text}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="company-wide-footer">
    <div class="company-wide-footer-left">
      <span><b>{{pageNumber * 2 }} </b> | {{playBook.title}} | Q{{playBook.quarter}}-{{playBook.year}}</span>
    </div>
    <div class="company-wide-footer-right">
      <span>Q{{playBook.quarter}}-{{playBook.year}} | {{playBook.title}} | <b>{{pageNumber * 2 + 1 }}</b></span>
    </div>
  </div>
  <div class="border-overlay"></div>
</div>


<ng-template #newEmpName>John Doe</ng-template>
<ng-template #newEmpPosition>Sales</ng-template>
<ng-template #newInitiatives><span (click)="loadForm('array-form', 'initiatives')">Click to add Sub Titles</span></ng-template>
<ng-template #newQuarterInitiatives><span (click)="loadForm('two-array-form', 'quarterInitiatives')"></span></ng-template>
<ng-template #newSubTitle>COMPANY WIDE</ng-template>
<ng-template #newTitle>INITIATIVES</ng-template>
<ng-template #newInitiative1>Paid Sales</ng-template>
<ng-template #newInitiative2>Ontrack Optimization</ng-template>
<ng-template #newInitiative3>Ccom Brand Initiatives</ng-template>
<ng-template #newInitiative4>Lexington Mobile App</ng-template>
<ng-template #newInitiative5>Up Funnel Initiatives</ng-template>
<ng-template #cwiImage>
  <div class="cwi-image-background" style="background-image: url('app/assets/images/playbook/mountain.jpg')"></div>
</ng-template>
