<!--<div *ngIf="pageLinks?.length > 0; else noAnyPages">-->
<!--  <app-playbook-app-content style="pointer-events: none"-->
<!--                            [page]="page"-->
<!--                            [theme]="playBook.theme"-->
<!--                            [showSideBar]="false"-->
<!--                            [showPrevNextBtn]="false"-->
<!--  ></app-playbook-app-content>-->
<!--</div>-->
<!--<ng-template #noAnyPages>-->
<!--  <div class="no-pages">-->
<!--    No any pages to preview.Please add playbook pages.-->
<!--  </div>-->
<!--</ng-template>-->
<!--<div class="modal-header">-->
<!--  <h4 class="modal-title">Hi there!</h4>-->
<!--  <button type="button" class="close" aria-label="Close">-->
<!--    <span aria-hidden="true">&times;</span>-->
<!--  </button>-->
<!--</div>-->
<div class="modal-body">
  <app-playbook-app-content style="pointer-events: none"
                            [page]="page"
                            [theme]="playBook.theme"
                            [showSideBar]="false"
                            [showPrevNextBtn]="false"
  ></app-playbook-app-content>
  <div class="page-title-left">{{page?.title}}</div>
  <div class="page-title-right">{{page?.title}}</div>
  <div class="closeBtn" (click)="ngModal.dismissAll('Ok')">
    <app-icon icon="cross" type="white" size="lg"></app-icon>
  </div>
  <div class=" row below-modal">
    <div class="col-3 p-0">
      <div class="prevBtn">
        <div (click)="updateNextPrev(false)">
          <app-icon icon="sideLeft" type="white" size="sm"></app-icon>
          PREVIOUS PAGE
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="publishForm">
        <div [formGroup]="publishForm">
          <div class="row">
            <div class="col-4">
              <label class="mb-0" for="publishDate">Publish Date</label>
              <app-dat-picker class="mt-0" id="publishDate"></app-dat-picker>
            </div>
            <div class="col-4 ml-3">
              <label class="mb-0" for="publishTime">Publish Time</label>
              <app-time-picker class="mt-0" size="small" meridian="true" id="publishTime"></app-time-picker>
            </div>
            <div class="col-2 publish-btn" >
              <app-button type="primary" (click)="publish()">PUBLISH</app-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 p-0">
      <div class="nextBtn">
        <div (click)="updateNextPrev(true)">
          NEXT PAGE
          <app-icon icon="sideRight" type="white" size="sm"></app-icon>
        </div>
      </div>
    </div>
  </div>
</div>


