::ng-deep .confirmation-modal-size .modal-content {
  max-height: 305px;
  max-width: 350px;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #F6F6F6;
  border: 1.449px solid #CDCDCD;
  box-sizing: border-box;
  box-shadow: 0px 2px 29px rgba(0, 0, 0, 0.0895433);
}

.modal-header, .modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

