.ps-container {
  display: flex;
  position: relative;
  height: 100%;
}

.ps {
  margin-top: 50pt;
  width: 50%;
  position: relative;
  margin-left: 20pt;
  margin-right: 20pt;
  // background-color: rosybrown;
}

.header-wrapper {
  width: 100%;
  height: 18%;
}

.body-wrapper {
  width: 100%;
  height: 80%;
  // background-color: yellow;
  margin-top: 20pt;

}

.body-row {
  width: 100%;
  display: flex;
  margin-top: 40pt;
}

.body-content-right {
  width: 50%;
  // position: absolute;
  margin-top: 20pt;
  // background-color: red;
  height: 20%;
  margin-right: 20pt;
  margin-left: 20pt;
  margin-top: 20pt;
}

.body-content-left {
  width: 50%;
  // position: absolute;
  margin-top: 20pt;
  // background-color: red;
  height: 20%;
  margin-right: 20pt;
  margin-left: 20pt;
  margin-top: 20pt;
}

.title-wrapper {
  font-weight: bold;
  font-size: 15pt;
}

.text-wrapper {
  white-space: pre-wrap;
  font-size: 12pt;
  margin-top: 5pt;
  text-align: justify;
  width: 96%;
}


.ps-header {
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
  letter-spacing: 6pt;
  text-transform: uppercase;
  padding-top: 10pt;
  line-height: 1;
}

.ps-header-large {
  font-size: 85pt;
  text-align: center;
  letter-spacing: 3pt;
  color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke: 1pt black;
  padding-right: 10pt;
  padding-left: 10pt;
  line-height: 1;
}

.ps-bg-container {
  width: 50%;
  cursor: pointer;
}

.ps-bg {
  height: 100%;
  background-position: center center;
  background-size: cover;
}

.page-tag {
  background: darkolivegreen;
  color: #fff;
  position: absolute;
  right: 50pt;
  top: 0;
  font-size: 9pt;
  padding: 20pt 4pt;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 4pt;
}

.image-content-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 25%;
  right: 9%;
}

.moto {
  font-size: 100pt;
  text-align: left;
  letter-spacing: 3pt;
  color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke: 1pt white;
  padding-right: 10pt;
  padding-left: 10pt;
  line-height: 1;
  width: 100%;
}

.moto-text {
  text-align: justify;
  font-size: 10pt;
  margin-top: 10pt;
  color: white;
}

.psolution-footer {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  bottom: 0;
  width: 100%;
  height: 40pt;
  font-size: 9pt;

  .psolution-footer-left {
    height: 100%;
    width: 50%;
    padding: 1% 3%;
    text-transform: uppercase;
  }

  .psolution-footer-right {
    height: 100%;
    width: 50%;
    padding: 1% 3%;
    text-transform: uppercase;
    text-align: right;
    z-index: -3;
  }
}




