$spacer: 16px;

.modal-body {
  font-family: Heebo;
  font-style: normal;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
}

.image-utilities {
  position: absolute;
  bottom: 2%;
  right: 3%;
}

.button-utilities {
  position: absolute;
  bottom: 2%;
}

img {
  object-fit: conatin;
  height: 100%;
  width: 100%;
}

.pre-next {
  padding-top: 18px;
  width: 103%;
}
::ng-deep{
  ngb-modal-window{
    background-color:rgba(0, 0, 0, 0.5);
  }
}

::ng-deep .form-control {
  font-size: 12px;
  height: 32px;
}

::ng-deep textarea  {
  font-size: 12px;
  min-height: 113px !important;
}

::ng-deep{
  .btn-link:hover {
    text-decoration: none;
  }
}

.btn-cultural {
  padding: 4pt 20pt;
  font-size: 0.8rem;
  font-weight: 500;
  height: $spacer*2;
  width: $spacer*6.25;
}

.rotate{
  background-color: #F0F1F7;
  border-radius: 4px;
  margin-left: 2px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 3px;
}

.edit-label {
  font-weight: 500;
  font-size: 11px;
  align-items: center;
  padding-left: 2rem;
  letter-spacing: 1px;
}

h5 {
  font-weight: 400;
}

.div-separator {
  border: 1px solid #DADEEB;
}

.file-data-label {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #C0C7DB;

}

.file-date-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}


.nextBtn {
  text-align: right;
  right: 0;
  position: absolute;
  color: white;
  font-weight: 600;
  letter-spacing: 1.0143px;
  cursor: pointer;
  bottom: -2.5rem;
  right: 0.75rem;
}

.prevBtn {
  position: absolute;
  color: white;
  font-weight: 600;
  letter-spacing: 1.0143px;
  cursor: pointer;
  bottom: -2.5rem;
  left: 0.75rem;
}


canvas {
  height: 100%;
  width: 100%;
}

.btn-container {
  background: #40465E;
  opacity: 0.4;
  border-radius: 8px;
  mix-blend-mode: normal;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 1;
  }
}

