<form [formGroup]="inviteForm">
  <div class="modal-header">
    <h3 class="modal-title font-weight-normal">Invite members to <strong> {{ company.name }} </strong></h3>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row mb-1">
      <div class="col-md-4">
        <label>Company Email Address</label>
      </div>
      <div class="col-md-4">
        <label>Role</label>
      </div>
      <div class="col-md-4">
        <label>Full Name(Optional)</label>
      </div>
    </div>
    <div class="row mb-3 " formArrayName="memberList" *ngFor="let members of memberList.controls; let i = index;">
      <div class="col-md-4" [formGroupName]="i">
        <app-input type="email" size="lg" formControlName="email" placeholder="name@company.com"></app-input>
      </div>
      <div class="col-md-4" [formGroupName]="i">
        <app-select formControlName="role" id="role" [placeholder]="'Select Role'">
          <option *ngFor="let role of roles"
                  [value]="role.id"
          >
            {{role.name}}
          </option>
        </app-select>
      </div>
      <div class="col-md-4" [formGroupName]="i">
        <div class="row align-items-center">
          <div class="col">
            <app-input type="email" size="lg" formControlName="fullName" placeholder="Optional"></app-input>
          </div>
          <div class="col-auto pl-0">
            <button type="button" class="close" (click)="deleteMemberArray(i)" *ngIf="showCloseIcon">
              <app-icon size="sm" type="gray" icon="trash"></app-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-icon size="md" icon="circular-add" class="sidebar__nav-icon"></app-icon>
        <app-button type="link" (click)="addMember()">Add Another Invite</app-button>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <app-button type="outline-primary" size="lg" (click)="openAddMultipleMember()">Add Multiple Members</app-button>
    <app-button size="lg" (click)="onSubmit()" [loading]="loading" [disabled]="inviteForm.invalid">Send Invitations</app-button>
  </div>
</form>

<ng-template #addMultipleMember let-modal>
  <div class="modal-header">
    <h3 class=" modal-title font-weight-normal">Invite members to <strong> {{company.name}} </strong></h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row mb-1">
      <div class="col">
        <p class="m-0" style="text-transform: none;">Enter email addresses of companies</p>
        <form class="form-group" [formGroup]="multipleMemberForm" #multipleMember>
          <textarea class="form-control form-control-lg" placeholder="name@company.com,"
                    formControlName="multipleInvites"> </textarea>
          <p class="m-0"><strong>Tip:</strong> Copy and paste a list of contacts from your email. Please separate
            multiple
            address with commas!</p>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <app-button type="outline-primary" size="lg" (click)="modal.dismiss()">Cancel</app-button>
    <app-button type="primary" size="lg" (click)="onMultipleMemberSubmit()" [loading]="loading">Add Members</app-button>
  </div>
</ng-template>
