<div class="structure-column"
  [class.structure-column--light]="background==='light'"
  [class.structure-column--dark]="background==='dark'"
>
  <div class="structure-column__header mb-2">Department</div>
  <div class="structure-column__content" id="department-content">
    <div class="structure-column__hline1" *ngIf="parentY && currentHeaderY && departments.length" [style.top]="(parentY-1) + 'px'"></div>
    <div class="structure-column__vline1" *ngIf="parentY && currentHeaderY && departments.length"
         [style.top]="((parentY > currentHeaderY ? currentHeaderY : parentY) - 1) + 'px'"
         [style.height]="((parentY > currentHeaderY ? parentY - currentHeaderY : currentHeaderY - parentY) + 1) + 'px'">

    </div>
    <div class="structure-column__hline2" *ngIf="parentY && currentHeaderY && departments.length" [style.top]="(currentHeaderY-1) + 'px'"></div>
    <div *ngIf="parentY" >
      <div class="my-2" *ngFor="let department of departments"
           (drop)="dropped(department)"
           (dragover)="allowDrop($event, department.id)"
           (dragleave)="dragLeft($event, department.id)"
      >
        <div class="user-card__btn">
          <button #groupHeader (click)="toggle(department.id, groupHeader)" [attr.data-id]="department.id"
                  [class.structure-column__card-header--open]="open[department.id]"
                  class="structure-column__card-header py-2  mb-4"
                  type="button">
            {{ department.name }}
            <span class="structure-column__delete" *ngIf="open[department.id]" (click)="OnOrgUnitDeleteBtnClick($event, department.id, groupHeader)">
               <div  class="btn btn-light text-uppercase edit-btn structure-column__delete-btn"> Remove</div>
            </span>
          </button>
        </div>
        <div [ngbCollapse]="!open[department.id]">
          <div *ngFor="let departmentLeader of sortedDepartments[department.id]">
            <div #userCardWrapper class="position-relative" (mouseenter)="showCardHoverOptions(departmentLeader)"
                 (mouseleave)="hideCardHoverOptions()"
                 (click)="onSelected(department, departmentLeader, userCard, groupHeader)">
              <div class="user-card-line user-card--right" *ngIf="departmentLeader?.id === selected?.id && showNextArrow"></div>
              <div class="user-card-cross-icon user-card--right" *ngIf="departmentLeader?.id === selected?.id && showNextArrow">
                <app-icon type="gray" icon="dodge-blue-circle-cross" (click)='onCardMemberDeleteBtnClick(departmentLeader?.user?.id)' class="user-card-cross-icon"></app-icon>
              </div>
              <div #userCard [attr.data-id]="departmentLeader?.id" class="user-card__items mb-4"
                   draggable="true"
                   (dragstart)="dragStartEvent($event, departmentLeader)"
                   (dragend)="dragEndEvent($event)">
                <app-user-card [active]="departmentLeader?.id === selected?.id" [user]="departmentLeader.user"
                               (onCardMemberDeleteBtnClicked)="onCardMemberDeleteBtnClick(departmentLeader?.user?.id)"
                               [dragging]="dragging"
                               [draggedId] = 'draggedId'
                ></app-user-card>
              </div>
            </div>
          </div>
          <div class="d-none move-here-text pb-4 department-move-here-line"
               [id]="'department-' + department.id + '-move-here-line'" style="pointer-events: none">
            <div class="d-flex justify-content-center mt-5">
              <div class="leadership-move-line move-here mr-3"></div>
              <div class="text-primary">MOVE HERE</div>
              <div class="leadership-move-line move-here ml-3"></div>
            </div>
          </div>
          <div class="user-card__btn mb-4">
            <app-user-card #newUserCard (click)="allowAddUser(department, newUserCard)" [active]="selectedNewUserCard===newUserCard"
                           [emptyUser]="true"></app-user-card>
          </div>
            <!-- <div class="my-1" *ngIf="!sortedDepartments[department.id]?.length">No users found.</div> -->
        </div>
      </div>
    </div>
    <!-- P > {{ parentY-120}} <br> -->
    <!-- C > {{currentHeaderY}}<br>
    S > {{currentY}}<br> -->
    <!-- {{selected | json}} -->

    <!-- <div class="my-4" *ngFor="let departmentGroup of sortedDepartments">
      <button #groupHeader type="button" class="structure-column__card-header" [class.structure-column__card-header--open]="!departmentGroup.collapse" (click)="departmentGroup.collapse = !departmentGroup.collapse">
        {{ departmentGroup.department.name }}
      </button>
      <div [ngbCollapse]="departmentGroup.collapse">
        <div class="my-1" *ngFor="let departmentLeader of departmentGroup.departmentLeaders">
          <div class="position-relative" (mouseenter)="showCardHoverOptions(departmentLeader)" (mouseleave)="hideCardHoverOptions()">
            <div class="user-card-line user-card--right" *ngIf="departmentLeader === selected"></div>
            <app-user-card [active]="departmentLeader === selected" [user]="departmentLeader.user" (click)="onSelected(departmentLeader, $event, groupHeader)"></app-user-card>
          </div>
        </div>
      </div>
    </div> -->
    <div class="user-card__btn">
      <app-button (click)="openDepartmentModal()" *ngIf="selectedleader" [block]="true" size="fullwidth"
                  type="light">CREATE DEPARTMENT
        <app-icon class="float-right" icon="downArrow" type="gray" size="sm"></app-icon>
      </app-button>
    </div>
  </div>
</div>
