$primary: #f48620;
$body-bg: #ECECEC;
$body-color: #121212;
$red: #D81F27;
$dodger-blue : #2f89fc;
$font-family-sans-serif: 'Heebo', sans-serif;

$headings-font-weight: 700;

$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

// $input-bg: transparent;

$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;

$custom-select-border-radius: 0;

$input-btn-padding-y-lg: .6rem;
$input-btn-border-width: 1px;
$input-border-color: #979797;
$input-color: #121212;

$input-focus-border-color: #121212;
$input-btn-focus-width: 0;

$form-feedback-margin-top:          0;
$form-group-margin-bottom:          1.5rem;

$modal-inner-padding: 1rem 2rem;

$modal-header-padding-y:            1rem;
$modal-header-padding-x:            2rem;
$modal-backdrop-bg: #bbb;
$modal-backdrop-opacity: .7;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;

$btn-font-weight: 700;
// ----

$card-spacer-y:                     .75rem !default;
$card-spacer-x:                     1rem !default;


$header-brand-width: 200px;
$header-height: 3.75rem;
//$sidebar-width: 200px;
//$sidebar-width: 200px;
$sidebar-width: 250px;
$sidebar-width-sm: 100px;
$sidebar-width-lg: 300px;
$sidebar-width-collapsed: 112px;
$playbook-bottombar-height: 250px;
$playbook-form-width: 270px;
//$playbook-form-width: 250px;
$company-form-width: 250px;
$playbook-bottombar-nav-height: 2.625rem;
//$playbook-app-secondary-header: 3rem;
$playbook-app-secondary-header: 44px;

$custom-checkbox-indicator-border-radius: none;

$card-border-radius:9px;
