<div class="container-fluid h-100">
  <div *ngIf="!showAddNewImage" class="row pt-3">
    <div class="col mx-2">
      <h4 class="gallery_header">My Galleries</h4>
    </div>
    <div class="col mr-4">
      <div class="text-right">
        <ng-container *ngTemplateOutlet="toggle"></ng-container>
      </div>
    </div>
  </div>
  <div class="row h-100">
    <div class="col gallery-list h-100 bg-gray">
      <div *ngIf="!showAddNewImage">
        <div class="row pl-5 gallery-list__images-container" *ngIf="galleries">
          <div class="col">
            <div class="row">
              <div class="col-2">
                <div class="gallery-list__directory gallery-list__directory__img-add" (click)="showAddNewImage=true">
                  <div class="gallery-list__directory-icon">
                    <div>
                      <app-icon icon="plus"  size="sm"></app-icon>
                    </div>
                  </div>
                  <div class="gallery-list__directory-name text-center">Add Photos</div>
                </div>
              </div>
              <div class="col-2" *ngFor="let q of quarters" (click)="getGalleries(year, q)"
              [class.active]="selectedYear === year && selectedQuarter === q">
                <div class="gallery-list__directory">
                  <!-- <div class="gallery-list__directory__images">
                  </div> -->
                  <img src="app/assets/images/login-image3.jpg">
                  <app-icon class="image-placeholder"  icon="image-placeholder"></app-icon>
                  <div class="gallery-list__directory-title text-center p-2">{{year}} - {{q}} Gallery </div>
                </div>


              <!-- <div class="gallery-sidebar__quarter">Q{{q}}</div> -->
              </div>
            </div>
          </div>
        </div>

      </div>
      <div *ngIf="showAddNewImage">
        <div class="row pt-3">
          <div class="col">
            <app-button (click)="showAddNewImage=false" type="link">&larr; Back to Galleries</app-button>
          </div>
          <div class="col text-center">
            <div class="pt-3 font-weight-bold">
              {{ selectedYear }} Q{{ selectedQuarter }}
            </div>
          </div>
          <div class="col pt-3 mr-4">
            <div class="text-right">
              <ng-container *ngTemplateOutlet="toggle"></ng-container>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div *ngIf="imageUploadStep===1">

              <div>
                <h4 class="text-center">
                  Add Your Photos
                </h4>
              </div>
              <div class="cultural-photos__upload-container text-center" appDragDrop (fileDropped)="uploadFile($event)">
                <div class="d-inline-block">
                  <div class="media align-items-center">
                    <app-icon icon="upload" size="lg" class="mr-2"></app-icon>
                    <div class="media-body">
                      <div>
                        Upload New Photos | Smaller than 10 MB
                      </div>
                      <div>
                        [Drag & Drop: .jpeg, .jpg, .png image]
                      </div>
                    </div>
                  </div>
                  <div class="mt-4">
                    <span class="btn btn-primary btn-file float-left">Choose Photos
                      <input type="file" (change)="uploadFile($event)">
                    </span>
                    <span class="btn btn-primary btn-directory float-right">Choose Folder
                      <input type="file" #folderInput webkitDirectory multiple (change)="uploadFolder(folderInput.files)"/>
                    </span>
                  </div>
                </div>
              </div>

              <div class="font-weight-bold text-center">{{files?.length || '0'}}
                Photo{{files?.length === 1 ? '' : 's'}} Selected.
              </div>
              <div class="files-list">
                <div class="file" *ngFor="let file of files; let i= index">
                  <img *ngIf="file" [src]="file.url">
                  <button type="button" class="close" aria-label="Close" (click)="deleteAttachment(i)">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>

              <div class="text-center mb-2">
                <!-- <app-button type="outline-primary" (click)="imageUploadStep=2" [disabled]="!files?.length">Next</app-button> -->
                <app-button type="outline-primary" (click)="addImage()" [disabled]="!files?.length">Upload
                </app-button>
              </div>
            </div>
            <div *ngIf="imageUploadStep===2">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <button class="btn btn-lg btn-gallery-selection" (click)="openExitingGallery(true)"
                            [class.active]="isCreateNewGallerySelected">
                      <app-icon icon="tiles-plus"></app-icon>
                      <div>
                        Create New Gallery
                      </div>
                    </button>
                    <div *ngIf="isCreateNewGallerySelected">
                      <div class="row mt-4">
                        <div class="col">
                          <input type="text" placeholder="Add gallery title" class="form-control"
                                 [(ngModel)]="galleryTitle" required="required">
                        </div>
                        <div class="col-auto">
                          <button class="btn btn-primary" (click)="createImage()">
                            Create
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <button class="btn btn-lg btn-gallery-selection" (click)="openExitingGallery(false)"
                            [class.active]="!isCreateNewGallerySelected">
                      <app-icon icon="tiles"></app-icon>
                      <div>
                        Add to Existing Gallery
                      </div>
                    </button>
                    <div *ngIf="!isCreateNewGallerySelected">
                      <div class="row mt-4">
                        <div class="col">
                          <select placeholder="select" class="custom-select" id="inputGroupSelect03"
                                  [(ngModel)]="galleryTitle">
                            <option selected>Choose Folder...</option>
                            <option *ngFor="let g of galleries" [value]="g.id">{{g.title}}</option>
                          </select>
                        </div>
                        <div class="col-auto">
                          <button class="btn btn-primary" (click)="addImage()">
                            Add Image
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="galleryTitle" *ngIf="!isCreateNewGallerySelected">
                  <option selected>Choose Year...</option>
                  <option *ngFor="let g of galleries" [value]="g.id">{{g.title}}</option>
                </select>
                <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="galleryTitle" *ngIf="!isCreateNewGallerySelected">
                  <option selected>Choose Quarter...</option>
                  <option *ngFor="let g of galleries" [value]="g.id">{{g.title}}</option>
                </select>
                <select class="custom-select" id="inputGroupSelect03" [(ngModel)]="galleryTitle" *ngIf="!isCreateNewGallerySelected">
                  <option selected>Choose Folder...</option>
                  <option *ngFor="let g of galleries" [value]="g.id">{{g.title}}</option>
                </select> -->

              </div>
              <div class="text-center mt-4">
                <app-button type="outline-primary" (click)="imageUploadStep=1">Back</app-button>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #toggle>
  <button class="btn" (click)="toggleBottomBarState()">
    <span class="gallery_view-type-header"> {{ bottomBarState === 'expanded' ? 'Collapse View' : 'Expand View' }} </span>
    <span class="mx-2 gallery_expanded-icon">
    <app-icon *ngIf="bottomBarState != 'expanded'" type="white" icon="full-gallery" size="sm"></app-icon>
    <app-icon *ngIf="bottomBarState == 'expanded'" type="white" icon="double-down" size="sm"></app-icon>
    </span>
  </button>
</ng-template>

