<div class="page-container">
  <div class="wn-page-tag">OVERVIEW</div>

  <div class="left-page">
    <div class="left-page__header">
      <div class="left-page__header--logo" (click)="loadForm('image-form', 'logo')">
        <div [style.backgroundImage]="page?.data?.whatsNew?.logoUrl ? 'url(' + page?.data?.whatsNew?.logoUrl  + ')' : ''"
             style="height: 65pt; width: 90pt; background-position: center center; background-repeat: no-repeat; background-size: cover"
             *ngIf="page?.data?.whatsNew?.logoUrl; else logo">
        </div>
      </div>
      <div class="left-page__header--quarter" (click)="loadForm('single-line-text', 'titleSubtitle')">
        <span *ngIf="page?.data?.titleSubtitle?.text; else subtitle">{{ page?.data?.titleSubtitle?.text}}</span>
      </div>
      <div class="left-page__header--title" (click)="loadForm('single-line-text', 'whatsNew')">
        <span *ngIf="page?.data?.whatsNew?.text; else title">{{ page?.data?.whatsNew?.text}}</span>
      </div>
    </div>

    <div class="left-page__sub-title">
      <div class="left-page__sub-title--content" (click)="loadForm('multi-line-text', 'whatsNewSubtitle')">
        <span *ngIf="page?.data?.whatsNewSubtitle?.text else newSubtitle">{{page?.data?.whatsNewSubtitle?.text}}</span>
      </div>
    </div>

    <div class="left-page__body">
      <div class="left-page__body--content" (click)="loadForm('multi-line-text', 'whatsNewParagraph')">
        <span *ngIf="page?.data?.whatsNewParagraph?.text else newParagraph">{{page?.data?.whatsNewParagraph?.text}}</span>
      </div>
    </div>
  </div>

  <div class="right-page">
    <div class="right-page__col1">
      <div class="right-page__col1__caption" (click)="loadForm('multi-line-text', 'whatsNewCaption')">
        <span *ngIf="page?.data?.whatsNewCaption?.text else newCaption">{{page?.data?.whatsNewCaption?.text}}</span>
      </div>
      <div class="right-page__col1__image">
        <div class="right-page__col1__image--one" (click)="loadForm('image-form', 'whatsNewImage1')">
          <div [style.backgroundImage]="page?.data?.whatsNewImage1?.imageurl ? 'url(' + page?.data?.whatsNewImage1?.imageurl  + ')' : ''"
               class="image-background" *ngIf="page?.data?.whatsNewImage1; else whatsNewImage1"></div>
        </div>
        <div class="right-page__col1__image--two" (click)="loadForm('image-form', 'whatsNewImage2')">
          <div [style.backgroundImage]="page?.data?.whatsNewImage2?.imageurl ? 'url(' + page?.data?.whatsNewImage2?.imageurl  + ')' : ''"
               class="image-background" *ngIf="page?.data?.whatsNewImage2; else whatsNewImage2"></div>
        </div>
      </div>
    </div>

    <div class="right-page__col2">
      <div class="right-page__col2--image1" (click)="loadForm('image-form', 'whatsNewImage3')">
        <div [style.backgroundImage]="page?.data?.whatsNewImage3?.imageurl ? 'url(' + page?.data?.whatsNewImage3?.imageurl  + ')' : ''"
             class="image-background" *ngIf="page?.data?.whatsNewImage3; else whatsNewImage3"></div>
      </div>
      <div class="right-page__col2--image2" (click)="loadForm('image-form', 'whatsNewImage4')">
        <div [style.backgroundImage]="page?.data?.whatsNewImage4?.imageurl ? 'url(' + page?.data?.whatsNewImage4?.imageurl  + ')' : ''"
             class="image-background" *ngIf="page?.data?.whatsNewImage3; else whatsNewImage4"></div>
      </div>
    </div>
  </div>

  <div class="whatnew-footer">
    <div class="whatnew-footer-left">
      <span> <b> {{pageNumber * 2 }} </b> | {{playBook.title}} | Q{{playBook.quarter}}-{{playBook.year}}</span>
    </div>
    <div class="whatnew-footer-right">
      <span>Q{{playBook.quarter}}-{{playBook.year}} | {{playBook.title}} | <b>{{pageNumber * 2 + 1 }}</b></span>
    </div>
  </div>


  <div class="footer"></div>
  <div class="border-overlay"></div>
</div>

<ng-template #newSubtitle>
  <span (click)="loadForm('multi-line-text', 'whatsNewSubtitle')">
      Cras mattis consectetur purus sit amet fermentum. Cum sociis
      natoque penatibus et magnis dis parturient montes, nascetur.
  </span>
</ng-template>
<ng-template #newParagraph>
  <span (click)="loadForm('multi-line-text', 'whatsNewParagraph')">
      que et velestist que non nonseque nim nis inis aut qui corem volesti dolore
      cumque ab id eum re re dolorio nserrum aut incta estia sitatecto eossum
      eiundio blatur sam evellen dipsam que volupie nimporem voluptat ea
      duntur, quis es re dolupicto volore pore ped quossum adi dis doluptur,
      eium nessequi sit aut eaqui dia voluptatet qui ut quae et estiationse
      nonsequiatur abores dionecaecum que magnate cuptasi optatus iur ad
      eatur sum que excepro tectem. Et repudit verro optatur? Explibus aut
      mos est volecabo. Ist minciist quibus, testest prorerionsed est evenimi
      libera voloreria volupta sande persper spereic tatureptatin nobissi
      mporrum eturibe rnatquo iur renis rem dissund igendit idis quibusam fugia
      nonecerrunt.

      Seceatiunt. Videmque ex estrupta volupiciis dolessi nvendant rerrori buscim
      con eos pe sament haritatem facimin veribus, et et odis ea ped ut dolorro
      eius eum nectustis aut ilibus doloribus senimus apis reperuptur rem in pra
      doluptatur sum fuga. Illorro volores excerrorem amus eum evelita tiatium
      quiatur autesec tectem et eum hil ium ad magni id quatio bea cum vel et
      dolut mo optas enditius coriassit et que eum, num ero experit et molentus,
      que opta volor sapellu piscienis endessit, cuptas excerroris ellenim laut
      facimusa dolorer ibusam fugiam illa a comnimi, quiam faccull uptatem
      quatur maxima nonsed quod eumquis dit re re nis eum eiRatem fugia nist,
  </span>
</ng-template>
<ng-template #newCaption>
  <span>
      Cras mattis consectetur purus sit amet
      fermentum. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus.
  </span>
</ng-template>
<ng-template #title>
  WHAT'S NEW
</ng-template>
<ng-template #subtitle>
  3rd quarter
</ng-template>
<ng-template #logo>
  <div
    style="background-image: url('app/assets/images/playbook/whatsnewlogo.png'); height: 65pt; width: 90pt;  background-position: center center; background-repeat: no-repeat; background-size: cover"></div>
</ng-template>
<ng-template #whatsNewImage1>
  <div class="image-background"
       style="background-image: url('app/assets/images/playbook/whatsnew1.png')"></div>
</ng-template>
<ng-template #whatsNewImage2>
  <div class="image-background" style="background-image: url('app/assets/images/playbook/whatsnew2.png')"></div>
</ng-template>
<ng-template #whatsNewImage3>
  <div class="image-background" style="background-image: url('app/assets/images/playbook/whatsnew3.png')"></div>
</ng-template>
<ng-template #whatsNewImage4>
  <div class="image-background" style="background-image: url('app/assets/images/playbook/whatsnew4.png')"></div>
</ng-template>
