<!--New design will come. And we will replace this page-->
<div style="width: 100%; height: calc(100vh - 60px);">

</div>


<!--<div class="page-dashboard">-->
<!--  <app-sidebar theme="light" size="md" [showToggle]="false">-->
<!--    <app-nav-accordion>-->
<!--      <app-nav-accordion-item>-->
<!--        <app-nav-accordion-header type="page-link" [routerLink]="['/dashboard/personal']">Personal Overview</app-nav-accordion-header>-->
<!--      </app-nav-accordion-item>-->
<!--      <app-nav-accordion-item>-->
<!--        <app-nav-accordion-header type="page-link">Company Overview</app-nav-accordion-header>-->
<!--      </app-nav-accordion-item>-->
<!--      <app-nav-accordion-item>-->
<!--        <app-nav-accordion-header type="page-link">Weekly Check-In</app-nav-accordion-header>-->
<!--      </app-nav-accordion-item>-->
<!--    </app-nav-accordion>-->
<!--  </app-sidebar>-->
<!--  -->
<!--  <div class="content" [class.content&#45;&#45;sidebar-md]="sidebarCollapsed" [class.content&#45;&#45;sidebar-collapsed]="!sidebarCollapsed">-->
<!--    <div class="container-fluid">-->
<!--      <div class="bg-secondary row align-items-center" style="height: auto; padding: 8px 5px;">-->
<!--        <div class="col-md-2">-->
<!--          <div class="text-white font-weight-bold">{{currentDate | date:'MMMM dd, yyyy'}}</div>-->
<!--        </div>-->
<!--        <div class="col-md-7">-->
<!--          <div class="text-white float-right">Only <strong>10 Days Left</strong> to Submit Any Cultural Photos</div>-->
<!--        </div>-->
<!--        <div class="col-md-3" style="padding-left: 30px;">-->
<!--          <app-button type="primary" className="btn&#45;&#45;flatRound" [routerLink]="['/cultural-photos']"><strong>Upload Culture Photos</strong>-->
<!--          </app-button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->

<!--</div>-->

