<form [formGroup]="locationForm">
  <div class="modal-header">
    <h3 class="modal-title font-weight-normal"><strong> Add Location </strong> </h3>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body py-0">
    <app-input class="form-group" formControlName="locationName" placeholder="Location Name"></app-input>
  </div>
  <div class="modal-footer d-block">
    <app-button [block]="true" (click)="onSubmit()" [loading]="loading">Submit</app-button>
  </div>
</form>
