<div class="page-playbooks-list">
  <app-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col px-0">
          <app-playbook-accordion [playBooksdata]="playBookdata" (playbookDetail)="onSelected($event)"
                                  [isAdmin]="isAdmin"
                                  [isEditorPage]="isEditorPage()"
          ></app-playbook-accordion>
        </div>
        <div class="col-auto px-0" *ngIf="isAdmin">
          <app-playbook-detail [data]="playBookDetailData" *ngIf="playBookDetailData"></app-playbook-detail>
        </div>
      </div>
    </div>
  </app-content>
</div>
