<div class="playbook__playbook-form pt-4" [class.playbook__sidebar-right-collapsed]="sidebarFormCollapsed">
  <div class="sidebar-right-toggle" (click)="toggleFormSidebar()" title="{{sideIcon ? 'Hide Sidebar' : 'Show Sidebar'}}" *ngIf="showIcon">
    <app-icon size="sm" type="grey" icon="{{ sideIcon?'sideRight':'sideLeft' }}"></app-icon>
  </div>
  <div *ngIf="!sidebarFormCollapsed">
    <div class="rightSidebarItems-1 edit text-center" *ngIf="activeForm && activeForm.code">
      Edit
    </div>
    <app-employee-bio *ngIf="activeForm?.code==='employee-bio'" [initialFormData]="activeForm.formData"></app-employee-bio>
    <app-toc-form *ngIf="activeForm?.code==='toc'" [initialFormData]="activeForm.formData"></app-toc-form>
    <app-image-form *ngIf="activeForm?.code==='image-form'" [initialFormData]="activeForm.formData"></app-image-form>
    <app-single-line-text *ngIf="activeForm?.code==='single-line-text'" [initialFormData]="activeForm.formData"></app-single-line-text>
    <app-multi-line-text *ngIf="activeForm?.code==='multi-line-text'" [initialFormData]="activeForm.formData"></app-multi-line-text>
    <app-array-form *ngIf="activeForm?.code==='array-form'" [initialFormData]="activeForm.formData"></app-array-form>
    <app-two-array-form *ngIf="activeForm?.code==='two-array-form'" [initialFormData]="activeForm.formData"></app-two-array-form>
    <app-playbook-detail-form *ngIf="activeForm?.code==='playbook-detail'" [initialFormData]="activeForm.formData"></app-playbook-detail-form>

    <div class="playbook-form-rightSidebar" *ngIf="!activeForm || !activeForm?.code">
      <div class="rightSidebarItems-1 text-center">
        Welcome
      </div>
      <div class="rightSidebarItems-body rightSidebarItems-2">
        Welcome to your Playbook!
      </div>
      <div class="rightSidebarItems-body rightSidebarItems-3">
        Select the component to the left to begin adding content.
      </div>
    </div>
  </div>
</div>
