.page-structure {
  &__user-list {
    list-style-type: none;
    color: white;
  }
}

::ng-deep .employee .user-card {
  margin: 1rem 1rem 4px;
}

::ng-deep .move-here {
  width: 6rem;
  height: 0.2rem;
  border-bottom: 5px solid #4da6ff;
  margin-top: 6px;
  border-radius: 4px;
  margin-right: 34px;
}

::ng-deep .move-here-text {
  font-size: 12px;
}
