.goals-container {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: 120% 124%;
  background-repeat: no-repeat;
  padding: 10% 0 0 0;
}

.goals-header {
  width: 100%;
  height: 20%;
}

.goals-subhead-title {
  width: 100%;
  height: 80%;
  text-align: center;
  letter-spacing: 4pt;
  line-height: 1;
  font-size: 100pt;
  -webkit-text-stroke: 2pt white;
  color: transparent;
  text-transform: uppercase;
}

.goals-subhead {
  font-weight: 900;
  text-transform: uppercase;
  width: 100%;
  height: auto;
  text-align: center;
  letter-spacing: 5pt;
  font-size: 14pt;
  color: #fff;
}

.goals-content {
  width: 100%;
  height: 60%;
  position: relative;
}

.goals-content-cards {
  width: 80mm;
  height: 20mm;
  display: flex;
  flex-flow: row nowrap;
}

.goal-img {
  width: 25%;
  height: 100%;
  text-align: center;
}

.goal-info {
  padding: 1%;
  width: 75%;
  height: 100%;
}

.goal-title {
  font-size: 10pt;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  line-height: 1;
}

.goal-number {
  font-size: 22pt;
  line-height: initial;
  text-transform: uppercase;
  color: white;
}

.goal-1 {
  position: absolute;
  top: 18%;
  right: 5%;
}

.goal-2 {
  position: absolute;
  top: 49%;
  right: 2%;
}

.goal-3 {
  position: absolute;
  top: 50%;
  right: 21%;
}

.goal-4 {
  position: absolute;
  top: 67%;
  right: 17%;
}

.goal-5 {
  position: absolute;
  top: 84%;
  left: 75%;
}

.goal-6 {
  position: absolute;
  top: 94%;
  left: 62%;
}
.goal-7 {
  position: absolute;
  top: 96%;
  left: 44%;
}
.goal-8 {
  position: absolute;
  top: 85%;
  left: 29%;
}
.goal-9 {
  position: absolute;
  top: 70%;
  left: 19%;
}
.goal-10 {
  position: absolute;
  top: 54%;
  left: 7%;
}

.goals-headline {
  width: 100%;
  height: 20%;
  padding: 1% 5%;
}

.goals-headline-title {
  width: auto;
  font-weight: bold;
  font-size: 11pt;
  line-height: 2;
  color: white;
  text-transform: uppercase;
}

.goals-headline-body {
  width: 23%;
  font-size: 10pt;
  color: white;
}

.goals-footer {

}

.goals-page-tag {
  background: green;
  color: #fff;
  position: absolute;
  right: 40pt;
  top: 0;
  font-size: 10pt;
  padding: 25pt 4pt;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 3pt;
}
@media  screen and  (max-width:1039.98px){
  .goals-subhead-title{
    font-size: 20pt;
  }
  .goals-subhead{
    font-size: 10pt;
  }
  .goals-headline-title{
    font-size: 10pt;
  }
  .goals-headline-body{
    font-size: 8pt;
  }
  .goal-number{
    font-size: 8pt;
  }
  .goal-title{
    font-size: 8pt;
  }

  .goal-img{
    width: 10%;
  }

  .goal-1 {
    top: 5px;
    right: -22%;
  }
}

@media (min-width:900px) and  (max-width:1039.98px){
  .goal-1 {
    top: 5px;
    right: -22%;
  }

  .goal-2 {
    top: 12px;
    right: -9%;
  }

  .goal-3 {
    top: 1rem;
    right: 5%;
  }

  .goal-4 {
    top: 2.5rem;
    right: -2%;
  }

  .goal-5 {
    top: 4rem;
    left: 74%;
  }

  .goal-6 {
    top: 5.7rem;
    left: 65%;
  }
  .goal-7 {
    top: 4rem;
    left: 46%;
  }
  .goal-8 {
    top: 6rem;
    left: 35%;
  }
  .goal-9 {
    top: 3rem;
    left: 24%
  }
  .goal-10 {
    top: 1rem;
    left: 9%;
  }
}

@media (min-width:800px)  and (max-width:899.98px){
  .goal-1 {
    top: 18px;
    right: -29%;
  }

  .goal-2 {
    top: 22px;
    right: -16%;
  }

  .goal-3 {
    top: 1rem;
    right: 5%;
  }

  .goal-4 {
    top: 2rem;
    right: 1%;
  }

  .goal-5 {
    top: 4.0rem;
    left: 72%;
  }

  .goal-6 {
    top: 6rem;
    left: 73%;
  }
  .goal-7 {
    top: 5.2rem;
    left: 46%;
  }
  .goal-8 {
    top: 6.9rem;
    left: 35%;
  }
  .goal-9 {
    top: 3rem;
    left: 24%
  }
  .goal-10 {
    top: 1rem;
    left: 9%;
  }
}

@media (min-width:750px) and (max-width:799.98px) {
  .goal-1 {
    top: 33px;
    right: -33%;
  }

  .goal-2 {
    top: 37px;
    right: -16%;
  }

  .goal-3 {
    top: 2.4rem;
    right: -3%;
  }

  .goal-4 {
    top: 4.4rem;
    right: -13%;
  }

  .goal-5 {
    top: 6.5rem;
    left: 76%;
  }

  .goal-6 {
    top: 7.1rem;
    left: 58%;
  }
  .goal-7 {
    top: 5.6rem;
    left: 42%;
  }
  .goal-8 {
    top: 6.9rem;
    left: 28%;
  }
  .goal-9 {
    top: 4.5rem;
    left: 24%;
  }
  .goal-10 {
    top: 2.1rem;
    left: 9%;
  }
}

@media screen and (max-width:749.98px) {
  .goal-1 {
    top: 33px;
    right: -33%;
  }

  .goal-2 {
    top: 37px;
    right: -16%;
  }

  .goal-3 {
    top: 2.4rem;
    right: -3%;
  }

  .goal-4 {
    top: 4.4rem;
    right: -13%;
  }

  .goal-5 {
    top: 6.5rem;
    left: 76%;
  }

  .goal-6 {
    top: 7.1rem;
    left: 58%;
  }
  .goal-7 {
    top: 5.6rem;
    left: 42%;
  }
  .goal-8 {
    top: 6.9rem;
    left: 28%;
  }
  .goal-9 {
    top: 4.5rem;
    left: 24%;
  }
  .goal-10 {
    top: 2.1rem;
    left: 9%;
  }
}
