<div class="goals-container"
     [style.backgroundImage]="page?.data?.goalsBackground?.imageurl ? 'url(' + page?.data?.goalsBackground?.imageurl  + ')' : 'url(app/assets/images/playbook/goals.jpg)'"
     (click)="loadForm('image-form', 'goalsBackground')">
  <div class="goals-page-tag">STRATEGY</div>
  <div class="goals-header">
    <div class="goals-subhead-title" (click)="loadForm('single-line-text', 'goalsSubheadTitle', $event)">
      <span *ngIf="page?.data?.goalsSubheadTitle?.text; else newGoalsSubheadTitle">{{page?.data?.goalsSubheadTitle?.text}}</span>
    </div>
    <div class="goals-subhead" (click)="loadForm('single-line-text', 'goalsSubhead', $event)">
      <span *ngIf="page?.data?.goalsSubhead?.text; else newGoalsSubhead">{{page?.data?.goalsSubhead?.text}}</span>
    </div>
  </div>
  <div class="goals-content">
    <div class="goals-content-cards goal-1" *ngIf="page?.data?.title1?.text && page?.data?.description1?.text">
      <div class="goal-img d-none d-lg-block d-xl-block">
        <app-icon icon="goals-dot" type="white" size="xl"></app-icon>
      </div>
      <div class="goal-img d-block d-lg-none d-xl-none">
        <app-icon icon="goals-dot" type="white" size="md"></app-icon>
      </div>
      <div class="goal-info">
        <div class="goal-title" (click)="loadForm('single-line-text', 'title1', $event)">
          <span *ngIf="page?.data?.title1?.text; else newGoal1">{{page?.data?.title1?.text | slice: 0: 40}}</span>
        </div>
        <div class="goal-number" (click)="loadForm('single-line-text', 'description1', $event)">
          <span *ngIf="page?.data?.description1?.text; else newGoal1Num">${{page?.data?.description1?.text | slice: 0: 20}}</span>
        </div>
      </div>
    </div>
    <div class="goals-content-cards goal-2" *ngIf="page?.data?.title2?.text && page?.data?.description2?.text">
      <div class="goal-img d-none d-lg-block d-xl-block">
        <app-icon icon="goals-dot" type="white" size="xl"></app-icon>
      </div>
      <div class="goal-img d-block d-lg-none d-xl-none">
        <app-icon icon="goals-dot" type="white" size="md"></app-icon>
      </div>
      <div class="goal-info">
        <div class="goal-title" (click)="loadForm('single-line-text', 'title2', $event)">
          <span *ngIf="page?.data?.title2?.text; else newGoal2">{{page?.data?.title2?.text | slice: 0: 40}}</span>
        </div>
        <div class="goal-number" (click)="loadForm('single-line-text', 'description2', $event)">
          <span *ngIf="page?.data?.description2?.text; else newGoal2Num">{{page?.data?.description2?.text | slice: 0: 20}}</span>
        </div>
      </div>
    </div>
    <div class="goals-content-cards goal-3" *ngIf="page?.data?.title3?.text && page?.data?.description3?.text">
      <div class="goal-img d-none d-lg-block d-xl-block">
        <app-icon icon="goals-dot" type="white" size="xl"></app-icon>
      </div>
      <div class="goal-img d-block d-lg-none d-xl-none">
        <app-icon icon="goals-dot" type="white" size="md"></app-icon>
      </div>
      <div class="goal-info">
        <div class="goal-title" (click)="loadForm('single-line-text', 'title3', $event)">
          <span *ngIf="page?.data?.title3?.text; else newGoal3">{{page?.data?.title3?.text | slice: 0: 40}}</span>
        </div>
        <div class="goal-number" (click)="loadForm('single-line-text', 'description3', $event)">
          <span *ngIf="page?.data?.description3?.text; else newGoal3Num">{{page?.data?.description3?.text |slice: 0: 20}}</span>
        </div>
      </div>
    </div>
    <div class="goals-content-cards goal-4" *ngIf="page?.data?.title4?.text && page?.data?.description4?.text">
      <div class="goal-img d-none d-lg-block d-xl-block">
        <app-icon icon="goals-dot" type="white" size="xl"></app-icon>
      </div>
      <div class="goal-img d-block d-lg-none d-xl-none">
        <app-icon icon="goals-dot" type="white" size="md"></app-icon>
      </div>
      <div class="goal-info">
        <div class="goal-title" (click)="loadForm('single-line-text', 'title4', $event)">
          <span *ngIf="page?.data?.title4?.text; else newGoal4">{{page?.data?.title4?.text |slice: 0: 40}}</span>
        </div>
        <div class="goal-number" (click)="loadForm('single-line-text', 'description4', $event)">
          <span *ngIf="page?.data?.description4?.text; else newGoal4Num">{{page?.data?.description4?.text | slice: 0: 20}}</span>
        </div>
      </div>
    </div>
    <div class="goals-content-cards goal-5" *ngIf="page?.data?.title5?.text && page?.data?.description5?.text">
      <div class="goal-img d-none d-lg-block d-xl-block">
        <app-icon icon="goals-dot" type="white" size="xl"></app-icon>
      </div>
      <div class="goal-img d-block d-lg-none d-xl-none">
        <app-icon icon="goals-dot" type="white" size="md"></app-icon>
      </div>
      <div class="goal-info">
        <div class="goal-title" (click)="loadForm('single-line-text', 'title5', $event)">
          <span *ngIf="page?.data?.title5?.text; else newGoal5">{{page?.data?.title5?.text | slice: 0: 40}}</span>
        </div>
        <div class="goal-number" (click)="loadForm('single-line-text', 'description5', $event)">
          <span *ngIf="page?.data?.description5?.text; else newGoal5Num">{{page?.data?.description5?.text | slice: 0: 20}}</span>
        </div>
      </div>
    </div>
    <div class="goals-content-cards goal-6" *ngIf="page?.data?.title6?.text && page?.data?.description6?.text">
      <div class="goal-img d-none d-lg-block d-xl-block">
        <app-icon icon="goals-dot" type="white" size="xl"></app-icon>
      </div>
      <div class="goal-img d-block d-lg-none d-xl-none">
        <app-icon icon="goals-dot" type="white" size="md"></app-icon>
      </div>
      <div class="goal-info">
        <div class="goal-title" (click)="loadForm('single-line-text', 'title6', $event)">
          <span *ngIf="page?.data?.title6?.text; else newGoal6">{{page?.data?.title6?.text | slice: 0: 40}}</span>
        </div>
        <div class="goal-number" (click)="loadForm('single-line-text', 'description6', $event)">
          <span *ngIf="page?.data?.description6?.text; else newGoal6Num">{{page?.data?.description6?.text | slice: 0: 20}}</span>
        </div>
      </div>
    </div>

    <div class="goals-content-cards goal-7" *ngIf="page?.data?.title7?.text && page?.data?.description7?.text">
      <div class="goal-img d-none d-lg-block d-xl-block">
        <app-icon icon="goals-dot" type="white" size="xl"></app-icon>
      </div>
      <div class="goal-img d-block d-lg-none d-xl-none">
        <app-icon icon="goals-dot" type="white" size="md"></app-icon>
      </div>
      <div class="goal-info">
        <div (click)="loadForm('single-line-text', 'title7', $event)" class="goal-title">
          <span *ngIf="page?.data?.title7?.text; else newGoal7">{{page?.data?.title7?.text | slice: 0: 40}}</span>
        </div>
        <div (click)="loadForm('single-line-text', 'description7', $event)" class="goal-number">
          <span *ngIf="page?.data?.description7?.text; else newGoal7Num">{{page?.data?.description7?.text | slice: 0: 20}}</span>
        </div>
      </div>
    </div>
    <div class="goals-content-cards goal-8" *ngIf="page?.data?.title8?.text && page?.data?.description8?.text">
      <div class="goal-img d-none d-lg-block d-xl-block">
        <app-icon icon="goals-dot" type="white" size="xl"></app-icon>
      </div>
      <div class="goal-img d-block d-lg-none d-xl-none">
        <app-icon icon="goals-dot" type="white" size="md"></app-icon>
      </div>
      <div class="goal-info">
        <div (click)="loadForm('single-line-text', 'title8', $event)" class="goal-title">
          <span *ngIf="page?.data?.title8?.text; else newGoal8">{{page?.data?.title8?.text | slice: 0: 40}}</span>
        </div>
        <div (click)="loadForm('single-line-text', 'description8', $event)" class="goal-number">
          <span *ngIf="page?.data?.description8?.text; else newGoal8Num">{{page?.data?.description8?.text | slice: 0: 20}}</span>
        </div>
      </div>
    </div>

    <div class="goals-content-cards goal-9" *ngIf="page?.data?.title9?.text && page?.data?.description9?.text">
      <div class="goal-img d-none d-lg-block d-xl-block">
        <app-icon icon="goals-dot" type="white" size="xl"></app-icon>
      </div>
      <div class="goal-img d-block d-lg-none d-xl-none">
        <app-icon icon="goals-dot" type="white" size="md"></app-icon>
      </div>
      <div class="goal-info">
        <div (click)="loadForm('single-line-text', 'title9', $event)" class="goal-title">
          <span *ngIf="page?.data?.title9?.text; else newGoal9">{{page?.data?.title9?.text | slice: 0: 40}}</span>
        </div>
        <div (click)="loadForm('single-line-text', 'description9', $event)" class="goal-number">
          <span *ngIf="page?.data?.description9?.text; else newGoal9Num">{{page?.data?.description9?.text | slice: 0: 20}}</span>
        </div>
      </div>
    </div>

    <div class="goals-content-cards goal-10" *ngIf="page?.data?.title10?.text && page?.data?.description10?.text">
      <div class="goal-img d-none d-lg-block d-xl-block">
        <app-icon icon="goals-dot" type="white" size="xl"></app-icon>
      </div>
      <div class="goal-img d-block d-lg-none d-xl-none">
        <app-icon icon="goals-dot" type="white" size="md"></app-icon>
      </div>
      <div class="goal-info">
        <div (click)="loadForm('single-line-text', 'title10', $event)" class="goal-title">
          <span *ngIf="page?.data?.title10?.text; else newGoal10">{{page?.data?.title10?.text | slice: 0: 40}}</span>
        </div>
        <div (click)="loadForm('single-line-text', 'description10', $event)" class="goal-number">
          <span *ngIf="page?.data?.description10?.text; else newGoal10Num">{{page?.data?.description10?.text | slice: 0: 20}}</span>
        </div>
      </div>
    </div>

  </div>
  <div class="goals-headline">
    <div class="goals-headline-title" (click)="loadForm('single-line-text', 'goalsHeadline', $event)">
      <span *ngIf="page?.data?.goalsHeadline?.text; else newHeadline">{{page?.data?.goalsHeadline?.text}}</span>
    </div>
    <div class="goals-headline-body" (click)="loadForm('multi-line-text', 'goalsHeadlineBody', $event)">
      <span *ngIf="page?.data?.goalsHeadlineBody?.text; else newHeadlineBody">{{page?.data?.goalsHeadlineBody?.text}}</span>
    </div>
  </div>
  <div class="border-overlay"></div>
</div>

<ng-template #newGoalsSubheadTitle>{{playBook.year}} goals</ng-template>
<ng-template #newGoalsSubhead>subheadline goes here</ng-template>

<ng-template #newGoal1>overcome core goal</ng-template>
<ng-template #newGoal1Num>$780,000</ng-template>

<ng-template #newGoal2>Crc Signups</ng-template>
<ng-template #newGoal2Num>$330,000</ng-template>

<ng-template #newGoal3>Net Revenue</ng-template>
<ng-template #newGoal3Num>$12,110,966</ng-template>

<ng-template #newGoal4>Credit Repair Paid Sales</ng-template>
<ng-template #newGoal4Num>$4575</ng-template>

<ng-template #newGoal5>Credit Repair Paid Sales</ng-template>
<ng-template #newGoal5Num>$330,000</ng-template>

<ng-template #newGoal6>Credit Repair Paid Sales</ng-template>
<ng-template #newGoal6Num>$330,000</ng-template>

<ng-template #newGoal7>Credit Repair Paid Sales</ng-template>
<ng-template #newGoal7Num>$330,000</ng-template>

<ng-template #newGoal8>Credit Repair Paid Sales</ng-template>
<ng-template #newGoal8Num>$330,000</ng-template>

<ng-template #newGoal9>Credit Repair Paid Sales</ng-template>
<ng-template #newGoal9Num>$330,000</ng-template>

<ng-template #newGoal10>Credit Repair Paid Sales</ng-template>
<ng-template #newGoal10Num>$330,000</ng-template>

<ng-template #newHeadline>
  headline goes here
</ng-template>

<ng-template #newHeadlineBody>
  Nullam id dolor id nibh ultricies vehicula ut id elit. Sed
  posuere consectetur est at lobortis. Donec id elit non mi
  porta gravida at eget metus. Vivamus sagittis lacus vel
  augue laoreet rutrum faucibus dolor auctor.
</ng-template>
