.dropdown-toggle::after {
  display: none;
}

.page-title {
  display: flex;
}

.special-navigation {
  width: 23%;
  font-size: 12px;
  line-height: 4px;
  text-transform: uppercase;
}


.side-text {
  padding-left: 5.0rem;

  a{
    color: #FFF;

    &:hover {
      text-decoration: none;
    }
  }

  &.text-muted a{
    color: #6c757d ;
  }

}

.slanted-icon {
  margin-left: 60px;
}


.goals-list {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 9px;
  letter-spacing: 0.8px;
  color: #E0E0E0;
  
  a:hover{
    text-decoration: none;
  }

  &__item {
    padding-left: 1.25rem;
    color: #FEC400;
  }
}

.notification {
  position: absolute;
  right: 10px;
  border-radius: 4px;
  top: 4rem;
  width: 20rem;
}

.notification-length {
  position: absolute;
  top: 5px;
  right: 4rem;
  color: white;
  font-size: 12px;
  background: red;
  padding: 1px 6px;
  border-radius: 12px;
  text-align: center;
}

.notification-item {
  cursor: pointer;
}

.min-width-17-rem {
  min-width: 17rem;
}

.notification-list-group {
  min-width: 100px;
  overflow: auto;
  max-height: 90vh;
}
