<div class="year-quarter">
  <div class="year-quarter-filter__button-group-filter" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn year-quarter__btn-quarter" [class.year-quarter__btn-quarter--active]="quarter===''" (click)="selectedQuarter('')">ALL</button>
    <button type="button" class="btn year-quarter__btn-quarter" [class.year-quarter__btn-quarter--active]="quarter===1" (click)="selectedQuarter(1)">Q1</button>
    <button type="button" class="btn year-quarter__btn-quarter" [class.year-quarter__btn-quarter--active]="quarter===2" (click)="selectedQuarter(2)">Q2</button>
    <button type="button" class="btn year-quarter__btn-quarter" [class.year-quarter__btn-quarter--active]="quarter===3" (click)="selectedQuarter(3)">Q3</button>
    <button type="button" class="btn year-quarter__btn-quarter" [class.year-quarter__btn-quarter--active]="quarter===4" (click)="selectedQuarter(4)">Q4</button>

    <div ngbDropdown class="year-quarter__dropdown">
        <button type="button" class="btn year-quarter__dropdown__single-button" ngbDropdownToggle>
          {{ year }}
        </button>
        <div ngbDropdownMenu class="year-quarter-filter__dropdown-menu">
          <a ngbDropdownItem class="year-quarter-filter__dropdown-item" (click)="selectedYear(2020)">2020</a>
          <a ngbDropdownItem class="year-quarter-filter__dropdown-item" (click)="selectedYear(2019)">2019</a>
          <a ngbDropdownItem class="year-quarter-filter__dropdown-item" (click)="selectedYear(2018)">2018</a>
          <a ngbDropdownItem class="year-quarter-filter__dropdown-item" (click)="selectedYear(2017)">2017</a>
      </div>
    </div>
  </div>
</div>
