<form [formGroup]="departmentForm">
  <div class="modal-header">
    <h3 class="modal-title font-weight-normal"><strong>Add Department</strong> </h3>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="my-2 text-center">
      <app-input class="form-group" formControlName="name" placeholder="Department Name"></app-input>
    </div>
    <!-- <div class="my-2 text-center">
      <app-select formControlName="division" id="division" [placeholder]="'Select Division'">
          <option *ngFor="let division of divisionList"
                  [value]="division.id">
            {{division.name}}
          </option>
      </app-select>
    </div>
    <div class="my-2 text-center">
      <app-select formControlName="leader" id="leader" [placeholder]="'Select LeaderShip'">
          <option *ngFor="let leader of leadershipList"
                  [value]="leader.id">
            {{leader.leader.fullName}}
          </option>
      </app-select>
    </div> -->
  </div>
  <div class="modal-footer justify-content-between">
    <app-button size="lg" (click)="onSubmit()" [loading]="loading">Submit</app-button>
  </div>
</form>