<div class="pt-lg-0 pt-md-3">
  <button class="btn score-button" (click)="toggleWizard()">
    <span>
      <svg height="20" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.7725 7.41516L6.00928 11.1973L7.43048 12.6256L11.1937 8.8435L9.7725 7.41516Z"
              fill="url(#paint0_linear)"/>
        <path
          d="M10.1966 21.6987L0.34414 11.7969C-0.114713 11.3357 -0.114713 10.592 0.34414 10.1309L4.31225 6.14287L5.73405 7.5718L2.35728 10.9623L11.0238 19.6723L19.5772 11.0792L16.0712 7.55881L17.493 6.12988L21.5903 10.2478C22.0492 10.709 22.0492 11.4559 21.5903 11.9138L11.8543 21.6987C11.3954 22.1567 10.6554 22.1567 10.1966 21.6987Z"
          fill="#E1261C"/>
        <path d="M15.03 8.89234L9.37256 14.5781L10.7938 16.0065L16.4512 10.3207L15.03 8.89234Z"
              fill="url(#paint1_linear)"/>
        <path
          d="M14.0226 5.49977L10.9075 2.3691L7.82805 5.46404L6.40625 4.03511L10.0803 0.345867C10.5392 -0.115289 11.2791 -0.115289 11.738 0.345867L15.4444 4.07083L14.0226 5.49977Z"
          fill="#E9830A"/>
        <defs>
          <linearGradient id="paint0_linear" x1="7.44232" y1="12.5971" x2="9.81155" y2="7.48944"
                          gradientUnits="userSpaceOnUse">
            <stop stop-color="#E9830A"/>
            <stop offset="1" stop-color="#E1261C"/>
          </linearGradient>
          <linearGradient id="paint1_linear" x1="10.5756" y1="16.1387" x2="14.915" y2="9.07329"
                          gradientUnits="userSpaceOnUse">
            <stop stop-color="#E9830A"/>
            <stop offset="1" stop-color="#E1261C"/>
          </linearGradient>
        </defs>
      </svg>
    </span>
    <span class="score-text">SCORE</span>
  </button>
  <app-theme-preview-side-bar [show]="rightbar" (wizardClosed)="wizardClosed()"></app-theme-preview-side-bar>
  <div class="team-goals">
    <div class="mb-4">
      <div class="team-goals__wrapper">
        <form [formGroup]="ourFormGroup">
          <div class="row mb-3">
            <p class="team-goals__header"><span style="text-transform: capitalize;">{{type}}</span> Goals for</p>
            <div ngbDropdown class="team-goals__header__dropdown mx-2 my-1">
              <button type="button" [disabled]="preview" class="btn team-goals__header__dropdown__single-button" ngbDropdownToggle>
                <!-- {{ ourFormGroup.value.quarter && ourFormGroup.value.year ? 'Q' + ourFormGroup.value.quarter + ' ' + ourFormGroup.value.year : '' }} -->
                {{ this.selectedQuarter && this.selectedYear ? 'Q' +this.selectedQuarter + ' ' + this.selectedYear : '' }}
              </button>
              <div ngbDropdownMenu class="team-goals__header-filter__dropdown-menu">
                <a ngbDropdownItem class="team-goals__header-filter__dropdown-item"
                   *ngFor="let quarterYear of quarterYearOptions"
                   (click)="setYearQuarterOption(quarterYear.year, quarterYear.quarter)">
                  Q{{quarterYear.quarter}} {{quarterYear.year}}
                </a>
              </div>
            </div>
            <div ngbDropdown autoClose="outside" class="team-goals__header__dropdown mx-3 my-1" *ngIf="type == 'department' && isAdmin">
              <button type="button" [disabled]="preview" class="btn team-goals__header__dropdown__single-button" ngbDropdownToggle>
                {{selectedDepartment ? selectedDepartment.name : 'Select Department' }}
              </button>
              <div ngbDropdownMenu  class="team-goals__header-filter__dropdown-menu search-menu" >
                <div ngbDropdownItem class="team-goals__header-filter__dropdown-search">
                  <input id="departmentSearchInput" class="form-control search-input" placeholder="Search"
                  name="search" (keyup)="onSearch()">
                  <button class="btn btn-search" type="button" title="click to search" (click)="onSearch()"
                          id="search-button"
                  >
                    <ng-container >
                      <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.64964 5.2C9.64964 7.65769 7.65736 9.65 5.19982 9.65C2.74228 9.65 0.75 7.65769 0.75 5.2C0.75 2.74231 2.74228 0.75 5.19982 0.75C7.65736 0.75 9.64964 2.74231 9.64964 5.2Z" stroke="#C0C7DB" stroke-width="1.5"/>
                        <path d="M8.80029 8.80029L12.0001 12.0003" stroke="#C0C7DB" stroke-width="1.5" stroke-linecap="round"/>
                      </svg>
                    </ng-container>
                  </button>
                </div>
                <a ngbDropdownItem class="team-goals__header-filter__dropdown-item" *ngFor="let department of departments ; let i=index"
                   (click)="setDepartmentOption(department.id, department.name)">
                    {{department.name}}
                </a>
              </div>
            </div>
            <div ngbDropdown autoClose="outside" class="team-goals__header__dropdown mx-3 my-1" *ngIf="type == 'team'  && isAdmin">
              <button type="button" [disabled]="preview" class="btn team-goals__header__dropdown__single-button" ngbDropdownToggle>
                {{selectedTeam ? selectedTeam.name : 'Select Team' }}
              </button>
              <div ngbDropdownMenu class="team-goals__header-filter__dropdown-menu search-menu">
                <div ngbDropdownItem class="team-goals__header-filter__dropdown-search">
                  <input id="teamSearchInput" class="form-control search-input" placeholder="Search"
                  name="search" (keyup)="onSearch()">
                  <button class="btn btn-search" type="button" title="click to search" (click)="onSearch()"
                          id="search-button">
                    <ng-container >
                      <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.64964 5.2C9.64964 7.65769 7.65736 9.65 5.19982 9.65C2.74228 9.65 0.75 7.65769 0.75 5.2C0.75 2.74231 2.74228 0.75 5.19982 0.75C7.65736 0.75 9.64964 2.74231 9.64964 5.2Z" stroke="#C0C7DB" stroke-width="1.5"/>
                        <path d="M8.80029 8.80029L12.0001 12.0003" stroke="#C0C7DB" stroke-width="1.5" stroke-linecap="round"/>
                      </svg>
                    </ng-container>
                  </button>
                </div>
                <a ngbDropdownItem class="team-goals__header-filter__dropdown-item" *ngFor="let team of teams; let i=index"
                   (click)="setTeamOption(team.id, team.name)">
                    {{team.name}}
                </a>
              </div>
            </div>
          </div>

          <div *ngIf="!preview" class="row">
            <div class="col-lg-6 col-md-8" [class.loading]="loading" cdkDropList (cdkDropListDropped)="drop($event)">
              <div class="team-goals__container" formArrayName="data" cdkDrag
                   *ngFor="let teamGoal of dataArray.controls; let i= index">
                <ng-container [formGroupName]="i">
                  <div class="mb-3">
                    <div *ngIf="activeFormIndex === i" class="goal-group">
                      <app-card>
                        <div class="d-flex flex-row">
                          <div class="d-flex flex-column">
                            <div class="d-flex flex-row justify-content-around team-goals__icons mb-2 mt-1">
                              <span class="team-goals__card-image">
                                <app-icon icon='blueGalary' *ngIf="!teamGoal.value.icon"></app-icon>
                                <app-icon [icon]="teamGoal.value.icon"
                                          *ngIf="teamGoal.value.icon"></app-icon>
                              </span>
                              <span class="team-goals__counter">{{i + 1}}</span>
                            </div>
                            <div class="d-flex justify-content-start ml-3 mt-3 drag-icon">
                              <app-icon icon='sixDots' cdkDragHandle></app-icon>
                            </div>
                          </div>

                          <div class="flex-grow-1">
                            <div class="d-flex flex-row">
                              <div class="d-flex flex-column flex-fill">
                                <app-input formControlName="title"
                                           type="textarea" #titleField
                                           placeholder="The name of goal number {{i + 1}}"
                                           class="title"
                                           [maxCharLength] = "360"
                                           id="goalTitle-{{i}}"
                                           [fixedHeight]="false"
                                           [shouldValidate]="shouldValidateIndex === i">
                                </app-input>
                                <div class="card-kebab-menu"
                                     style="display: inline-block; position: absolute; right: 0%;">
                                  <div ngbDropdown class="d-inline-block">
                                    <button type="button" class="btn btn--custom-flat" id="dropdownBasic1"
                                            ngbDropdownToggle>
                                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                           xmlns="http://www.w3.org/2000/svg">
                                        <path
                                          d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z"
                                          fill="#9599AA"
                                          stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"
                                        />
                                        <path d="M12 6C12.5523 6 13 5.55228 13
                                          5C13 4.44772 12.5523 4 12 4C11.4477
                                          4 11 4.44772 11 5C11 5.55228 11.4477
                                          6 12 6Z" fill="#9599AA"
                                              stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"
                                        />
                                        <path d="M12 20C12.5523 20 13
                                          19.5523 13 19C13 18.4477 12.5523
                                          18 12 18C11.4477 18 11 18.4477 11
                                          19C11 19.5523 11.4477 20 12 20Z"
                                              fill="#9599AA" stroke="#9599AA" stroke-linecap="round"
                                              stroke-linejoin="round"
                                        />
                                      </svg>
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="">
                                      <div ngbDropdownItem style="cursor: pointer;" class="">
                                        Edit
                                      </div>
                                      <div ngbDropdownItem (click)="deleteCard(i)" style="cursor: pointer;" class="">
                                        Delete
                                      </div>
                                      <div ngbDropdownItem (click)="duplicateCard(i)" style="cursor: pointer;" class="">
                                        Duplicate
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="team-goals__bullets">
                                  <ul formArrayName="description">
                                    <li class="editable-bullet"
                                        *ngFor="let detail of teamGoal.get('description').controls; let j=index">
                                      <ng-container [formGroupName]="j">
                                        <div class="w-100 d-inline-block">
                                          <app-input type="textarea"
                                                     class="bullet"
                                                     [maxCharLength] = "600"
                                                     formControlName="bullet" #bulletField
                                                     placeholder="This is the title of a bullet."
                                                     id="bulletTitle-{{j}}"
                                                     (input)="auto_grow('bulletTitle',j)"
                                                     (keydown.Tab)="addSubBullet($event, i, j); false;"
                                          >
                                          </app-input>
                                        </div>

                                        <!-- <div class="team-goals__bullets-btn d-flex flex-row">
                                            <div class="team-goals__bullets-btn-border" (click)="addSubBullet(i, j)"
                                                  ngbTooltip="Add Sub Bullet">
                                              <app-icon icon="add" size="xs"></app-icon>
                                            </div>
                                            <div class="team-goals__bullets-btn-border" (click)="deleteBullet(i, j)"
                                                  ngbTooltip="Delete Bullet">
                                              <app-icon icon="trash" size="xs"></app-icon>
                                            </div>
                                          </div>
                                        -->
                                        <div class="team-goals__bullets-sub">
                                          <ul formArrayName="subBullet">
                                            <li *ngFor="let subDetail of detail.get('subBullet').controls; let k=index">
                                              <app-input type="text" [formControlName]="k" #subBulletField
                                                         placeholder="This is the sub title of a bullet."
                                                         (keydown.Enter)="addNextSubBullet($event, i, j); false;"
                                                         (keydown.Delete)="delSubBullet($event, i, j, k); false;"
                                              >
                                              </app-input>
<!--                                              <div class="team-goals__bullets-btn d-flex flex-row">-->
<!--                                                <div class="team-goals__bullets-btn-border"-->
<!--                                                     (click)="deleteSubBullet(i, j, k)" ngbTooltip="Delete Sub Bullet">-->
<!--                                                  <app-icon icon="trash" size="xs"></app-icon>-->
<!--                                                </div>-->
<!--                                              </div>-->
                                            </li>
                                          </ul>
                                        </div>
                                      </ng-container>
                                    </li>
                                  </ul>

                                  <ul style="margin: 8px 0;">
                                    <li (click)="addBullet(i)" class="add-bullet-dot">Add detail bullet</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- <div *ngIf="showAddBtn(i)" (click)="addInputField()" class="team-goals__circular-add">
                            <app-icon icon='blueCircularAdd' size="xl"></app-icon>
                          </div> -->
                        </div>
                      </app-card>

                      <div class="team-goals-icons__category" id="team-goals-icons__category">
                        <div class="heading">
                          Which Annual Goal does this fall under?
                        </div>
                        <div class="d-flex">
                          <div *ngFor="let goalIcon of annualGoals; let iconIndex=index" class="icons">
                            <app-icon [icon]="goalIcon.icon" size="lg"
                                      (click)="addIcon(goalIcon.icon, i)"
                                      (mouseenter)="hoverIcon(goalIcon.icon, i, iconIndex)"
                                      (mouseleave)="hoverIconLeave(i, iconIndex); this.hoverFlag= false"
                                      [ngClass]="{active: teamGoal.value.icon === goalIcon.icon }">
                            </app-icon>

                            <div class="icon-down-caret" id="icon-down-caret-{{iconIndex}}">
                              <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.666504 0.666504L3.99984 3.99984L7.33317 0.666504" fill="#9599AA"/>
                                <path d="M0.666504 0.666504L3.99984 3.99984L7.33317 0.666504H0.666504Z" stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                            </div>
                          </div>
                          <div class="icons__detail-btn"
                               [ngClass]="teamGoal.value.icon ? 'detail-btn-enable': 'detail-btn-disable'"
                               (click)="toggleShowIconDetail(i)">
                            <span *ngIf="!showIconDetail[i]">Show details</span>
                            <span *ngIf="showIconDetail[i]">Hide details</span>
                            <!--<div class="icons__description" (click)="openPreview()"> Preview </div>
                              [ngClass]="teamGoal.value.annualPlan ? 'detail-btn-enable': 'detail-btn-disable'"-->
                          </div>
                        </div>
                        <div *ngFor="let goalIcon of annualGoals">
                          <div class="icons__description"
                               *ngIf="teamGoal.value.icon === goalIcon.icon && showIconDetail[i] && !this.hoverFlag">
                            <div class="font-weight-bold mt-3 mb-1">{{goalIcon.title}}</div>
                            <p class="text-justify mt-1 mb-4">{{goalIcon.description}}</p>
                          </div>
                          <div class="icons__description"
                               *ngIf="this.hoverIconName === goalIcon.icon && showIconDetail[i] && this.hoverFlag === true">
                            <div class="font-weight-bold mt-3 mb-1">{{goalIcon.title}}</div>
                            <p class="text-justify mt-1 mb-4">{{goalIcon.description}}</p>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="showAddBtn(i)" (click)="addInputField()" class="team-goals__circular-add">
                        <span class="add-next-goal">+ Next goal title...</span>
                      </div>
                    </div>

                    <div class="preview-data mb-4" *ngIf="activeFormIndex !== i">
                      <div class="d-flex flex-row">

                        <div class="d-flex flex-column">
                          <div class="d-flex flex-row justify-content-around team-goals__icons mb-2 mt-1">
                            <span class="team-goals__card-image">
                              <app-icon icon='blueGalary' *ngIf="!teamGoal.value.icon"></app-icon>
                              <app-icon [icon]="teamGoal.value.icon" *ngIf="teamGoal.value.icon"></app-icon>
                            </span>
                            <span class="team-goals__counter">{{i + 1}}</span>
                          </div>
                          <div class="d-flex justify-content-start mt-3 drag-icon">
                            <app-icon icon='sixDots' cdkDragHandle></app-icon>
                          </div>
                        </div>

                        <div class="flex-grow-1">
                          <div class="d-flex flex-row">
                            <div class="d-flex flex-column flex-fill goal-unfocus">
                              <div class="title">
                                <span class="data">{{ teamGoal.value.title }}</span>

                                <div class="card-kebab-menu"
                                     style="display: inline-block; position: absolute; right: 2%;">
                                  <div ngbDropdown class="d-inline-block">
                                    <button type="button" class="btn btn--custom-flat" id="dropdownBasic2"
                                            ngbDropdownToggle>
                                      <svg width="24" height="24"
                                           viewBox="0 0 24 24" fill="none"
                                           xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 13C12.5523 13 13
                                          12.5523 13 12C13 11.4477 12.5523
                                          11 12 11C11.4477 11 11 11.4477
                                          11 12C11 12.5523 11.4477 13 12
                                          13Z" fill="#9599AA"
                                              stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"
                                        />
                                        <path d="M12 6C12.5523 6 13
                                          5.55228 13 5C13 4.44772
                                          12.5523 4 12 4C11.4477 4 11
                                          4.44772 11 5C11 5.55228
                                          11.4477 6 12 6Z"
                                              fill="#9599AA" stroke="#9599AA" stroke-linecap="round"
                                              stroke-linejoin="round"
                                        />
                                        <path d="M12 20C12.5523 20 13
                                          19.5523 13 19C13 18.4477
                                          12.5523 18 12 18C11.4477 18
                                          11 18.4477 11 19C11 19.5523
                                          11.4477 20 12 20Z"
                                              fill="#9599AA" stroke="#9599AA" stroke-linecap="round"
                                              stroke-linejoin="round"
                                        />
                                      </svg>
                                    </button>

                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="">
                                      <div ngbDropdownItem (click)="changeActiveForm($event, i)"
                                           style="cursor: pointer;" class="">
                                        Edit
                                      </div>
                                      <div ngbDropdownItem (click)="deleteCard(i)" style="cursor: pointer;" class="">
                                        Delete
                                      </div>
                                      <div ngbDropdownItem (click)="duplicateCard(i)" style="cursor: pointer;" class="">
                                        Duplicate
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>
                              <div class="team-goals__bullets mt-3 mb-2">
                                <ul>
                                  <li *ngFor="let desc of teamGoal.value.description" class="mb-3">
                                    <span> {{ desc.bullet }} </span>

                                    <div class="team-goals__bullets-sub">
                                      <ul>
                                        <li *ngFor="let subDetail of desc.subBullet">
                                          <span>{{subDetail}}</span>
                                        </li>
                                      </ul>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="team-goals__loader" *ngIf="loading">
                <svg xmlns="http://www.w3.org/2000/svg"
                     version="1.0" viewBox="0 0 128 128">
                  <path fill-opacity="1" d="M64.4 16a49 49 0 0 0-50
                    48 51 51 0 0 0 50 52.2 53 53 0 0 0
                    54-52c-.7-48-45-55.7-45-55.7s45.3 3.8 49 55.6c.8
                    32-24.8 59.5-58 60.2-33 .8-61.4-25.7-62-60C1.3
                    29.8 28.8.6 64.3 0c0 0 8.5 0 8.7 8.4 0 8-8.6
                    7.6-8.6 7.6z">
                    <animateTransform attributeName="transform"
                                      type="rotate" from="0 64 64" to="360 64 64"
                                      dur="1800ms" repeatCount="indefinite">
                    </animateTransform>
                  </path>
                </svg>
              </div>
            </div>
          </div>

          <div *ngIf="!preview">
            <button (click)="openPreview()" type="button" [disabled]="ourFormGroup.invalid || dataArray.length === 0"
                    [className]="'btn team-goals__submit-btn '  + (ourFormGroup.valid ? 'enabled-save-button' : 'disabled-save-button')">
              <div>PREVIEW</div>
            </button>

            <button type="submit" [disabled]="ourFormGroup.invalid || dataArray.length === 0"
                    [className]="'btn team-goals__sec-btn ' + (ourFormGroup.valid ? 'enabled-sec-button' : 'disabled-save-button')"
                    (click)="onSubmit()">
              <div *ngIf="!saveInProgress">SAVE AS DRAFT</div>
              <div *ngIf="saveInProgress">SAVING...
                <div class="btn__loader"></div>
              </div>
            </button>

            <button (click)="publish()" type="button" [disabled]="ourFormGroup.invalid || dataArray.length === 0"
                    [className]="'btn team-goals__sec-btn ' + (ourFormGroup.valid ? 'enabled-sec-button' : 'disabled-save-button')">
              <div *ngIf="!publishInProgress">PUBLISH</div>
              <div *ngIf="publishInProgress">PUBLISHING...
                <div class="btn__loader"></div>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Quarterly Team Plan Preview -->
<app-plan-preview-layout *ngIf="preview" viewType="preview" [type]="type" [year]="ourFormGroup.value.year"
                         [quarter]="ourFormGroup.value.quarter"
                         (preview)="previewFunc($event)"></app-plan-preview-layout>
