.score-button {
    position: absolute;
    width: 103px;
    height: 40px;
    right: 1%;
    top: 5.5rem;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(58, 71, 89, 0.15);
    border-radius: 42px;

    .score-logo {
        background-image: url(src/app/assets/images/blaastlogo-only.svg);
    }

    .score-text {
        padding: 0 0.5rem;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        color: #000000;
    }
}

.icon-down-caret {
  position: absolute;
  transform: translate(14px, 50px);
  display: none;
}

@media only screen and (max-width: 996px) {
  .score-button {
    right: 6rem;
    top: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .score-button {
    right: 0.25rem;
    top: 4rem;
  }
}
