<div class="password-strength">
  <div class="row align-items-center">
    <div class="col-auto">
      <strong>Password Strength</strong>
    </div>
    <div class="col">
      <div class="password-strength__meter" [ngClass]="'password-strength__meter--st' + passwordStrength">
        <div class="password-strength__meter-value-1"></div>
        <div class="password-strength__meter-value-2"></div>
        <div class="password-strength__meter-value-3"></div>
        <div class="password-strength__meter-value-4"></div>
        <div class="password-strength__meter-fill" [style.background]="getMeterFillColor(passwordStrength)"
             [attr.data-strength]="passwordStrength"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ng-container *ngIf="enableFeedback && feedback">
        <small class="password-feedback" *ngIf="feedback.warning">
          {{feedback.warning}}
        </small>
        <small class="password-feedback" *ngIf="feedback.suggestions && feedback.suggestions.length > 0">
          <ng-container *ngFor="let suggetion of feedback.suggestions">{{suggetion}}</ng-container>
        </small>
      </ng-container>
    </div>
  </div>
</div>
