#main-content {
  margin: 80px auto;
}

.top-content,
#other-info {
  display: flex;
}

#back-element {
  display: flex;
  cursor: pointer;
}

#other-info {
  background: white;
  margin-left: 5rem;
  margin-top: -40px;
  height: 2.3rem;
  border-radius: 6px;
  text-align: center;
  border: 1px solid #e6e6e6;
}

#action-buttons {
  margin-left: 10px;
  font-size: 13px;
  margin-top: -9px;
}


.info {
  margin-left: 5rem;
}

.icon {
  margin-top: 1rem;
}

#question {
  padding-left: 1rem;
}

.pt15 {
  padding-top: 10px;
}

.back-text {
  margin-top: -4px;
}

.header-text, .back-text {
  font-size: 13px;
  font-weight: 500;
  padding-left: 12px;
  padding-top: 7px;
}

.back-icon {
  margin-top: -18px;
}

.pdf-icon {
  margin-top: 123px;
}

.pdf-section-group, .print-section-group {
  cursor: pointer;
}
