.inner-label {
  position: absolute;
  left: 0;

  &::before {
    right: 0.5rem;
  }

  &::after {
    right: 0.5rem;
  }
}

.action-button {
  &--right {
    right: 1rem;
  }
  &--left {
    left: 20rem;
  }
}

