<div class="page-profile py-4">
  <div class="py-4">
    <form [formGroup]="preferenceSettingsForm">
      <div class="row">
        <div class="col">
          <div class="row" formGroupName="setting">
            <div class="col-md-6" formGroupName="emailAlertNotification">
              <div class="px-4">
                <div class="mb-4">
                  <div class="row align-items-center">
                    <div class="col">
                      <h6 class="h6-title">Email & Alert Notifications</h6>
                    </div>
                    <div class="col-auto">
                      <app-switch formControlName="value"></app-switch>
                    </div>
                  </div>
                  <p>
                    Email & alert notifications when you're away so you don't miss a beat. You can also decide if there
                    are any additional updates you'd like to receive:
                  </p>
                </div>

                <div class="divider"></div>

                <div class="my-5">
                  <!--<div class="form-group">-->
                    <!--<div class="form-row">-->
                      <!--<div class="col">-->
                        <!--<div class="custom-control custom-checkbox mr-sm-2">-->
                          <!--<input type="checkbox" formControlName="playbookUpdates" class="custom-control-input"-->
                                 <!--id="updatesToPlaybook">-->
                          <!--<label class="custom-control-label" for="updatesToPlaybook">Updates to Playbook</label>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="form-row">&ndash;&gt;-->
                      <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="custom-control custom-checkbox mr-sm-2">&ndash;&gt;-->
                          <!--&lt;!&ndash;<input type="checkbox" formControlName="goalsInitiativeUpdates" class="custom-control-input"&ndash;&gt;-->
                                 <!--&lt;!&ndash;id="updatesToGoalAndInititives">&ndash;&gt;-->
                          <!--&lt;!&ndash;<label class="custom-control-label" for="updatesToGoalAndInititives">Updates to Goals &&ndash;&gt;-->
                            <!--&lt;!&ndash;Initiatives</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                      <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col">
                        <div class="custom-control custom-checkbox mr-sm-2">
                          <input type="checkbox" formControlName="playbookPublished" class="custom-control-input"
                                 id="playbookPublished">
                          <label class="custom-control-label" for="playbookPublished">Playbook Published</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="form-row">&ndash;&gt;-->
                      <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="custom-control custom-checkbox mr-sm-2">&ndash;&gt;-->
                          <!--&lt;!&ndash;<input type="checkbox" formControlName="accountStatusChange" class="custom-control-input"&ndash;&gt;-->
                                 <!--&lt;!&ndash;id="accountStatusChange">&ndash;&gt;-->
                          <!--&lt;!&ndash;<label class="custom-control-label" for="accountStatusChange">Account Status Change</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                      <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                </div>

                <div class="my-3" formGroupName="dateReminders">
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col">
                        <div class="custom-control custom-checkbox mr-sm-2">
                          <input type="checkbox" formControlName="value" class="custom-control-input"
                                 id="dateReminders">
                          <label class="custom-control-label position-absolute" style="left:0" for="dateReminders">Date
                            Reminders</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="px-4">
                    <div class="form-group">
                      <div class="form-row">
                        <div class="col">
                          <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" formControlName="oneWeekBeforeDue" class="custom-control-input"
                                   id="oneWeekBeforePlaybookDue">
                            <label class="custom-control-label inner-label position-absolute"
                                   for="oneWeekBeforePlaybookDue">One Week Before Playbook
                              Due</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-row">
                        <div class="col">
                          <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" formControlName="twoWeeksBeforeDue" class="custom-control-input"
                                   id="twoWeeksBeforePlaybookDue">
                            <label class="custom-control-label inner-label position-absolute"
                                   for="twoWeeksBeforePlaybookDue">Two Weeks Before Playbook
                              Due</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-row">
                        <div class="col">
                          <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" formControlName="threeWeeksBeforeDue" class="custom-control-input"
                                   id="threeWeeksBeforePlaybookDue">
                            <label class="custom-control-label inner-label position-absolute"
                                   for="threeWeeksBeforePlaybookDue">Three Weeks Before Playbook
                              Due</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6" formGroupName="adminNotification" *ngIf="isAdmin">
              <div class="px-4">
                <div class="mb-4">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5>Administrator Notifications</h5>
                    </div>
                    <div class="col-auto">
                      <app-switch formControlName="value"></app-switch>
                    </div>
                  </div>
                  <p>
                    Email notifications when things change with your company. Below you can choose which of these you'd
                    like
                    to get alerted to:
                  </p>
                </div>

                <div class="divider" style="margin-top: 2.8125rem;"></div>

                <div class="my-5">
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col">
                        <div class="custom-control custom-checkbox mr-sm-2">
                          <input type="checkbox" formControlName="photosUploaded" class="custom-control-input"
                                 id="photosUploaded">
                          <label class="custom-control-label" for="photosUploaded">Photos Uploaded</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="form-row">
                      <div class="col align-content-center">
                        <div class="custom-control custom-checkbox mr-sm-2">
                          <input type="checkbox" formControlName="newEmployeeAdded" class="custom-control-input"
                                 id="newEmployeeAdded">
                          <label class="custom-control-label" for="newEmployeeAdded">New Employee Added</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--<div class="form-group">-->
                    <!--<div class="form-row">-->
                      <!--<div class="col">-->
                        <!--<div class="custom-control custom-checkbox mr-sm-2">-->
                          <!--<input type="checkbox" formControlName="securityAlerts" class="custom-control-input"-->
                                 <!--id="securityAlerts">-->
                          <!--<label class="custom-control-label" for="securityAlerts">Security Alerts</label>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col">
                        <div class="custom-control custom-checkbox mr-sm-2">
                          <input type="checkbox" formControlName="subscriptionChanges" class="custom-control-input"
                                 id="subscriptionChanges">
                          <label class="custom-control-label" for="subscriptionChanges">Subscription Changes</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col">
                        <div class="custom-control custom-checkbox mr-sm-2">
                          <input type="checkbox" formControlName="billingCharges" class="custom-control-input"
                                 id="billingChanges">
                          <label class="custom-control-label" for="billingChanges">Billing Charges</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div [className]="isAdmin ? 'divider' : 'divider col-md-6'"></div>
          <div class="row">
            <div [className]="isAdmin ?
            'position-absolute action-button--right' : 'position-absolute action-button--left'">
              <div class="form-group">
                <app-button type="link" [block]="false" size="md" [loading]="loading">CANCEL
                </app-button>
                <app-button type="primary" [block]="false" size="md" (click)="updatePreferenceSettings()"
                            [loading]="loading">SAVE CHANGES
                </app-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
