<div class="container-fluid px-4">
  <div class="row bg-lightgrey align-items-center">
    <div class="col-3 text-left">
      <div class="header-select" *ngIf="!selectedTheme">
        <!-- <div ngbDropdown class="header-select__dropdown" >
          <button type="button" class="btn header-select__dropdown__single-button" ngbDropdownToggle>
            {{ sortBy ? sortBy : 'Sort By'}}
          </button>
          <div ngbDropdownMenu class="header-select-filter__dropdown-menu">
            <a ngbDropdownItem class="header-select-filter__dropdown-item" (click)="setSortOption('Option 1')">Option 1</a>
            <a ngbDropdownItem class="header-select-filter__dropdown-item" (click)="setSortOption('Option 2')">Option 2</a>
          </div>
        </div> -->
      </div>
      <div class="header-select" *ngIf="selectedTheme">
        <button class="btn d-flex theme__top-nav" (click)="backClicked()" >
          <app-icon type="sm" icon="back-left"></app-icon> &nbsp; Back to Themes</button>
      </div>
    </div>
    <div class="col-6">
      <div class="theme__library-title text-center">
        <span *ngIf="!selectedTheme">All Themes</span>
        <span *ngIf="selectedTheme">{{ selectedTheme?.title }}</span>
      </div>
    </div>
    <div class="col-3 text-right theme__top-nav theme__top-nav__content-right"  *ngIf="showCreate" (click)="createPlaybook()">
      <app-icon icon="book-theme" type="sm"></app-icon> &nbsp; Select Theme
    </div>
    <!-- <div class="col-3 text-right theme__top-nav theme__top-nav__content-right" *ngIf="!showCreate" (click)="previewTheme()">
      <app-icon type="sm" icon="eye-on"></app-icon> &nbsp; Preview
    </div> -->
  </div>
</div>
<ng-template [ngIf]="!selectedTheme">
  <div class="container-fluid theme-padding">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor="let theme of themes">
        <div class="my-4">
          <div class="playbook-cover playbook-cover--lg" (click)="themeSelected(theme)"
            [ngStyle]="{backgroundImage:theme?.image ? 'url(' + theme?.image + ')' : 'unset'}"></div>
          <div class="playbook-cover-title text-center pt-3">
            <h6>{{theme?.title}}</h6>
          </div>
          <div class="playbook-cover-subtitle text-center">
            {{theme?.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="selectedTheme">
  <app-theme-preview [theme]="selectedTheme" *ngIf="selectedTheme"></app-theme-preview>
</ng-template>

