.bg-img {
  width: 50%;
  height: 100%;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
}

.title {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 9%;
  left: 7%;
  font-size: 117pt;
  text-transform: uppercase;
}

.subtitle {
  position: absolute;
  top: 10%;
  left: 14%;
  font-size: 17pt;
  text-transform: uppercase;
}

.j-title {
  text-transform: uppercase;
  font-size: 11pt;
  font-weight: 800;
}

.j-description {
  font-size: 10pt;
  padding-top: 2pt;
}

.j-problem {
  position: absolute;
  top: 32%;
  left: 5%;
  width: 18%;
}

.j-solution {
  position: absolute;
  top: 32%;
  left: 27%;
  width: 18%;
}

.j-problem1 {
  position: absolute;
  top: 52%;
  left: 5%;
  width: 18%;
}

.j-solution1 {
  position: absolute;
  top: 52%;
  left: 27%;
  width: 18%;
}

.j-problem2 {
  position: absolute;
  top: 72%;
  left: 5%;
  width: 18%;
}

.j-solution2 {
  position: absolute;
  top: 72%;
  left: 27%;
  width: 18%;
}
