<div class="page-tag">STRATEGY</div>
<div class="subtitle">LEARNING FROM OUR MISTAKES</div>
<div class="title">Journey</div>
<div class="j-problem">
  <div class="j-title">The Problem headline</div>
  <div class="j-description">
    Lmquam, con et am, sequunt aliqui blant.Dus dolor sapiet
    rehent delest qui nobitatem quodi cones essuntiones
    ped moloreperrum que quiat laudignimpos min pro
    modigen imoluptat. Ecero explici magnimp eriasimus
    mosanda num laboreic te voluptat audae delessi nvent.
  </div>
</div>
<div class="j-solution">
  <div class="j-title">The solution headline</div>
  <div class="j-description">
    Lmquam, con et am, sequunt aliqui blant.Dus dolor sapiet
    rehent delest qui nobitatem quodi cones essuntiones
    ped moloreperrum que quiat laudignimpos min pro
    modigen imoluptat. Ecero explici magnimp eriasimus
    mosanda num laboreic te voluptat audae delessi nvent.
  </div>
</div>

<div class="j-problem1">
  <div class="j-title">The Problem headline</div>
  <div class="j-description">
    Lmquam, con et am, sequunt aliqui blant.Dus dolor sapiet
    rehent delest qui nobitatem quodi cones essuntiones
    ped moloreperrum que quiat laudignimpos min pro
    modigen imoluptat. Ecero explici magnimp eriasimus
    mosanda num laboreic te voluptat audae delessi nvent.
  </div>
</div>
<div class="j-solution1">
  <div class="j-title">The solution headline</div>
  <div class="j-description">
    Lmquam, con et am, sequunt aliqui blant.Dus dolor sapiet
    rehent delest qui nobitatem quodi cones essuntiones
    ped moloreperrum que quiat laudignimpos min pro
    modigen imoluptat. Ecero explici magnimp eriasimus
    mosanda num laboreic te voluptat audae delessi nvent.
  </div>
</div>
<div class="j-problem2">
  <div class="j-title">The Problem headline</div>
  <div class="j-description">
    Lmquam, con et am, sequunt aliqui blant.Dus dolor sapiet
    rehent delest qui nobitatem quodi cones essuntiones
    ped moloreperrum que quiat laudignimpos min pro
    modigen imoluptat. Ecero explici magnimp eriasimus
    mosanda num laboreic te voluptat audae delessi nvent.
  </div>
</div>
<div class="j-solution2">
  <div class="j-title">The solution headline</div>
  <div class="j-description">
    Lmquam, con et am, sequunt aliqui blant.Dus dolor sapiet
    rehent delest qui nobitatem quodi cones essuntiones
    ped moloreperrum que quiat laudignimpos min pro
    modigen imoluptat. Ecero explici magnimp eriasimus
    mosanda num laboreic te voluptat audae delessi nvent.
  </div>
</div>
<div class="bg-img" style="background-image: url('app/assets/images/hands-woman-girl-view.jpg')"></div>
