<div>
  <div class="bg-container" (click)="loadForm('image-form', 'backgroundImage')">
    <div class="cover-background-image" *ngIf="page?.data?.backgroundImage; else newBgText"
         [style.backgroundImage]="page?.data?.backgroundImage?.imageurl ? 'url(' + page?.data?.backgroundImage?.imageurl  + ')' : ''"></div>
  </div>
  <!--<div class="cover-background-image">-->

</div>
<div class="cover-header">PLAYBOOK</div>
<div class="page-tag">Q{{playBook.quarter}} {{playBook.year}}</div>
<div class="cover-main-text-container">
  <div class="cover-main-text" (click)="loadForm('single-line-text', 'title')">
    <span *ngIf="page?.data?.title?.text; else newTitle">{{ page?.data?.title?.text }}</span>
  </div>
  <div class="cover-sub-text" (click)="loadForm('single-line-text', 'subText')">
    <span *ngIf="page?.data?.subText?.text; else newSubText">{{ page?.data?.subText?.text }}</span>
  </div>
</div>

<ng-template #newTitle>World of Opportunites</ng-template>
<ng-template #newSubText>Ovitati bla vendandae consequas reheniae sero illigen itatur simus, sa dolorum sum is et
</ng-template>
<ng-template #newBgText>
  <div class="cover-background-image" style="background-image: url('app/assets/images/playbook/cover.jpg')"></div>
</ng-template>
