<div class="modal-header">
  <h3 class=" modal-title font-weight-normal"><strong> Filters </strong></h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" [formGroup]="filterForm">
  <!-- <div class="form-row form-group">
    <div class="col-3">
      <label for="department">Department</label>
    </div>
    <div class="col-9">
      <app-select id="department" formControlName="department" size="sm" [placeholder]="'Select Department'">
        <option *ngFor="let department of departments"
                [value]="department.value"
                [selected]="department.key">
          {{department.value}}
        </option>
      </app-select>
    </div>
  </div> -->

  <div class="form-row form-group">
    <div class="col-3">
      <label for="position">Position</label>
    </div>
    <div class="col-9">
      <app-input size="sm" formControlName="jobTitle" id="position" type="text"></app-input>
    </div>
  </div>

  <div class="form-row form-group">
    <div class="col-3">
      <label for="date">Accepted Date</label>
    </div>
    <div class="col-9">
      <div class="input-group">
        <input id="date" class="form-control" [placeholder]="displayDate" readonly/>
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2" (click)="datePickerToggle()">
            <app-icon size="sm" icon="calender" type="gray"></app-icon>
          </span>
        </div>
      </div>
      <ngb-datepicker (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                      *ngIf="displayed"
                      class="bg-white" outsideDays="hidden">
        <ng-template #t let-date let-focused="focused">
                    <span class="custom-day"
                          [class.focused]="focused"
                          [class.range]="isRange(date)"
                          [class.faded]="isHovered(date) || isInside(date)"
                          (mouseenter)="hoveredDate = date"
                          (mouseleave)="hoveredDate = null">
                      {{ date.day }}
                    </span>
        </ng-template>
      </ngb-datepicker>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <app-button size="md" type="primary" (click)="clearFilter()">Clear Filters</app-button>
    </div>
    <div class="col-auto">
      <app-button size="md" type="primary" (click)="submitFilter()">Submit Filters</app-button>
    </div>
  </div>
</div>
