<app-card class="container-fluid" *ngFor="let item of initiative">
  <div class="row">
    <div class="col-8">
      <div class="row mb-2">
        <div class="col">
          <div class="card-name row">
            <div class="col">{{item?.name}}</div>
          </div>
          <div class="row">
            <div class="col">
              <b>Status:</b> {{item?.status}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          {{item?.detail}}
        </div>
      </div>
      <hr *ngIf="item?.description">
      <div class="row">
        <div class="col">
          {{item?.description}}
        </div>
      </div>
    </div>
    <div class="col-4 border-left">
      <div class="row  mb-2">
        <div class="col feedback">Feedback</div>
        <div class="col feedback-type"
             *ngIf="item?.initiativeFeedback.length > 0 && item?.initiativeFeedback[0]?.status === 3">
          Approved
          With
          Conditions
        </div>
        <div class="col feedback-type" *ngIf="conditionBtn && conditionIndex === item.id">Approved With
          Conditions
        </div>
        <div class="col feedback-type"
             *ngIf="item?.initiativeFeedback.length > 0 && item?.initiativeFeedback[0]?.status === 1">Approved
        </div>
        <div class="col feedback-type"
             *ngIf="item?.initiativeFeedback.length > 0 && item?.initiativeFeedback[0]?.status === 2">Rejected
        </div>
      </div>

      <div class="row mb-2" *ngIf="item?.initiativeFeedback.length === 0">
        <div class="col-3 text-left">
          <app-button type="outline-secondary" size="md" (click)="approveAndRejectClick('approve')">
            Approve
          </app-button>
        </div>
        <div class="col-6 text-center">
          <app-button type="primary" size="md" (click)="toggleApproveCondition(item?.id)">
            Approve With Conditions
          </app-button>
        </div>
        <div class="col-3 text-right">
          <app-button type="outline-secondary" size="md" (click)="approveAndRejectClick('reject')">
            Reject
          </app-button>
        </div>
      </div>

      <div class="row mb-2" *ngIf="initiative">
        <div class="col">
          <p>{{initiative?.name}}</p>
        </div>
      </div>

      <div class="row mb-2" *ngIf="conditionBtn && conditionIndex === item?.id">
        <div class="col" [formGroup]="feedbackForm">
          <app-input formControlName="description" type="textarea"></app-input>
        </div>
      </div>

      <div class="row mb-2" *ngIf="item?.initiativeFeedback.length>=0">
        <div class="col">
          <p>{{item?.initiativeFeedback[0]?.description}}</p>
        </div>
      </div>

      <div class="row" *ngIf="item?.initiativeFeedback.length === 0">
        <div class="col text-right">
          <app-button type="primary" size="md" (click)="submitFeedback(item?.id)">Submit Feedback</app-button>
        </div>
      </div>
    </div>
  </div>
</app-card>
