@mixin fixedView {
  position: relative;
  height: auto;
}

.gallery-bottom-sheet {
  position: relative;
  z-index: 2;

  &-wrapper {
    @include fixedView;
    background: var(--secondary);;
    box-shadow: $dropdown-box-shadow;
    right: auto;
    left: 0;
    z-index: 20;
    overflow-y: auto;
    height: 13vw;
    margin: -16px;


    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }


  &-overlay {
    @include fixedView;
    width: 100%;
    background: rgba($black, .5);
    left: 0;
    top: 0;
    z-index: 0;
  }

  &__close {
    font-size: 2rem;
    margin: $spacer;

    &:focus {
      outline: none;
    }
  }

}
