.custom-stepper {
  position: relative;
  width: 100%;
  height: 100%;

  &-header {
    justify-content: center;

    &-box {
      position: relative;
      width: 120px;
      height: 43px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: normal;
    }

    &-rightLine {
      width: 55px;
      height: 35px;
      border-top: 1.2px solid #DADEEB;
      position: absolute;
      top: 4px;
      right: 0;
      &.active {
        border-top-color: var(--primary);
      }
    }

    &-leftLine {
      width: 55px;
      height: 35px;
      border-top: 1.2px solid #DADEEB;
      position: absolute;
      top: 4px;
      left: 0;
      &.active {
        border-top-color: var(--primary);
      }
    }

    &-circle {
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: transparent;
      border: 1.2px solid #DADEEB;

      &.active {
        background: var(--primary);
        border-color: var(--primary);
      }
    }
  }

  &-body {
    //padding: $spacer*2 0;
  }

  .title {
    font-size: 17px;
    font-weight: bold;
    margin-top: 1.5em;
    display: inline-block;
    margin-bottom: 10px;
  }

}

.stepper-caption {
  position: absolute;
  bottom: 8px;
  font-family: Heebo, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #B0B3B3;

  &.active {
    color: #575757;
  }
}
