.custom-file {
  &-label {
    &--plain {
      border: none;
      color: $gray-900;
      font-size: 11px;
      text-align: center;
      margin: auto;
      cursor: pointer;
      &:after {
        display: none;
      }
    }

    &--light {
      color: $gray-200;
    }
  }
}