.gallery-sidebar {
  width: 200px;
  background: #EDEDED;
  color: $white;
  padding-top: $spacer;
  padding-bottom: $spacer;

  &__title {
    font-size: 1rem;
    padding: $spacer;
    font-weight: 500;
    line-height: 22px;
    color: #40465E;
    border-bottom: 1px solid #DADEEB;
    text-align: center;
  }

  &__separator{
    border: 1px solid #DADEEB;
    background: #FFFFFF;
  }

  &__year {
    position: absolute;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.75px;;
    text-align: center;
    text-transform: uppercase;
    height: 23px;
    width: 46px;
    left: 40.23%;
    top: 8.58%;
    font-weight: $font-weight-bold;
    background: $white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    color: #252733;
    padding-top: 5px;
  }

  &__quarter-link {
    cursor: pointer;

    &:hover {
      box-shadow: $box-shadow;
    }

    &.active {
      border: 1px solid $primary;

      .gallery-sidebar__quarter {
        color: $white;
        background: $primary;
      }
    }
  }

  &__quarter {
    color: $body-color;
    background: $white;
    padding: 10px 0;
    font-size: .85rem;
    font-weight: $font-weight-bold;
    text-align: center;
  }

  &__quarter-image {
    height: 100px;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
}
