.icon {
  $icon-size: 20px;

  height: $icon-size;
  width: $icon-size;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  > svg {
    height: 100%;
    width: 100%;
    fill: $black;
  }

  &--primary {
    > svg {
      fill: var(--primary);

      path {
        stroke: var(--primary);
      }
    }
  }

  &--secondary {
    > svg {
      fill: var(--secondary);
    }
  }

  &--white {
    > svg {
      fill: $white;
    }
  }

  &--white-path {
    > svg {
      fill: $white;

      path {
        stroke: $white;
      }
    }
  }

  &--black {
    > svg {
      fill: $black;
    }
  }

  &--gray {
    > svg {
      fill: #37474F;
    }
  }

  &--warning {
    > svg {
      fill: $white;
      path {
        stroke: #FEC400;
      }
    }
  }

  &--danger {
    > svg {
      fill: $white;
      path {
        stroke: #F12B2C;
      }
    }
  }

  &--success {
    > svg {
      fill: $white;
      path {
        stroke:#29CC97;
      }
    }
  }

  &--light-gray {
    > svg {
      fill: #878c97;
    }
  }

  &--lightgray {
    > svg {
      fill: #C0C7DB;

      path {
        stroke: #C0C7DB;
      }
    }
  }

  &--sm {
    height: 14px;
    width: 14px;
  }

  &--lg {
    height: 25px;
    width: 25px;
  }

  &--xl {
    height: 30px;
    width: 30px;
  }

  &--xxl {
    height: 40px;
    width: 40px;
  }

  &--xxxl {
    height: 50px;
    width: 50px;
  }

  &--xs {
    height: 10px;
    width: 10px;
  }

  &--rounded {
    background-color: #37474F;
    border-radius: 50%;

    &.icon--sm {
      padding: 2px;
    }

    &.icon--lg {
      padding: 4px;
    }
  }

  &--outline-primary {
    > svg {
      fill: var(--primary-lighter);

      path {
        stroke: var(--primary);
      }
    }
  }
}
