.password-strength {
  // background: $gray-200;
  background: #36314D;
  padding: $spacer/2 $spacer;
  color: $white;

    &__meter {
      width: 100%;
      display: flex;

      &-value-1,
      &-value-2,
      &-value-3,
      &-value-4 {
        height: 12px;
        border: 1px solid $white;
        background: transparent;
        display: inline-block;
        flex-grow: 1;
        margin-right: $spacer;
        border-radius: 12px;
        transition: background 200ms;
      }

      &-value-4 {
        margin-right: 0;
      }

      &--st1 {
        .password-strength__meter-value-1 {
          background: $white;
        }
      }
      &--st2 {
        .password-strength__meter-value-1 {
          background: $white;
        }
        .password-strength__meter-value-2 {
          background: $white;
        }
      }
      &--st3 {
        .password-strength__meter-value-1 {
          background: $white;
        }
        .password-strength__meter-value-2 {
          background: $white;
        }
        .password-strength__meter-value-3 {
          background: $white;
        }
      }
      &--st4 {
        .password-strength__meter-value-1 {
          background: $white;
        }
        .password-strength__meter-value-2 {
          background: $white;
        }
        .password-strength__meter-value-3 {
          background: $white;
        }
        .password-strength__meter-value-4 {
          background: $white;
        }
      }
    }


}