.playbook__item {
  width: 225px;
  height: auto;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 0;

  &__highlight {
    background: #F8F8F8;
    box-shadow: 0px 0px 20px rgba(58, 71, 89, 0.15);
  }

}

.playbook-cover {
  $cover-height: 270px;
  $cover-width: 200px;
  $cover-height-lg: 305px;
  $cover-width-lg: 233px;

  background-color: #C4C4C4;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: $cover-height;
  width: $cover-width;
  border: 1px solid #F0F1F7;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 2px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  // box-shadow: 0 0 1px;

  &.active {
    box-shadow: $box-shadow;
  }

  &__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $spacer;
  }

  &--unset {
    background-color: #FBFCFC;
    border: 1px solid #EDF1F7;
    background-image: none !important;
    box-sizing: border-box;
    border-radius: 8px;
  }

  &--lg {
    height: $cover-height-lg;
    width: $cover-width-lg;
  }
}

.playbook-cover-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3px;
}

.playbook-cover-subtitle {
  width: 200px;
  margin: 0 auto;
  padding: 12px 26px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
  color: #40465E;
}
