.playbook-sidebar {
  &__my-page {
    border-top: 1px solid #DADEEB
;
    border-bottom: 1px solid #DADEEB
;
  }

  &__list {
    max-width: 100%;
    min-height: 60px;
    display: block;
    overflow: hidden;
  }

  &__box {
    position: relative;
    cursor: move;

    &:last-child {
      border: none;
    }

    .cdk-drop-list-dragging & {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    &.cdk-drag-placeholder .playbook-sidebar__page {
      background-color: #505050;
    }

  }


  &__page {
    background: $white;
    padding: $spacer;
    border-bottom: 1px solid #DADEEB;
    position: relative;
    height: 72px;

    &--selected {
      background: var(--primary);
    }

    &--text {
      font-weight: 500;
      color: #37474F;
      font-size: 10px;
      letter-spacing: 0.3px;

      &--selected {
        color: #FFFFFF;
      }
    }
  }

  &__link {
    .playbook-sidebar__box {
      & + .playbook-sidebar__box:before {
        display: block;
        content: "";
        position: absolute;
        z-index: 2;
        height: 18px;
        width: 18px;
        background: #EDF1F6;
        background-image: url("~app/assets/images/link-tilt.svg");
        left: 20%;
        top: -12px;
        border-radius: 50%;
        background-position: center center;
        background-size: contain;
      }
    }
  }

}
