.playbook-detail {
  width: 417px;
  background: #f7f8f8;
  height: 100%;
  box-shadow: inset 0px 4px 20px rgba(153, 159, 183, 0.5);
  //position: fixed;
  //right: 0;
  @media (max-width: 1366px) {
    width: 350px;
  }

  > div {
    position: fixed;
    padding: 2.5636rem;
    width: inherit;
    right: 0;

    top: 0;
    bottom:0;
    overflow-y:scroll;
    margin-top: 4.7rem;

    @media (max-width: 1366px) {
      padding: 1rem;
    }
  }

}

.cover-picture {
  margin-top: $spacer;
  @media (max-height: 768px) {
    margin-top: 0;
  }

  h6 {
    margin-top: $spacer;

    @media (max-height: 768px) {
      margin-bottom: $spacer/2;
    }
  }
}

dd {
  @media (max-width: 1366px) {
    font-size: 13px !important;
  }
}

dt {
  @media (max-width: 1366px) {
    line-height: 5px !important;
  }

}

dl {
  margin: $spacer;
  @media (max-height: 768px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.divider {
  @media (max-height: 768px) {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}
