.playbook-bottombar {
  $navHeight: $playbook-bottombar-nav-height;

  background: #F7F8F8;
  //position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  //height: $playbook-bottombar-height;
  height: 269px;
  // transition: 0.5s ease-in-out;

  &--expanded {
    //height: $playbook-bottombar-height*2.5;
    height: 210px*3.5;
    overflow: visible;
    // transition: 0.5s ease-in-out;
  }
  &--position_absolute{
    position: sticky;
    // width: calc(100% - 250px) !important;
  }

  &--hidden {
    height: $navHeight;
    // transition: 0.5s ease-in-out;

    .playbook-bottombar__content {
      display: none;
    }
  }


  &__nav {
    // background: var(--secondary);#40465E
    background:#40465E;
    color: $white;
    position: relative;

    .btn {
      height: $navHeight;
      position: relative;
      color: #9599AA;
      font-size: 10px;
      letter-spacing: 0.75px;
      padding: 0 5px;
      margin: 0 0.788rem;
      // border: 2px solid transparent;
      &.active{
        color: #fff !important;

        &:after {
        position: absolute;
        bottom: -2px;
        height: 3px;
        width: 100%;
        z-index: 11;
        
        background: var(--primary);
        content: '';
        left: 50%;
        transform: translateX(-50%);
      }
    }
      }
  }

  &__content {
    position: relative;
    //overflow-y: auto;
    overflow: hidden;
  }

  &--expand {
    height: 700px;
  }

  &__toggle-container {
    width: 72px;
    height: 18px;
    background-color: #40465E;
    text-align: center;
    //position: absolute;
    z-index: 2;
    position: absolute;
    top: -18px;
    left: 20px;
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;
  }
}
