.playbook {
  height: calc(100% - #{$playbook-bottombar-height});

  &--full {
    height: calc(100% - #{$playbook-bottombar-nav-height});
  }

  &__nextBtn {
    text-align: right;
    position: absolute;
    color: #000;
    z-index: 2;
    bottom: -11%;
    cursor: pointer;
    padding-top: 11px;
    //font-weight: 600;
    letter-spacing: 1.0143px;
    right: 11%;
    padding-bottom: 20px;
    font-size: 12px;
  }

  &__prevBtn {
    color: #37474F;
    cursor: pointer;
    padding-top: 11px;
    letter-spacing: 1.0143px;
    //padding-bottom: 20px;
    font-size: 25px;
  }

  &__page-container {
    //height: 100%;
    // width: calc(100% - #{$playbook-form-width});
    position: relative;
    //overflow: auto;
    display: flex;
  }

  @media only screen and (min-width: 1040px) {
    &__page {
      $scale: .50;
      // $pageWidth: 211mm;
      // $pageHeight: 274mm;
      $pageWidth: 242mm;
      $pageHeight: 312mm;
      $jptheight: $pageHeight;
      height: $pageHeight*$scale;
      width: $pageWidth*2*$scale;
      background: $white;
      font-size: 12pt;
      border: 2px solid $gray-200;
      margin: auto;

      &--single {
        width: $pageHeight*1*$scale;

        .playbook__page-inner {
          width: $pageHeight;
        }

      }

      &-scale {
        transform: scale($scale);
        transform-origin: 0 0;
      }

      &-inner {
        height: $pageHeight;
        width: $pageWidth*2;
      }

      &-title-width {
        width: $pageWidth*2*$scale;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        color: #37474F;
        font-weight: bold;

        &--single {
          width: $pageHeight*1*$scale;
        }

      }

      h1 {
        font-size: 64pt;
      }

      h2 {
        font-size: 48pt;
      }

      h3 {
        font-size: 36pt;
      }

    }
    &__playbook-container {
      height: calc(100vh + 4rem);
    }
    &__playbook-form {
      height: calc(100vh + 4rem);
    }
  }

  @media only screen and (max-width: 1540px) and (min-width: 1536px) {
    &__page {
      $scale: .50;
      //$pageWidth: 210mm;
      //$pageHeight: 297mm;
      $pageWidth: 211mm;
      $pageHeight: 274mm;
      $jptheight: $pageHeight;
      height: $pageHeight*$scale;
      width: $pageWidth*2*$scale;
      background: $white;
      font-size: 12pt;
      border: 2px solid $gray-200;
      margin: auto;

      &--single {
        width: $pageHeight*1*$scale;

        .playbook__page-inner {
          width: $pageHeight;
        }

      }

      &-scale {
        transform: scale($scale);
        transform-origin: 0 0;
      }

      &-inner {
        height: $pageHeight;
        width: $pageWidth*2;
      }

      &-title-width {
        width: $pageWidth*2*$scale;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        color: #37474F;
        font-weight: bold;

        &--single {
          width: $pageHeight*1*$scale;
        }

      }

      h1 {
        font-size: 64pt;
      }

      h2 {
        font-size: 48pt;
      }

      h3 {
        font-size: 36pt;
      }

    }
    &__playbook-container {
      height: calc(100vh - 5rem);
    }
    &__playbook-form {
      height: calc(100vh - 5rem);
    }
  }

  @media (min-width: 1542px) {
    &__page {
      $scale: .65;
      $pageWidth: 250mm;
      $pageHeight: 267mm;
      $jptheight: $pageHeight;
      height: $pageHeight*$scale;
      width: $pageWidth*2*$scale;
      background: $white;
      font-size: 12pt;
      border: 2px solid $gray-200;
      margin: auto;

      &--single {
        width: $pageHeight*1*$scale;

        .playbook__page-inner {
          width: $pageHeight;
        }

      }

      &-scale {
        transform: scale($scale);
        transform-origin: 0 0;
      }

      &-inner {
        height: $pageHeight;
        width: $pageWidth*2;
      }

      &-title-width {
        width: $pageWidth*2*$scale;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        color: #37474F;
        font-weight: bold;

        &--single {
          width: $pageHeight*1*$scale;
        }
      }

      h1 {
        font-size: 64pt;
      }

      h2 {
        font-size: 48pt;
      }

      h3 {
        font-size: 36pt;
      }

    }

    &__playbook-container {
      height: calc(100vh - 8.72rem);
    }
    &__playbook-form {
      height: calc(100vh - 8.72rem);
    }
  }

  &__playbook-container {
    //height: calc(100vh - #{$header-height} - #{$playbook-app-secondary-header});
    position: relative;
    background: #F2F2F2;
  }

  &__playbook-form {
    width: $playbook-form-width;
    //height: calc(100vh - 44px);;
    right: 0;
    top: 0;
    overflow: auto;
  }
  &__sidebar-right-collapsed{
    height: auto;
    width: auto;
  }
}

.border-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  border-right: 2px solid #E2E2E2;
}
