.layout-header {
  .btn {
    font-size: 11px !important;
    font-weight: 500 !important;
    letter-spacing: 1px;
  }

  .view-btn .btn {
    padding: 15px 20px;
    width: 80%;
    float: right;
  }
  .dropdown-box {
    height: 100%;
    width: 80%;

    .btn {
      width: 100%;
      height: 36px;
      border-bottom: 1px solid black;
      text-transform: uppercase;
      text-align: left;
      letter-spacing: 1px;
      margin-top: 5px;

      // &:hover, &:focus {
      //   background-color: rgba(0, 0, 0, 0.1);;
      // }
    }
    div {
      width: 100%;

      button {
        font-size: 11px;
        font-weight: 500;
      }
    }

    .dropdown-toggle::after {
      float: right;
      margin-top: 0.5em;
      border-right-width: 0.4em;
      border-top-width: 0.4em;
      border-left-width: 0.4em;
    }
  }
}
