.profile-image {
  $image-size: 40px;
  height: $image-size;
  width: $image-size;

  border-radius: $image-size/2;
  overflow: hidden;
  background: $gray-300;
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: middle;

  &--white{
    background: $white;
  }
  img {
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 100%;
  }

  &--sm {
    $image-size: 20px;
    height: $image-size;
    width: $image-size;
    border-radius: $image-size/2;
    background: $gray-300;
  }

  &--lg {
    $image-size: 120px;
    height: $image-size;
    width: $image-size;
    border-radius: $image-size/2;
  }
}
