.plans-topbar {
  font-family: 'Heebo', sans-serif;
  max-width: 79.55%;
  margin: auto;
}

.navbar-right-nav {
  position: absolute;
  width: 20%;
  height: auto;
  right: 10%;
  top: 3.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Heebo", sans-serif !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  .right-nav-item {
    padding: 16px 12px;
    color: #252733;
    cursor: pointer;

    &:hover {
      // color: var(--primary);
      color: #6d6d6d;
    }

    &:active {
      // color: var(--primary);
      color: #000;
    }
  }
}

.team-goals {
  font-family: 'Heebo', sans-serif;
  max-width: 79.55%;
  margin: auto;

  &__wrapper {
    padding-top: 36px;

    .dropdown-menu {
      padding: 0;
      border-radius: 8px;
      overflow: hidden;

      .dropdown-item {
        padding: 12px 1.5rem 10px 1.5rem;

        &:active {
          background-color: var(--primary);
        }
      }
    }
  }

  &__header {
    float: left;
    margin-top: 12px;
    font-size: 21px;
    line-height: 28px;
    color: #000000;
    margin-left: 1rem;
    letter-spacing: 0.1px;

    &__dropdown {
      display: inline-block;
      vertical-align: middle;

      &__single-button {
        border-bottom: 1.2px solid #40465E;
        font-weight: normal;
        font-size: 20px;
        line-height: 29px;
        // text-transform: uppercase;
        letter-spacing: 1px;
        color: var(--primary);
        min-width: 133px;
        text-align: center;
        height: 35px;

        &:after {
          float: right;
          margin-top: 1em;
          border-right-width: 0.4em;
          border-top-width: 0.4em;
          border-left-width: 0.4em;
          font-size: 12px;
          color: var(--primary);

        }
      }

      .dropdown-item {
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        border-bottom: 1px solid #EDF1F7;
      }

      .dropdown-search{
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }

  &__submit-btn {
    background: #EDF1F7;
    border-radius: 8px;
    color: white;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.8px;
    font-weight: 500;
    height: 43px;
    margin-top: 2rem;
    padding: 12px 30px;
    margin-right: 0.25rem;

    &:hover {
      color: #fff;
    }
  }

  &__sec-btn {
    background: #ffffff;
    border-radius: 8px;
    color: white;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.8px;
    font-weight: 500;
    height: 43px;
    margin-top: 2rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 12px 30px;

    &:hover {
      color: white;
    }
  }

  &__circular-add{
    margin: 3rem 4rem;
    cursor: pointer;

    .add-next-goal {
      font-weight: 700;
      font-size: 24px;
      line-height: 35px;
      display: flex;
      align-items: center;
      letter-spacing: 0.3px;
      color: #C0C7DB;

      &:hover {
        color: #b1b7c8;
      }
    }
  }

  .card {
    border-radius: 12px 12px 0 0;
    border: 1px solid #F1F3F5;
  }

  .showAddBar > .card {
    margin-bottom: 32%;
  }

  .hideAddBar > .card {
    margin-bottom: 20%;
  }

  .on-show-detail > .card {
    margin-bottom: 40%;
  }

  .on-show-detail-addBtn > .card {
    margin-bottom: 32%;
  }

  .detail-btn-disable {
    pointer-events: none;
    color: lightgrey !important;
  }

  .detail-btn-enable {
    pointer-events: all;
  }

  &__container {
    min-width: 35rem;
    .card-body {
      /*padding-bottom: 0;*/
      padding-left: 0;
      .flex-row {
        margin-left: 10px;
      }
    }

    .preview-data{
      border: 1px solid transparent;
      padding: 16px 21px;
      &:hover{
        border: 1px solid #dcdeeb;
        border-radius: 8px;
        background: #fff;
      }

      .team-goals__bullets {
        padding-left: 0px;
    }

    .goal-unfocus {
      margin-left: 20px;
    }
    }

    .title {
      input, textarea, .data {
        font-size: 24px;
        font-weight: bold !important;
        margin-top: unset;
        padding-top: unset;
        margin-bottom: 0.1rem;
        letter-spacing: 0.3px;
      }

      textarea {
        min-height: 46px;
        height: 46px;
        resize: none;
        padding-right: 1rem;
      }

      input::placeholder, textarea::placeholder {
        color: #C0C7DB;
      }

      .data {
        /*margin-left: 36px;*/
      }

      .invalid-feedback {
        padding-left: 10px;
      }
    }
  }
  &__icons {
    border: 1px solid #F1F3F5;
    border-radius: 4px;
  }
  &__icons_white {
    background: #F5F5F5;
  }
  &__card-btn {
    background-color: #2F89FC;
    padding: 6px 6px 0 6px;
    opacity: 1;
  }

  &__card-image {
    padding: 6px 6px 0 6px;
  }
  &__counter{
    margin: 4px 10px;
  }
  &__remove-btn {
    cursor: pointer;
  }

  &__bullets {
    position: relative;
    margin-bottom: 2.25rem;
    padding-left: 9px;

    .add-bullet-dot {
      padding-left: 5px;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.3px;
      color: #C0C7DB;
      cursor: pointer;

      &:hover {
        color: #9ea4b3;
      }
    }

    ul{
      margin-bottom: 0;
      padding-inline-start: 20px;

      li {
        position: relative;

        &.editable-bullet{
          list-style: none;
        }

        .tooltip-inner {
          font-size: 12px;
          min-width: 80px;
        }

        input.form-control, textarea.form-control {
          display: inline-flex;
          padding: 5px 60px 5px 5px;
          height: auto;
          margin: 0;
          font-size: 18px;
          color: #000000;
          letter-spacing: 0.3px;
        }

        .bullet {
          textarea {
            min-height: 40px;
            height: 40px;
            resize: none;
          }

          &::before {
            content: '•';
            position: absolute;
            font-size: 28px;
            left: -20px;
          }
        }

        span {
          font-size: 18px;
          line-height: 28px;
          display: flex;
          align-items: center;
          letter-spacing: 0.3px;
          color: #000000;
        }

        .invalid-feedback{
          height: 18px;
          span {
            width: 100%;
            margin-top: 0;
            font-size: 12px;
            color: #D81F27;
            line-height: 15px;
            position: absolute;
            left: 6px;
          }
        }

        .team-goals__bullets-sub{
          ul {
            list-style-type: none;
            li {
              position: relative;

              input.form-control, span{
                font-size: 1rem;
                font-weight: 300;
                letter-spacing: 0.2px;
              }

              span{
                padding-left: 3px;
              }

              &:before {
                position: absolute;
                content: "—";
                top: 6px;
                margin-left: -15px;
              }
            }
          }

          .team-goals__bullets-btn {
            right: 30px;
            &-border {
              border: 0;
            }
          }
        }
      }
    }
  }

  &__bullets-btn {
    display: block;
    position: absolute;
    top: 4px;
    right: 0;
    cursor: pointer;

    &-border {
      border: 1px solid lightslategray;
      border-radius: 5px;
      width: 25px;
      height: 25px;
      padding: 0px 7px;
      margin-right: 4px;
    }
  }

  .loading {
    background: #f3f3f3;
    min-height: 197px;
    border-radius: 10px;
  }

  &__loader {
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
    display: inline-block;
    top: 35%;
    position: absolute;
    left: 45%;

    svg {
      fill: #fff;
    }
  }

  .drag-icon {
    cursor: move;
    margin-left: 6px;
  }

  input, input:focus, textarea, textarea:focus, .form-control {
    border-top-style: hidden !important;
    border-bottom-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
    outline: none !important;
  }
}

.team-goals-icons {
  &__heading {
    padding-bottom: 1rem;
    border-bottom: 1px solid #BDBDBD;
    font-size: 13px;
  }
  &__icon-headings {
    color: #878BAA;
    margin-bottom: 0.4rem;
  }
  &__icon-list {
    margin-bottom: 0.7rem;
    span {
      padding: 5px 5px 0 5px;
      border: 1px solid #fff;
      border-radius: 8px;
      &:hover {
        opacity: 0.6;
        cursor: pointer;
        border: 1px solid #3592FF
      }
      &.clicked {
        opacity: 0.2;
      }
    }
  }
  &__bottom-line {
    border-bottom: 2px solid #BDBDBD;
    margin-top: 1.2rem;
  }
  &__bottom-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #000000
  }

  &__bottom-description {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    margin-bottom: 12px;
  }

  &__category {
    width: 386px;
    height: 100px;
    background: white;
    border: 1px solid #F1F3F5;
    padding: 17px 28px;
    border-radius: 0px 0px 4px 4px;
    margin-left: 2rem;
    overflow: hidden;

    &.category-expand {
      min-height: 211px;
      height: auto;
    }

    .heading {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.4px;
      color: #9599AA;
    }

    .icons {
      display: inline-flex;

      app-icon{
        width: 36px;
        height: 36px;
        background: #F5F5F5;
        border: 1px solid #F5F5F5;
        padding: 5px;
        margin: 15px 20px 10px 0;
        border-radius: 2px;

        &.active {
          border: 1px solid var(--primary);
          background: #FFFFFF;
        }

        &:hover {
          background: #FFFFFF;
          box-shadow: 0px 4px 10px rgba(58, 71, 89, 0.25);
        }
      }

      &.active {
        app-icon {
          border: 1px solid var(--primary);
          background: #FFFFFF;
        }
      }

      &__detail-btn {
        color: var(--primary);
        text-transform: uppercase;
        align-items: center;
        letter-spacing: 0.3px;
        display: inline-flex;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        margin: 10px;
        cursor: pointer;
      }

      &__description {
        font-size: 14px;
        letter-spacing: 0.3px;
        width: 100%;
        p {
          color: #52575C;
        }
      }
    }
  }
}

.enabled-save-button {
  background: var(--primary);
  &:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
}

.disabled-save-button {
  background: #EDF1F7;
}

.enabled-sec-button {
  color: #252733;
  &:hover {
    color: var(--primary);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  }
}

.disabled-sec-button {
  color: lightgrey;
  pointer-events: none;
}

.card-kebab-menu {
  .dropdown-toggle::after {
    display: none;
  }

  .btn--custom-flat {
    background: transparent;

    &:hover {
      svg {
        path {
          fill: #252733;
          stroke: #252733;
        }
      }
    }


  }
}

@media only screen and (max-width: 996px) {
  .navbar-right-nav {
    width: auto;
    right: 2%;
    top: 3.7rem;
    font-size: 11px;
    .right-nav-item {
      padding: 16px 12px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .plans-topbar{
    max-width: 100%;
    margin: auto;
  }

  .navbar-right-nav {
    width: auto;
    right: 2%;
    top: 3.7rem;
    font-size: 10px;
    .right-nav-item {
      padding: 16px 4px;
    }
  }

}
