.table {
  margin-bottom: 0;
  background: $white;
  font-size: 14px;

  th, td {
    padding-left: 15px;
  }

  &--header-sticky {
    thead {
      th, td {
        position: sticky;
        top: 0;
        background: $gray-100;
        z-index: 2;
        padding: 0.8rem;
        color: #9599AA;
        font-weight: 500;
        border-top: 0;
        border-bottom: 1px solid $gray-500;
      }
    }
  }

  &__detail {
    > td {
      padding: 0;
    }
  }
}


.table-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: $spacer;

  &--border {
    border: 1px solid $gray-500;
    border-radius: 8px;
  }
}
