.table-header {
  position: relative;
  background: #FBFCFC;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #9599AA;


  &--order {
    padding-right: $spacer*1.5;
    cursor: pointer;

    &:hover {
      background: #FBFCFC;
    }

    &:after, &:before {
      display: block;
      content: '';
      position: absolute;
      left: $spacer*4;
      top: 50%;
      transform: translateY(-50%);
    }

    &:after {
      border: 5px solid transparent;
      border-top: 5px solid #C0C7DB;
      margin-top: 6px;
    }

    &:before {
      border: 5px solid transparent;
      border-bottom: 5px solid #C0C7DB;
      margin-top: -6px;
    }


    &-desc {
      &:after {
        border-top: 5px solid $gray-900;
        margin-top: 6px;
      }

      &:before {
        //border-bottom: 5px solid transparent;
      }
    }

    &-asc {
      &:after {
        //border-top: 5px solid transparent;
      }

      &:before {
        border-bottom: 5px solid $gray-900;
        margin-top: -6px;
      }
    }

  }
}
