.year-quarter {
  color: $gray-600;

  &__btn-quarter {
    color: $gray-600;
    border-radius: 25px;
    border: 2px solid transparent;

    &--active {
      border: 2px solid var(--secondary);
    }
  }

  &__dropdown {
    display: inline-block;
    vertical-align: middle;

    &__single-button {
      padding-left: $spacer;
      padding-right: $spacer;
      background: $gray-600;
      border-radius: 25px;
      margin-left: 20px;
      color: $white;
    }

    &-menu {
      border-radius: 0;
      padding: 0;
      background: $gray-700;
      color: $white;
    }
  }
}
