main {
  background: #FDFDFD;
}

.main-content {
  border-bottom: 1px solid black;
}

.back-text {
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 50px;
  font-size: 16px;
}

.initiative-icons {
  &__heading {
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    font-size: 12px;
    font-weight: 500;
  }

  &__icon-headings {
    font-size: 13px;
    font-weight: 600;
    color: #878BAA;
    margin-bottom: 0.4rem;
  }

  &__icon-list {
    margin-bottom: 0.7rem;

    span {
      margin: 5px 14px 0 5px;
      padding: 5px 8px 0 8px;
      border: 1px solid #FFF;
      border-radius: 4px;
      &:hover{
        opacity: 0.6;
        cursor: pointer;
        border: 1px solid #2F89FC;
        box-shadow: 0 4px 10px rgba(0,0,0,0.25);
      }
      &.selected {
        opacity: 0.2;
      }
      &.clicked{
        opacity: 0.6;
        border: 1px solid #2F89FC;
        box-shadow: 0 4px 10px rgba(0,0,0,0.25);
      }
    }
  }

  &__bottom-line {
    border-bottom: 1px solid black;
    margin-top: 1.2rem;
    width: 90%;
  }

  &__bottom-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #000000
  }

  &__bottom-description {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    margin-bottom: 12px;
  }

  &__bottom-line {
    border-bottom: 1px solid black;
    margin-top: 1.2rem;
  }
}

.bottom-content {
  max-width: 75%;
  margin: 0 auto;
}

.marker-info {
  margin: auto 6%;
  font-size: 13px;
  font-weight: 500;
}

.marker-information {
  flex: 1;
}

.web-main {
  .marker-information {
    margin-left: 10%;
  }
}

.marker-icon {
  width: 7%;
  height: 75px;
  background: #FFF;
  min-width: 80px;
  margin: 6px 8px;
  border-radius: 5px;
}

.initiative {
  background: #F5F5F5;
  border-radius: 5px;
}

#save-btn {
  width: 13rem;
}

#container {
  width: 100%;
  height: 400px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 7px;
  touch-action: none;
}

#item {
  width: 100px;
  height: 100px;
  background-color: rgb(245, 230, 99);
  border: 10px solid rgba(136, 136, 136, .5);
  border-radius: 50%;
  touch-action: none;
  user-select: none;
}

#item:active {
  background-color: rgba(168, 218, 220, 1.00);
}

#item:hover {
  cursor: pointer;
  border-width: 20px;
}

.marker {
  //padding: 12px 5px 0 5px;
  //border: 1px solid white;
  //background: #FFFFFF;
  //
  //&:hover {
  //  opacity: 0.7;
  //  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  //  border-radius: 4px;
  //}
}

.counter {
  font-size: 3rem;
  position: absolute;;
}

.drop-area {
  width: 5.2rem;
  opacity: 0.9;
  position: relative;
  top: 17px;
  left: 19px;
}

.visual-mark {
  &__heading {
    font-style: normal;
    font-weight: 300;
    font-size: 52px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
  }

  &__sub-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #000000;
  }

}

::ng-deep {
  .tooltip.show {
    opacity: 1 !important;
  }
  .info-tooltip .tooltip-inner {
    background: #FFFFFF;
    border: 0.5px solid #DADEEB;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    opacity: 1 !important;
  }
  .info-tooltip .arrow::before {
    top: -0.09rem;
    left: -0.75rem;
    border-bottom-color: #DADEEB;
    border-width: 0 12px 12px;
    z-index: -1000000;
    position: absolute;
  }
  .info-tooltip .arrow {
    top: -2px;
    left: 45% !important;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 0 10px 10px;
  }
}

.mobile-main {
  display: none !important;
}

.web-main {
  display: block !important;
}

@media only screen and (max-width: 768px) {
  .web-main {
    display: none !important;
  }

  .mobile-main {
    display: block !important;
    margin-top: 2rem;
    min-height: 86.5vh;
  }

  .mark-selector {
    position: fixed;
    background: #fff;
    z-index: 250;
    height: 90vh;
    top: 10vh;
    width: 100vw;
    overflow: hidden;
    padding: 0;
    margin: 0;
    transition: 0.5s ease-in-out;
  }

  .hide-mark-selector {
    left: 100vw;
  }

  .show-mark-selector {
    left: 0vw;
  }

  .add-icon {
    width: 100%;
  }

  #bottom-content {
    min-width: 92%;
    overflow: hidden;
  }

  .visual-mark__sub-heading {
    text-align: left !important;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    font-weight: 500 !important;
    padding: 0 6px;
  }

  .back-button {
    position: absolute;
    top: 20px;
    cursor: pointer;
  }

  .back-text {
    top: -5px;
    left: 36px;
  }

  #marker-information {
    margin: 0 6px;
  }

}

::ng-deep {
  @media only screen and (max-width: 1140px) {
    #main-content {
      max-width: 90% !important;
    }
    .bottom-content {
      max-width: 80% !important;
    }
  }

  @media only screen and (max-width: 960px) {
    #main-content {
      max-width: 100% !important;
    }

    .bottom-content {
      max-width: 90% !important;
    }
  }
}

