.control-label {
  margin-right: 40px;
}

.profile-card {
  // height: 628px;
  height: auto;
  width: 100%;
  border: 1px solid #DADEEB;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.my-profile-img {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullname {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 28px;
  .form-group {
    margin: 0 !important;
  }

  ::ng-deep .form-control {
    // border: none !important;
    box-sizing: border-box;
    font-size: 14px;
    color: #121212;
    text-align: center !important;
    // padding: 4px 6px !important;
    margin: 0px !important;
    height: 32px !important;

    // &:focus {
    // color: #2F89FC !important;
    // }
  }

  ::ng-deep input[disabled], ::ng-deep input[readonly], form.is-readonly textarea[disabled] {
    cursor: text;
    background-color: #fff;
    border-color: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    outline-color: transparent;
    box-shadow: none;
    font-weight: 700;
    font-size: 19px;
    text-align: center !important;
    line-height: 28px;
  }
}

.profile-detail {
  text-align: left;
  margin: 5px 0;

  .data-label {
    font-size: 11px;
    color: #C0C7DB;
  }

  .profile-data {
    font-size: 14px;
  }

  .form-group {
    margin-bottom: 0 !important;
  }

  label {
    font-size: 11px;
    color: #C0C7DB;
    font-weight: 500;
  }

  ::ng-deep .form-control {
    // border: none !important;
    box-sizing: border-box;
    font-size: 14px;
    color: #121212;
    padding: 6px 6px !important;
    margin: 8px 0px !important;
    height: 32px !important;

    // &:focus {
    // color: #2F89FC !important;
    // }
  }

  ::ng-deep input[disabled], ::ng-deep input[readonly], form.is-readonly textarea[disabled] {
    cursor: text;
    background-color: #fff;
    border-color: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    outline-color: transparent;
    box-shadow: none;
  }

  ::ng-deep input[type=date][readonly] {
    background:#fff;
  }
  
}

input[readonly] {
  background-color: #fff !important;
}

.full {
  width: 85%;
}

.half {
  display: inline-block;
  width: 42%;
}

.dates {
  width: 85%;
}

.bio {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 28px;
  width: 85%;
}

.bio-form {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 28px;
  width: 85%;
  height: auto;
  margin-bottom: 0;

  &__text-area, &__text-area:focus {
    display: flex;
    min-height: 122px;
    // text-align: center;
    overflow: hidden;
    background-color: #FBFCFC;
    
  }
  & textarea::placeholder {
      transform: translate(32%, 32px);
  }

  .form-group {
    margin-bottom: 10px !important;
  }
}

.role-row {
  font-size: 14px;
  border-bottom: 1px solid #dadeeb;
  padding: 1rem 0;
}

.edit-btn, ::ng-deep .edit-btn .btn {
  // width: 48px;
  height: 20px;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 16px;
  color:var(--primary);
  border-radius: 4px;
  padding: 2px 10px !important;
  box-shadow: none;
  cursor: pointer;
  
}

.edit-btn.btn-light {
  background-color: #F7F8F8;
  border-color: #f7f8f9;
}

::ng-deep .edit-btn .btn {
  padding: 3px 8px !important;
  height: auto !important;
  color: gray;
}

.role-settings {
  &--disabled {
    color: rgb(204, 204, 204) !important;
  }

  ::ng-deep .custom-checkbox {
    padding-left: 1.85rem;
  }
}


.form-group ::ng-deep .ql-toolbar.ql-snow {
  border-radius: 10px 10px 0 0;
  background-color: #FFF;

  .ql-stroke, .ql-fill {
    stroke: #999;
  }
}

.empty-detail {
  background: #FBFCFC;;
  color: #C0C7DB;
  text-align: center;
  letter-spacing: 0.4px;
  height: 112px;
  padding: 40px 0;
  border: 1px solid #EDF1F7;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

.bio-text-box {
  background: #FBFCFC;;
  color: #252733;
  text-align: left;
  padding: 1rem;
  border: 1px solid #EDF1F7;
  border-radius: 8px;
  cursor: pointer;

  ::ng-deep p {
    margin: 0 !important;
    letter-spacing: 0.4px;
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 14px;
  }
}

.profile-save-btn ::ng-deep .btn {
  height: 40px;
  width: 89px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}