<div class="col-md-12">
  <div class="initiative-card mb-4">
    <ng-container *ngIf="goalYearCollection.length;else noGoalContent">
      <form [formGroup]="initiativeForm">
        <div class="row mb-3 mt-3">
          <p class="initiative-card__header">Creating Annual Goals for
          </p>
          <div class="initiative-card__header__dropdown mx-2 my-1" ngbDropdown>
            <button class="btn initiative-card__header__dropdown__single-button" ngbDropdownToggle type="button">
              {{initiativeForm.value.year}}
            </button>
            <div class="initiative-card__header__dropdown__dropdown-menu" ngbDropdownMenu>
              <a (click)="onYearChange(year)" *ngFor="let year of goalYearCollection"
                 class="initiative-card__header__dropdown__dropdown-menu-item"
                 ngbDropdownItem>
                {{year}}
              </a>
            </div>
          </div>
        </div>
        <div id="printSectionId">
          <div *ngFor="let doc of initiativeDataArray.controls; let i = index" class="initiative-card__form"
               formArrayName="initiativeData">
            <ng-container [formGroupName]="i">
              <div class="mb-3">
                <ng-container>
                  <div [style.visibility]="placeHereShowCondition(i)?'':'hidden'"
                       class="initiative-card__start_here_line">
                    <hr/>
                    <span
                      (dragleave)="dragLeaveEvent($event)"
                      (dragover)="dragOver($event)"
                      (drop)="dropEvent($event)"
                      [attr.data-card_id]="i"
                      class="initiative-card__start_here_line_text"
                      id="initiative_drop_{{i}}"> PLACE HERE</span>
                  </div>
                </ng-container>
                <div (dragleave)="dragLeaveEvent($event)" (dragover)="dragOver($event)"
                     (drop)="dropEvent($event, 'card')"
                     [attr.data-card_id]="i"
                     class="card-div" id="form_card_{{i}}">
                  <app-card (click)="onAnnualInitiativeCardClick(i)"
                            [className]="i === currentlyEditing? '' : 'focused'">
                    <div class="d-flex  flex-column flex-md-row">
                      <div class="d-flex  flex-column">
                        <ng-container *ngIf="doc.value.icon;">
                          <div class="d-flex  flex-row justify-content-start  mb-2 justify-content-md-around">
                        <span (click)="removeIcon(i)"
                              class="initiative-card__icon initiative-card__icon-left initiative-card__icon-selected">
                          <app-icon icon='cross' size="md" type="primary"></app-icon>
                        </span>
                            <span
                              (click)="addBtnClick(content, i)"
                              class="initiative-card__icon initiative-card__icon-right initiative-card__icon-selected">
                          <app-icon icon='{{doc.value.icon}}' size="md" type="black"></app-icon>
                        </span>
                          </div>
                        </ng-container>
                        <ng-container *ngIf="!doc.value.icon">
                          <div class="d-flex  flex-row justify-content-start  mb-2 justify-content-md-around">
                        <span (click)="addBtnClick(content, i)"
                              class="initiative-card__icon initiative-card__icon-btn-color initiative-card__icon-left"
                        >
                          <app-icon icon='add' size="md" type="white"></app-icon>
                        </span>
                            <span class="initiative-card__icon initiative-card__icon-right">
                          <app-icon icon='blueGalary' type="md"></app-icon>
                        </span>
                          </div>
                        </ng-container>
                        <div class="d-none d-md-block">
                          <div class="d-flex  justify-content-center">
                      <span (dragend)="dragEndEvent($event)" (dragstart)="dragStartEvent($event)"
                            [attr.data-card_id]="i"
                            class="initiative-card__dragIcon" draggable="true">
                        <app-icon icon='sixDots' size="md"></app-icon></span>
                          </div>
                        </div>
                      </div>
                      <div class=" flex-grow-1 ml-md-4">
                        <div class="d-flex flex-row initiative-card__form-group">
                          <span class="initiative-card__form-group-number mr-2">{{i + 1}}</span>
                          <div class="d-flex flex-column flex-fill initiative-card__form-group-form-element">
                            <app-input (keydown.enter)="enterKeyPressedEvent($event, i)"
                                       [fixedHeight]="false"
                                       class="title" formControlName="title"
                                       id="initiative-title-{{i}}"
                                       placeholder="Annual Goal title..."
                                       type="textarea"
                            ></app-input>
                            <app-input
                                       [fixedHeight]="false"
                                       class="card-form-description"
                                       formControlName="description"
                                       id="initiative-description-{{i}}"
                                       placeholder="Add the description of the initiative here.."
                                       type="textarea"
                            ></app-input>
                          </div>
                          <ng-container>
                            <div class="plan-actions" ngbDropdown>
                          <span ngbDropdownToggle>
                            <app-icon icon='dotMenuGray' size="sm" type="primary-white"></app-icon>
                          </span>
                              <div class="dropdown-menu plan-actions-menu" ngbDropdownMenu>
                                <button (click)="editInitiativeCard(i)" class="plan-actions-menu--item" ngbDropdownItem>
                                  EDIT
                                </button>
                                <button (click)="deleteInitiativeCard(i)" class="plan-actions-menu--item"
                                        ngbDropdownItem>DELETE
                                </button>
                                <button (click)="duplicateInitiativeCard(i)" class="plan-actions-menu--item"
                                        ngbDropdownItem>DUPLICATE
                                </button>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </app-card>
                </div>
                <ng-container *ngIf="totalFormCard == i+1">
                  <div [style.visibility]="placeHereShowCondition(totalFormCard)?'':'hidden'"
                       class="initiative-card__start_here_line">
                    <hr/>
                    <span (dragleave)="dragLeaveEvent($event)"
                          (dragover)="dragOver($event)"
                          (drop)="dropEvent($event)"
                          [attr.data-card_id]="totalFormCard"
                          class="initiative-card__start_here_line_text"
                          id="initiative_drop_{{totalFormCard}}"
                    > PLACE HERE</span>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
        <ng-container *ngIf="totalFormCard">
          <div class="d-flex ml-md-5 mt-2">
            <button (click)="addInputField({})" class="btn initiative-card__next-goal-btn">
              <app-icon icon='add' size=xs type="light-gray"></app-icon>
              <span class="ml-2 ">Next Goal Title ...</span>
            </button>
          </div>
          <div class="d-flex flex-row flex-wrap mt-5">
            <button type="button" class="btn goals-btn__sec-btn mt-4"
                    [ngClass]="isFormTitleFilled() ? 'goals-btn__disabled-sec-btn btn-disabled' : 'goals-btn__enabled-sec-btn'"
                    (click)="initiativeSubmitBtnClicked('preview')"
                    [disabled]="isFormTitleFilled()">PREVIEW
            </button>
            <button type="button" class="btn goals-btn__sec-btn mt-4 mr-3"
                    [ngClass]="isSomethingFilledInTheForm() ? 'goals-btn__disabled-sec-btn' : 'goals-btn__enabled-sec-btn'"
                    [disabled]="isSomethingFilledInTheForm()" (click)="initiativeSubmitBtnClicked('draft')">SAVE AS DRAFT
            </button>
            <button type="button" class="btn  goals-btn__primary-btn mt-4"
                    [ngClass]="isFormTitleFilled() ? 'goals-btn__disabled-primary-btn' : 'goals-btn__enabled-primary-btn'"
                    [disabled]="isFormTitleFilled()" (click)="initiativeSubmitBtnClicked('publish')">PUBLISH
            </button>
          </div>
        </ng-container>
      </form>
    </ng-container>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
    <div class="initiative-icons">
      <div class="d-inline-flex">
        <div (click)="modal.close('reject')" class="d-flex initiative-icons__back-button justify-content-start">
        <span class="initiative-icons__back-button-icon">
          <app-icon icon='backspace' size="md" type="white"></app-icon>
        </span>
          <span class="ml-4 h6 font-weight-normal">BACK</span>
        </div>
      </div>
      <div class="text-uppercase initiative-icons__heading text-center">Add visual marks to your goals
        <span
          [ngbTooltip]="iconInfo"
          placement="bottom"
          tooltipClass="info-tooltip"
        >
          <app-icon icon='info-blue' size="sm"></app-icon>
        </span>
      </div>
      <div class="d-flex flex-column ml-3">
        <ng-container *ngFor="let lists of iconsLists">
          <span class="d-flex initiative-icons__icon-headings text-uppercase">{{lists.name}}</span>
          <div class="d-flex flex-row justify-content-between initiative-icons__icon-list">
            <ng-container *ngFor="let icon of lists.icons;">
              <ng-container *ngIf="isSelectedOrClickedIcon(icon) === 'clicked'; else notClicked">
                <span class="{{icon}} selected clicked" (click)="iconClick(icon)">
                <app-icon icon="{{icon}}" size="lg" type="black"></app-icon>
                </span>
              </ng-container>
              <ng-template #notClicked>
                 <span class="{{icon}}" (click)="iconClick(icon)" [class.selected]="isSelectedOrClickedIcon(icon) === 'selected'" >
                  <app-icon icon="{{icon}}" size="lg" type="black"></app-icon></span>
              </ng-template>
            </ng-container>
          </div>
        </ng-container>
        <div class="d-flex flex-row justify-content-center mb-2">
          <button (click)="modal.close('accept')" [disabled]="!icon" class="btn btn-primary btn-md mt-2">Save &
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #iconInfo>
  <div class="d-flex flex-column">
    <p class="text-uppercase initiative-icons__bottom-heading text-center">Why visual marks?</p>
    <span class="initiative-icons__bottom-description text-center">The marks above are categorized under each of the 4 pillars of the Blaast framework</span>
    <span class="initiative-icons__bottom-description text-center">Adding visuals marks make your initiatives memorable to team members</span>
    <span class="initiative-icons__bottom-description text-center">These marks will be used throughout the year</span>
  </div>
</ng-template>

<ng-template #planActions>
  <div class="d-flex flex-column plan-actions">
    <span class="plan-actions--item">EDIT</span>
    <span class="plan-actions--item">DELETE</span>
    <span class="plan-actions--item">DUPLICATE</span>
  </div>
</ng-template>

<ng-template #noGoalContent>
  <div class="row mb-3 mt-3">
    <p class="initiative-card__header">No Annual Goals record found</p>
  </div>
</ng-template>

