.initiative-card{
  margin-left: 1rem;
  &__header {
    float: left;
    margin-top: 12px;
    font-size: 21px;
    line-height: 28px;
    color: #000000;
    margin-left: 1rem;
    letter-spacing: 0.1px;

    &__dropdown {
      display: inline-block;
      vertical-align: middle;
      &__dropdown-menu{
        padding-bottom: 0;
        padding-top: 0;
        border-radius: 8px;
        overflow: hidden;
        &-item{
          padding: 12px 1.5rem 10px 1.5rem;
          &:not(:last-child){
            border-bottom: 1px solid #ECECEC;
          }
          &:active{
            background-color: var(--primary);
          }
        }
      }

      &__single-button {
        border-bottom: 1.2px solid #40465E;
        font-weight: normal;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 1px;
        color: var(--primary);
        min-width: 133px;
        text-align: center;
        height: 35px;

        &:after {
          float: right;
          margin-top: 1em;
          border-right-width: 0.4em;
          border-top-width: 0.4em;
          border-left-width: 0.4em;
          font-size: 12px;
          color: #40465E;

        }
      }
      .dropdown-item {
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        padding-bottom: 0.75rem;
        border-bottom: 1px solid #EDF1F7;
      }
    }
  }
  &__next-goal-btn{
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.3px;
    color: #C0C7DB;
  }
  &__circular-add{
    position: absolute;
    bottom: -23px;
    left: 5%;
  }
  &__form-index{
    position: absolute;
    top: 20px;
    left: 16%;
  }
  &__form-title{
    font-weight: 700;
  }
  &__icons{
    background-color: rgba(47,137,207, 0.1)
  }
  &__icons_white {
    background: #F5F5F5;
  }
  &__card-btn{
    background-color: #2F89FC;
    padding: 6px 6px 0 6px;
    opacity: 1;
  }

  &__icon{
    padding: 6px 6px 0 6px;
    background: #E3EDF8;
    margin-top: auto;
    margin-bottom: auto;
    &-btn{
      &-color{
        background-color: #2F89FC;
      }
    }
    &-left{
      border-bottom-left-radius:4px;
      border-top-left-radius:4px;
    }
    &-right{
      border-bottom-right-radius:4px;
      border-top-right-radius:4px;
    }
    &-selected{
      background-color: white;
    }
  }
  &__remove-btn{
    cursor: pointer;
  }
  &__dragIcon{
    cursor: pointer;
    margin-top: 12px;
  }

  &__form-group {
    position: relative;
    &-number{
      position: absolute;
      top: 7px;
    }
    &-form-element{
      margin-left:17px;
    }
  }
  [id^="form_card_"] {
    border : 1px solid #F7F8F8;
    border-radius : 7px;
  }

  select, select:focus {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    outline: none;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2F89FC;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-bottom-style: groove;
    border-bottom-color: #40465E;
  }
  [id^="initiative_drop_"] {
    border : 1px solid #F7F8F8;
    border-radius : 7px;
  }

  &__start_here{
    &_line{
      position: relative;
      margin-bottom: 20px;
      hr {
        border-bottom: 2px solid #2F89FC;
      }
      &_text{
        position: absolute;
        top: -14px;
        left: 42%;
        padding: 5px 15px;
        background-color: #F7F8F8;
        color: #2F89FC;
      }
    }
  }
}

.initiative-icons{
  font-family: "Heebo", sans-serif;
  font-style: normal;
  background-color: #FFFFFF;
  &__back-button{
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    line-height:19px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    &-icon {
      position: absolute;
      top: 17px;
      left: 30px;
    }
  }
  &__heading{
    margin-top: 1rem;
    margin-bottom: 1.3rem;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid #000;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    line-height: 19px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }
  &__icon-headings{
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height:19px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #878BAA;
    margin-bottom: 0.4rem;
  }



  &__icon-list{
    margin-bottom: 0.7rem;
    span{
      background-color: #FFFFFF;
      padding: 8px;
      border: 1px solid #FFFFFF;
      border-radius: 4px;
      width: 45px;
      height: 45px;
      &:hover{
        opacity: 0.6;
        cursor: pointer;
        border: 1px solid #2F89FC;
        box-shadow: 0 4px 10px rgba(0,0,0,0.25);
      }
      &.selected {
        opacity: 0.2;
      }
      &.clicked{
        opacity: 0.6;
        border: 1px solid #2F89FC;
        box-shadow: 0 4px 10px rgba(0,0,0,0.25);
      }

    }
  }
  &__bottom-line{
    border-bottom: 2px solid #BDBDBD;
    margin-top: 1.2rem;
  }
  &__bottom-heading{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #000000
  }

  &__bottom-description{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    margin-bottom: 12px;
  }
  &__submit-btn{
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height:19px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #FFF;
    align-self: center;
    margin: 10px 0;

    padding: 12px 30px;
    background-color: #2F89FC;
    border-radius: 8px;
  }
}
.plan-actions {
  &-menu{
    padding-bottom: 0;
    padding-top: 0;
    &--item{
      padding: 8px;
      &:active{
        background-color: var(--primary);
        border: unset;
      }
      &:not(:last-child){
        border-bottom: 1px solid #ECECEC;
      }
    }
  }
}

:host ::ng-deep{
  .dropdown-toggle::after {
    color: var(--primary);
  }

  .plan-actions>.dropdown-toggle::after {
    display:none;
  }

  input, input:focus, textarea, textarea:focus, .form-control {
    border-top-style: hidden !important;
    border-bottom-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
    outline: none !important;
  }
  .initiative-card__form-group .title input::placeholder, textarea::placeholder {
    color: #C0C7DB;
  }

}

.focused {
  &::ng-deep {
    div, textarea, input {
      background: transparent;
    }
  }
}

::ng-deep{
  .tooltip.show {
    opacity: 1 !important;
  }

  .info-tooltip .tooltip-inner {
    background: #FFFFFF;
    border: 0.5px solid #DADEEB;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    opacity: 1 !important;
  }

  .info-tooltip .arrow::before {
    top: -0.09rem;
    left: -0.75rem;
    border-bottom-color: #DADEEB;
    border-width: 0 12px 12px;
    z-index: -1000000;
    position: absolute;
  }
  .info-tooltip .arrow {
    top: -2px;
    left: 45% !important;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 0 10px 10px;
  }

  .card-div .card {
    border: unset;
  }
  .initiative-card__form-group-form-element{
    .title textarea.form-control{
    font-weight: 700!important;
    height: 28px;
    min-height: unset;
    padding: unset;
    margin-left: 9px;
    margin-top: 7px;
    }
  }

  .card-form-description textarea.form-control{
    margin: unset;
  }
}

.goals-btn__disabled-primary-btn, .goals-btn__disabled-sec-btn{
  opacity: 0.2 !important;
}
