<div class="page-container">
  <div class="page-tag">TEAMS</div>
  <div class="left-page">
    <div class="title-row">
      <span *ngIf="page?.data?.businessDevTwo ; else header">{{page?.data?.businessDevTwo}}</span>
    </div>

    <div class="stat-row">
      <div class="circle-container">
        <div class="stat-circle stat-circle--red">
          <div class="circle-graph">
            <img src="app/assets/images/playbook/graph-point.png" alt="Point Graph" height="80pt" width="80pt">
          </div>
          <div class="stat-circle-content">
            <div class="table-header" (click)="loadForm('single-line-text', 'grossGoalHeader')">
              <span *ngIf="page?.data?.grossGoalHeader ; else newGrossGoalHeader">{{page?.data?.grossGoalHeader?.text}}</span>
            </div>
            <div class="table-row">
              <div class="table-col" (click)="loadForm('single-line-text', 'grossGoalMonth1')">
                <span *ngIf="page?.data?.grossGoalMonth1 ; else newGrossGoalMonth1">{{page?.data?.grossGoalMonth1?.text}}</span>
              </div>
              <div class="table-col" (click)="loadForm('single-line-text', 'grossGoalMonth1Num')">
                <span *ngIf="page?.data?.grossGoalMonth1Num ; else newGrossGoalMonth1Num">{{page?.data?.grossGoalMonth1Num?.text}}</span>
              </div>
            </div>
            <div class="table-row">
              <div class="table-col" (click)="loadForm('single-line-text', 'grossGoalMonth2')">
                <span *ngIf="page?.data?.grossGoalMonth2 ; else newGrossGoalMonth2">{{page?.data?.grossGoalMonth2?.text}}</span>
              </div>
              <div class="table-col" (click)="loadForm('single-line-text', 'grossGoalMonth2Num')">
                <span *ngIf="page?.data?.grossGoalMonth2Num ; else newGrossGoalMonth2Num">{{page?.data?.grossGoalMonth2Num?.text}}</span>
              </div>
            </div>
            <div class="table-row">
              <div class="table-col" (click)="loadForm('single-line-text', 'grossGoalMonth3')">
                <span *ngIf="page?.data?.grossGoalMonth3 ; else newGrossGoalMonth3">{{page?.data?.grossGoalMonth3?.text}}</span>
              </div>
              <div class="table-col" (click)="loadForm('single-line-text', 'grossGoalMonth3Num')">
                <span *ngIf="page?.data?.grossGoalMonth3Num ; else newGrossGoalMonth3Num">{{page?.data?.grossGoalMonth3Num?.text}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="stat-circle stat-circle--black">
          <div class="circle-graph">
            <img src="app/assets/images/playbook/graph-point.png" alt="Point Graph" height="80pt" width="80pt">
          </div>
          <div class="stat-circle-content">
            <div class="table-header" (click)="loadForm('single-line-text', 'netGoalHeader')">
              <span *ngIf="page?.data?.netGoalHeader ; else newNetGoalHeader">{{page?.data?.netGoalHeader?.text}}</span>
            </div>
            <div class="table-row">
              <div class="table-col" (click)="loadForm('single-line-text', 'netGoalMonth1')">
                <span *ngIf="page?.data?.netGoalMonth1 ; else newNetGoalMonth1">{{page?.data?.netGoalMonth1?.text}}</span>
              </div>
              <div class="table-col" (click)="loadForm('single-line-text', 'netGoalMonth1Num')">
                <span *ngIf="page?.data?.netGoalMonth1Num ; else newNetGoalMonth1Num">{{page?.data?.netGoalMonth1Num?.text}}</span>
              </div>
            </div>
            <div class="table-row">
              <div class="table-col" (click)="loadForm('single-line-text', 'netGoalMonth2')">
                <span *ngIf="page?.data?.netGoalMonth2 ; else newNetGoalMonth2">{{page?.data?.netGoalMonth2?.text}}</span>
              </div>
              <div class="table-col" (click)="loadForm('single-line-text', 'netGoalMonth2Num')">
                <span *ngIf="page?.data?.netGoalMonth2Num ; else newNetGoalMonth2Num">{{page?.data?.netGoalMonth2Num?.text}}</span>
              </div>
            </div>
            <div class="table-row">
              <div class="table-col" (click)="loadForm('single-line-text', 'netGoalMonth3')">
                <span *ngIf="page?.data?.netGoalMonth3 ; else newNetGoalMonth3">{{page?.data?.netGoalMonth3?.text}}</span>
              </div>
              <div class="table-col" (click)="loadForm('single-line-text', 'netGoalMonth3Num')">
                <span *ngIf="page?.data?.netGoalMonth3Num ; else newNetGoalMonth3Num">{{page?.data?.netGoalMonth3Num?.text}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="spotlight-row">
      <div class="spotlight-row__image" (click)="loadForm('image-form', 'deptSpotlightImage')">
        <div class="bd-image-background" [style.backgroundImage]="'url(' + page?.data?.deptSpotlightImage?.imageurl  + ')'"
             *ngIf="page?.data?.deptSpotlightImage?.imageurl; else spotlightImg"></div>
      </div>
      <div class="spotlight-row__text">
        <div class="bDev-title" (click)="loadForm('single-line-text', 'deptSpotlightTitle')">
          <span *ngIf="page?.data?.deptSpotlightTitle?.text else newSpotlightTitle">{{page?.data?.deptSpotlightTitle?.text}}</span>
        </div>
        <div class="bDev-content" (click)="loadForm('multi-line-text', 'deptSpotlightBody')">
          <span *ngIf="page?.data?.deptSpotlightBody?.text else newSpotlightContent">{{page?.data?.deptSpotlightBody?.text}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="right-page">
    <div class="first-row">
      <div class="first-content-header" (click)="loadForm('single-line-text', 'bdProcessTitle')">
        <span class="bDev-title" *ngIf="page?.data?.bdProcessTitle?.text; else newProcessImprovements">
          {{page?.data?.bdProcessTitle?.text}}
        </span>
      </div>
      <div class="first-content-body">
        <div class="content-col1">
          <ol start="1">
            <li>
              <div (click)="loadForm('single-line-text', 'title1')" style="font-weight: bold">
                <span *ngIf="page?.data?.title1?.text else newContentTitle">{{page?.data?.title1?.text}}</span>
              </div>

              <ol type="a" class="nested-ol" *ngIf="page?.data?.processImprovements1?.texts?.length else processImprovementsSubtitle1">
                <li *ngFor="let item of page?.data?.processImprovements1?.texts"
                    (click)="loadForm('array-form', 'processImprovements1')" style="padding: 5pt 0;">
                  <span>{{item}}</span>
                </li>
              </ol>
            </li>
          </ol>
        </div>

        <div class="content-col2">
          <ol start="2">
            <li>
              <div (click)="loadForm('single-line-text', 'title2')" style="font-weight: bold">
                <span *ngIf="page?.data?.title2?.text else newContentTitle">{{page?.data?.title2?.text}}</span>
              </div>
              <ol type="a" class="nested-ol" *ngIf="page?.data?.processImprovements2?.texts?.length else processImprovementsSubtitle2">
                <li *ngFor="let item of page?.data?.processImprovements2?.texts"
                    (click)="loadForm('array-form', 'processImprovements2')" style="padding: 5pt 0;">
                  <span>{{item}}</span>
                </li>
              </ol>
            </li>
          </ol>
        </div>
        <div class="content-col3">
          <ol start="3">
            <li>
              <div (click)="loadForm('single-line-text', 'title3')" style="font-weight: bold">
                <span *ngIf="page?.data?.title3?.text else newContentTitle">{{page?.data?.title3?.text}}</span>
              </div>
              <ol type="a" class="nested-ol" *ngIf="page?.data?.processImprovements3?.texts?.length else processImprovementsSubtitle3">
                <li *ngFor="let item of page?.data?.processImprovements3?.texts"
                    (click)="loadForm('array-form', 'processImprovements3')" style="padding: 5pt 0;">
                  <span>{{item}}</span>
                </li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="second-row">
      <div class="second-row-col1">
        <div class="second-content-header" (click)="loadForm('single-line-text', 'bdExistingGrowthTitle')">
          <span class="bDev-title" *ngIf="page?.data?.bdExistingGrowthTitle?.text; else newExistingGrowthTitle">
            {{page?.data?.bdExistingGrowthTitle?.text}}
          </span>
        </div>
        <div class="second-content-body">
          <ol start="1">
            <li>
              <div (click)="loadForm('single-line-text', 'row2title1')" style="font-weight: bold">
                <span *ngIf="page?.data?.row2title1?.text else newContentTitle">{{page?.data?.row2title1?.text}}</span>
              </div>
              <ol type="a" class="nested-ol" *ngIf="page?.data?.existingGrowth?.texts?.length else newExistingGrowth">
                <li *ngFor="let item of page?.data?.existingGrowth?.texts"
                    (click)="loadForm('array-form', 'existingGrowth')" style="padding: 5pt 0;">
                  <span>{{item}}</span>
                </li>
              </ol>
            </li>
          </ol>
        </div>
      </div>

      <div class="second-row-col2">
        <div class="second-content-header" (click)="loadForm('single-line-text', 'bdNewGrowthTitle')">
          <span class="bDev-title" *ngIf="page?.data?.bdNewGrowthTitle?.text; else newGrowthTitle">
            {{page?.data?.bdNewGrowthTitle?.text}}
          </span>
        </div>
        <div class="second-content-body">
          <ol start="1">
            <li>
              <div (click)="loadForm('single-line-text', 'row2title2')" style="font-weight: bold">
                <span *ngIf="page?.data?.row2title2?.text else newContentTitle">{{page?.data?.row2title2?.text}}</span>
              </div>
              <ol type="a" class="nested-ol" *ngIf="page?.data?.newGrowth1?.texts?.length else newGrowth1">
                <li *ngFor="let item of page?.data?.newGrowth1?.texts"
                    (click)="loadForm('array-form', 'newGrowth1')" style="padding: 5pt 0;">
                  <span>{{item}}</span>
                </li>
              </ol>
            </li>
          </ol>

          <ol start="1">
            <li>
              <div (click)="loadForm('single-line-text', 'row2title3')" style="font-weight: bold">
                <span *ngIf="page?.data?.row2title3?.text else newContentTitle">{{page?.data?.row2title3?.text}}</span>
              </div>
              <ol type="a" class="nested-ol" *ngIf="page?.data?.newGrowth2?.texts?.length else newGrowth2">
                <li *ngFor="let item of page?.data?.newGrowth2?.texts"
                    (click)="loadForm('array-form', 'newGrowth2')" style="padding: 5pt 0;">
                  <span>{{item}}</span>
                </li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="bd2-footer">
      <div class="bd2-footer-left">
        <span><b>{{pageNumber * 2 }}</b> | {{playBook.title}} | Q{{playBook.quarter}}-{{playBook.year}}</span>
      </div>
      <div class="bd2-footer-right">
        <span>Q{{playBook.quarter}}-{{playBook.year}} | {{playBook.title}} | <b>{{pageNumber * 2 + 1 }}</b></span>
      </div>
    </div>
  </div>
  <div class="border-overlay"></div>
</div>


<ng-template #newGrossGoalHeader>Gross Goals</ng-template>

<ng-template #newGrossGoalMonth1>July</ng-template>
<ng-template #newGrossGoalMonth1Num>8,678</ng-template>

<ng-template #newGrossGoalMonth2>August</ng-template>
<ng-template #newGrossGoalMonth2Num>9,086</ng-template>

<ng-template #newGrossGoalMonth3>September</ng-template>
<ng-template #newGrossGoalMonth3Num>9,706</ng-template>

<ng-template #newNetGoalHeader>Net Goals</ng-template>

<ng-template #newNetGoalMonth1>January</ng-template>
<ng-template #newNetGoalMonth1Num>7,100</ng-template>

<ng-template #newNetGoalMonth2>February</ng-template>
<ng-template #newNetGoalMonth2Num>7,420</ng-template>

<ng-template #newNetGoalMonth3>March</ng-template>
<ng-template #newNetGoalMonth3Num>8,073</ng-template>

<ng-template #newSpotlightTitle>Department Spotlight</ng-template>
<ng-template #newSpotlightContent>
  Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis.
  Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue
  laoreet rutrum faucibus dolor auctor.
</ng-template>
<ng-template #newContentTitle>
  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
</ng-template>

<ng-template #processImprovementsSubtitle1>
<span (click)="loadForm('array-form', 'processImprovements1')">
a. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
</span>
</ng-template>

<ng-template #processImprovementsSubtitle2>
  <span (click)="loadForm('array-form', 'processImprovements2')">
a. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </span>
</ng-template>

<ng-template #processImprovementsSubtitle3>
  <span (click)="loadForm('array-form', 'processImprovements3')">
a. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </span>
</ng-template>

<ng-template #newExistingGrowth><span (click)="loadForm('array-form', 'existingGrowth')">a. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
</span>
</ng-template>

<ng-template #newGrowth1><span (click)="loadForm('array-form', 'newGrowth1')">a. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
</span>
</ng-template>

<ng-template #newGrowth2><span (click)="loadForm('array-form', 'newGrowth2')">a. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
</span>
</ng-template>

<ng-template #header> Business Development</ng-template>

<ng-template #spotlightImg>
  <div
    style="background-image: url('app/assets/images/playbook/businessdevone-girl.png')" class="bd-image-background"></div>
</ng-template>

<ng-template #newProcessImprovements>
    <span class="bDev-title">
      Process Improvements
    </span>
</ng-template>

<ng-template #newExistingGrowthTitle>
    <span class="bDev-title">
      Existing Growth
    </span>
</ng-template>

<ng-template #newGrowthTitle>
    <span class="bDev-title">
      Existing Growth
    </span>
</ng-template>

