.start-new-playbook {
  font-size: 15px;
  margin-top: 60px;
  font-weight: 600;
  letter-spacing: 1.111px;
  background: #C4C4C4;
}

.playbook-year-header {
  margin: 40px 0 35px 4%;
  line-height: 28px;
  color: #252733;
  font-size: 20px;
}

.accordion-title {
  padding: 15px 0 10px 35px;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.1px;
  color: #9599AA;

  &__text {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    margin-top: 1px;
  }
}

.dot {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;

  &__red {
    @extend .dot;
    background-color: #f12b2c;
  }

  &__yellow {
    @extend .dot;
    background-color: #fec400;
  }

  &__green {
    @extend .dot;
    background-color: #29cc97;
  }

  &__grey {
    @extend .dot;
    background-color: #e5e5e5;
  }
}

.new-playbook-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #C0C7DB;
  text-align: center;
  padding-top: 27%;

  span {
    display: block;
    cursor: pointer;
  }
}

.playbook-cover {
  $cover-height: 204px;
  $cover-width: 153px;
  $cover-height-lg: 305px;
  $cover-width-lg: 233px;

  height: $cover-height;
  width: $cover-width;

  &--lg {
    height: $cover-height-lg;
    width: $cover-width-lg;
  }
}

.non-admin-not-available {
  margin-top: 20%;
  cursor: default !important;
}
