<div class="playbook-accordion">
  <div *ngFor="let data of playBooksdata; let i= index;">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel id="ngb-panel-{{i}}">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <h6 class="m-0">{{ data?.year }}</h6>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row">
            <div *ngFor="let i of [1, 2, 3, 4]" class="col-md-3">
              <div class="playbook-accordion__item" (click)="playBookDetail(data['q' + i], i, data.year)">
                <div class="playbook-cover" [style.backgroundImage]="data['q' + i]?.image ? 'url(' + data['q' + i]?.image + ')' : 'url(https://blaast-staging.s3.amazonaws.com/media/playbook/page/cover.jpg)'"
                  [class.playbook-cover--unset]="!data['q' + i]"
                >
                  <div *ngIf="!data['q' + i]" class="start-new-playbook">Start New Playbook</div>
                  <div class="playbook-cover__progress-bar" *ngIf="data['q' + i]">
                    <app-progress-bar
                      value="{{ data['q' + i].completedPercentage }}"
                    ></app-progress-bar>
                  </div>
                </div>
                <div class="text-center pt-2">
                  <div class="accordion-quarter">Q{{ i }}</div>
                  <div *ngIf="data['q' + i] else titleTem" class="accordion-title">{{data['q' + i]?.title}}</div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
<ng-template #titleTem><span class="accordion-title">Playbook Title Here</span></ng-template>
