<!-- <div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="text-center">{{ message }}</p>
</div>
<div class="modal-footer">
  <app-button type="hover-secondary" (click)="activeModal.close('decline')">{{ declineText }}</app-button>
  <app-button ngbAutofocus [type]="type === 'warn' ? 'danger': 'primary'" (click)="activeModal.close('accept')">{{ acceptText }}</app-button>
</div> -->



<div class="modal-header">
  <app-icon icon="octagon-warning" [type]="type" size="xxxl"></app-icon>
</div>
<div class="modal-body text-center ">
  <div class="font-weight-bold">
    {{title}}
  </div>
  <div>
    {{ body }}
  </div>
</div>
<div class="modal-footer text-center">
  <app-button type="white"  (click)="activeModal.close('decline')">{{ declineText }}</app-button>
  <app-button ngbAutofocus type="primary" (click)="activeModal.close('accept')">{{ acceptText }}</app-button>
</div>
