<div *ngIf="type==='profile'" class="profile-image profile-image--lg">
    <img [src]="imgURL" *ngIf="imgURL">
</div>

<div *ngIf="label" class="custom-file">
    <div>
        <input [id]="id" [type]="attrType" [(ngModel)]="inputValue" class="custom-file-input"
            [class.is-valid]="!control.invalid && control.dirty && !(!defaultValidator.required && inputValue === '')"
            [class.is-invalid]="control.invalid && control.dirty" (blur)="onBlur()" [autocomplete]="autocomplete"
            (change)="onChange($event)" [accept]="accept" [attr.disabled]="disabled ? '' : null" />
        <!-- <label class="custom-file-label" [for]="id" *ngIf="!label">{{fileLabel === '' ? 'Select File' : fileLabel}}</label> -->
        <label [for]="id" *ngIf="label" class="custom-file-label custom-file-label--plain custom-file-label--plain">{{ label }}</label>
    </div>

    <div *ngIf="control.invalid && (control.dirty)" class="invalid-feedback text-left">
        <span *ngIf="control.errors?.required">
            This field is required.
        </span>
        <span *ngIf="control.errors?.minlength">
            This field must be at least {{control.errors.minlength.requiredLength}} characters long.
        </span>
        <span *ngIf="control.errors?.fieldError && !(control.errors?.required || control.errors?.minlength)">
            {{control.errors.fieldError}}
        </span>
    </div>
</div>