<ng-template #pageItem let-pageId let-linkIdx="linkIdx" let-pageIdx="pageIdx" let-link="link"
             let-linksCount="linksCount">
  <div class="playbook-sidebar__page" (click)="updateCurrentPage(link, pageId)"
       [class.playbook-sidebar__page--selected]="pageId === editor.currentPageId"
       (contextmenu)="openContextMenu($event, pageId, linkIdx, pageIdx, link, linksCount); $event.preventDefault();">
    <div class="row align-items-center">
      <div class="col-auto" *ngIf="viewType==='page'">
        <div class="d-flex flex-row">
          <div class="col p-0">
            <div class="page-layout-icon page-layout-icon--sm"
                 style="background-image: url('app/assets/images/img-cover.png');">
            </div>
          </div>
          <div class="col p-0">
            <div class="page-layout-icon page-layout-icon--sm"
                 style="background-image: url('app/assets/images/img-cover.png');">
            </div>
          </div>
        </div>

      </div>
      <div class="col" [class.p-0]="viewType==='page'" *ngIf="!sidebarCollapsed || viewType==='list'">
        <small class="playbook-sidebar__page--text"
               [class.playbook-sidebar__page--text--selected]="pageId === editor.currentPageId">
          {{ pages[pageId]?.title }}
        </small>
      </div>
      <div class="col-auto p-0 mt-n4" *ngIf="!sidebarCollapsed">
        <button class="btn" (click)="deletePage(linkIdx, pageIdx)">
          <app-icon icon="trash-bin" size="sm" [type]="pageId === editor.currentPageId ? 'white-path' : 'lightgray'"></app-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<div style="position: relative">
  <div class="row mb-1 no-gutters">
    <!-- <div class="col">
      <button class="btn btn-link btn-sm btn-block" [class.font-weight-bold]="viewType==='page'"
              (click)="viewType = 'page'" style="text-decoration: none;">
        <app-icon icon="grid" size="md" type="gray" class="grid-list"></app-icon>
        <span class="sidebar-pl-view" *ngIf="!sidebarCollapsed">Page View</span>
      </button>
    </div>
    <div class="col">
      <button class="btn btn-link btn-sm btn-block" [class.font-weight-bold]="viewType==='list'"
              (click)="viewType = 'list'" style="text-decoration: none;">
        <app-icon icon="list" size="md" type="gray" class="grid-list"></app-icon>
        <span class="sidebar-pl-view" *ngIf="!sidebarCollapsed">List View</span>
      </button>
    </div> -->

    <div class="col" style="height: 60px; display: flex; align-items: center; justify-content: space-between;">
      <div class="pills-tab-wrapper" id="pills-tab-wrapper">
        <div (click)="pageViewActive()" class="pills-tab active" id="page-view">
          <app-icon icon="page-view" size="sm" type="gray" class="grid-list"></app-icon>
          <span class="sidebar-pl-view text-uppercase" *ngIf="!sidebarCollapsed">Page View</span>
        </div>
        <!-- viewType = 'list' -->
        <div (click)="listViewActive()" class="pills-tab" id="list-view">
          <app-icon icon="list-view" size="sm" type="gray" class="grid-list"></app-icon>
          <span class="sidebar-pl-view text-uppercase" *ngIf="!sidebarCollapsed">List View</span>
        </div>
      </div>
    </div>
  </div>

  <div class="px-3 py-3 playbook-sidebar__my-page">
    <strong class="small font-weight-bold" style="letter-spacing: 0.75px; text-transform: uppercase; font-size: 10px;">My Pages</strong>
  </div>
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="playbook-sidebar__box" *ngFor="let link of pageLinks; let linkIdx = index" cdkDragLockAxis="y" cdkDrag>
      <div class=playbook-sidebar__link>
        <div class="playbook-sidebar__box" *ngFor="let pageId of link.pages; let pageIdx = index">
          <ng-container [ngTemplateOutlet]="pageItem"
                        [ngTemplateOutletContext]="{ $implicit: pageId, linkIdx: linkIdx, pageIdx: pageIdx, link: link, linksCount: pageLinks.length}"></ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="d-block p-2">
    <button class="btn btn-link btn-sm btn-block btn-custom" (click)="createPageModal()" type="primary">
      <!--    <app-button (click)="createPageModal()" size="sm" type="primary" className="w-100">-->
      <app-icon icon="add" size="xs" type="primary"></app-icon>
      <br>
      Add New Spread
    </button>
  </div>
  <!--  <div>-->
  <!--    <app-button (click)="savePlaybook()">Save</app-button>-->
  <!--  </div>-->
  <!--<div>-->
  <!--<app-button (click)="updateNextPrev(false)">Previous</app-button>-->
  <!--<app-button (click)="updateNextPrev(true)">Next</app-button>-->
  <!--</div>-->
</div>

<ng-template #playbookContextMenu let-pageId let-linkIdx="linkIdx" let-pageIdx="pageIdx" let-link="link"
             let-linksCount="linksCount">
  <button class="btn-link dropdown-item" *ngIf="linkIdx  > 0 && pageIdx === 0" (click)="linkPrevious(linkIdx, pageIdx)">
    Link Previous
  </button>
  <button class=" btn-link dropdown-item" *ngIf="link?.pages?.length > 1" (click)="unlink(linkIdx, pageIdx)">
    Unlink
  </button>
  <button class="btn-link dropdown-item" *ngIf="linkIdx + 1 < linksCount && pageIdx + 1 === link?.pages?.length"
          (click)="linkNext(linkIdx, pageIdx)">
    Link with next
  </button>
</ng-template>

<ng-template #pageModal let-modal>
  <div class="modal-header">
    <h3 class=" modal-title font-weight-normal"></h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-3 py-3 text-center" *ngFor="let pageGroup of pageGroups" (click)="createNewPage(pageGroup)">
        <div class="playbook-cover" [style.backgroundImage]="getPageGroupImage(pageGroup)"></div>
        <strong>{{ pageGroup.title }}</strong>
      </div>
    </div>
  </div>
  <!--  <div class="modal-footer d-flex justify-content-between">-->
  <!--    <app-button type="outline-secondary" size="lg" (click)="modal.dismiss()">Cancel</app-button>-->
  <!--    <app-button type="primary" size="lg">Add Page</app-button>-->
  <!--  </div>-->
</ng-template>
