<div [formGroup]="form" class="mt-4">
  <div class="text-center">
    <button type="button" class="playbook-form__image" (click)="addImageFromGallery(); clicked = true; scrollToBottom($event)"
            [disabled]="clicked" [style.backgroundImage]="'url(' + this.form?.controls?.imageurl?.value + ')'">
      <app-icon icon="gallery" size="lg" type="white"></app-icon>
    </button>
  </div>
  <div class="text-center my-2">
    <div>Choose Background Image</div>
  </div>

  <div>
    <app-input id="imageid" formControlName="imageid" hidden></app-input>
    <app-input id="imageurl" formControlName="imageurl" hidden></app-input>
  </div>

  <div class="container my-2 text-right">
    <app-button type="link" (click)="cancel()" class="cancel-btn">Cancel</app-button>
    <app-button (click)="save()" class="save-btn">Save</app-button>
  </div>
</div>
