.img-container {
  cursor: pointer;
  top: 0;
  left: 0;
  position: absolute;
  width: 50%;
  height: 100%;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

.icon1-container {
  width: 20mm;
  height: 20mm;
  position: absolute;
  top: 86pt;
}

.icon2-container {
  width: 20mm;
  height: 20mm;
  position: absolute;
  margin-top: 319pt;
}

.icon3-container {
  width: 20mm;
  height: 20mm;
  position: absolute;
  margin-top: 548pt;
}

.icon {
  border-radius: 50%;
  height: 45pt;
  width: 45pt;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.subtitle {
  position: absolute;
  font-size: 17pt;
  text-transform: uppercase;
  top: 13%;
  left: 17%;
  font-weight: 700;
  z-index: 2;
  letter-spacing: 6pt;
}

.title {
  position: absolute;
  font-size: 105pt;
  text-transform: uppercase;
  -webkit-text-stroke: 1pt black;
  color: transparent;
  top: 17%;
  left: 2%;
  letter-spacing: 10pt;
  font-weight: 800;
  width: 45%;
  text-align: center;
  line-height: 85pt;
  word-break: break-all;
}

.initiative1, .initiative2, .initiative3 {
  left: 54%;
  position: absolute;
  width: 40%;
}

.title1 {
  font-size: 24pt;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 80pt;
  position: absolute;
  margin-top: 77pt;
}

.headline1 {
  margin-left: 80pt;
  margin-top: 119pt;
  font-weight: 600;
  font-size: 12pt;
  position: absolute;
}

.description1 {
  margin-top: 140pt;
  margin-left: 80pt;
  position: absolute;
  font-size: 11pt;
}

.title2 {
  font-size: 24pt;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 80pt;
  position: absolute;
  margin-top: 311pt;
}

.headline2 {
  margin-left: 80pt;
  margin-top: 350pt;
  font-weight: 600;
  font-size: 12pt;
  position: absolute;
}

.description2 {
  margin-top: 375pt;
  margin-left: 80pt;
  position: absolute;
  font-size: 11pt;
}

.title3 {
  font-size: 24pt;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 80pt;
  position: absolute;
  margin-top: 545pt;
}

.headline3 {
  margin-left: 80pt;
  margin-top: 582pt;
  font-weight: 600;
  font-size: 12pt;
  position: absolute;
}

.description3 {
  margin-top: 606pt;
  margin-left: 80pt;
  position: absolute;
  font-size: 11pt;
}

.initiative4 {
  position: absolute;
  top: 65%;
  left: 28%;
  width: 20%;
}

.title4 {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  padding-bottom: 1%;
  font-size: 12pt;
}

.description4 {
  font-size: 11pt;
  color: white;
}

.ti1-footer {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  bottom: 0;
  width: 100%;
  height: 40pt;
  font-size: 9pt;

  &-left {
    height: 100%;
    width: 50%;
    padding: 1% 3%;
    text-transform: uppercase;
    z-index: -3;
  }

  &-right {
    height: 100%;
    width: 50%;
    padding: 1% 3%;
    text-transform: uppercase;
    text-align: right;
  }
}
