<div class="lte-container">
  <div class="lte-bg-container" (click)="loadForm('image-form', 'backgroundImage')">
    <div class="lte-bg" *ngIf="page?.data?.backgroundImage; else newBgText"
         [style.backgroundImage]="page?.data?.backgroundImage?.imageurl ? 'url(' + page?.data?.backgroundImage?.imageurl  + ')' : ''"></div>
  </div>
  <div class="lte-content">
    <div style="width: 100%;">
      <div class="lte-header" (click)="loadForm('single-line-text', 'title')">
        <span *ngIf="page?.data?.title?.text; else newTitle">{{ page?.data?.title?.text }}</span>
      </div>
      <div>
        <div class="lte-author-post" (click)="loadForm('single-line-text', 'authorpost')">
          <span *ngIf="page?.data?.authorpost?.text; else newauthorpost">{{ page?.data?.authorpost?.text }}</span>
        </div>
        <div class="lte-author-name" (click)="loadForm('single-line-text', 'authorname')">
          <span *ngIf="page?.data?.authorname?.text; else newauthorname">{{ page?.data?.authorname?.text }}</span>
        </div>
      </div>
      <div class="lte-author-divider"></div>
      <div class="lte-lead" (click)="loadForm('single-line-text', 'lead')">
        <span *ngIf="page?.data?.lead?.text; else newlead">{{ page?.data?.lead?.text }}</span>
      </div>
      <div class="lte-description" (click)="loadForm('multi-line-text', 'letter')">
        <div *ngIf="page?.data?.letter?.text; else newletter">{{ page?.data?.letter?.text }}</div>
      </div>
    </div>
  </div>
  <div class="border-overlay"></div>
</div>
<div class="lte-footer">
  <div class="lte-footer-left">
    <span><b>{{pageNumber * 2 }} </b> | {{playBook.title}} | Q{{playBook.quarter}}-{{playBook.year}}</span>
  </div>
  <div class="lte-footer-right">
    <span>Q{{playBook.quarter}}-{{playBook.year}} | {{playBook.title}} | <b>{{pageNumber * 2 + 1 }}</b></span>
  </div>
</div>

<ng-template #newBgText>
  <div class="lte-bg" style="background-image: url('app/assets/images/playbook/lte.jpg')"></div>
</ng-template>
<ng-template #newTitle>STATE OF THE UNION</ng-template>
<ng-template #newauthorpost>CEO</ng-template>
<ng-template #newauthorname>Matthew Stone</ng-template>
<ng-template #newlead>
  Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus
  sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
  Donec ullamcorper nulla non metus auctor fringilla.
</ng-template>
<ng-template #newletter>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
  fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare
  sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius
  blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing
  elit. Sed posuere consectetur est at lobortis.<br><br>
  Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
  fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur
  adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Donec
  ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit
  amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
  eget lacinia odio sem nec elit.<br><br>
  Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra
  augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
  lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus.
  Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet,
  consectetur adipiscing elit.
</ng-template>
