
<div class="modal-header">
  <app-icon icon="octagon-warning" [type]="type" size="xxxl"></app-icon>
</div>
<div class="modal-body text-center ">
  <div class="font-weight-bold">
    {{title}}
  </div>
  <div>
    {{ body }}
  </div>
</div>
<div class="modal-footer text-center">
  <app-button type="white"  (click)="activeModal.close('decline')">{{ declineText }}</app-button>
  <app-button ngbAutofocus [type]="type === 'warn' ? 'danger': 'primary'" (click)="activeModal.close('accept')">{{ acceptText }}</app-button>
</div>
