.collapsed-avatar, .collapsed-avatar-empty {
  $image-size: 80px;
  height: $image-size;
  width: $image-size;
  border-radius: $image-size/2;
  background: #dee2e6;
}

.collapsed-avatar-empty {
  margin: auto auto;
}

.border-radius-5 {
  border-radius: 5px;
}

.search-icon {
  margin-right: -2px;
}

.add-member-button {
  float: right;
  border-radius: 6px;
  border: 1px solid var(--primary);
}

.full-name-position {
  padding-left: 64px;
}

.add-button-text {
  font-size: 13px;
  color: var(--primary);
}

.full-name-field {
  padding-left: 16px;
  font-weight: 500;
}

.text-center-margin {
  padding-top: 30px;
}

.avatar {
  margin-left: 15px;
  margin-top: 10px;
}

.down-icon {
  float: right;
  margin-right: 15px;
  margin-top: 15px;
}

.avatar-parent {
  position:relative;
  margin-left: -40px;
  margin-right: -20px;
}

.avatar-element {
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
  margin-top: 10px;
}

.apply-filter-button {
  margin-top: 30px;
  height: 45px;
}

.name-sort-head {
  &:after {
    margin-left: 70px;
    margin-top: 12px;
  }
  &:before {
    margin-left: 70px;
    margin-top: 0;
  }
}

.team-sort {
  &:after {
    margin-left: 2px;
    margin-top: 12px;
  }
  &:before {
    margin-left: 2px;
    margin-top: 0;
  }
}

.department-head {
  &:after {
    margin-left: 38px;
    margin-top: 12px;
  }
  &:before {
    margin-left: 38px;
    margin-top: 0;
  }
}

.icon-wrapper {
  border: 2px;
  border-radius: 30px;
  background-color: gray;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-left: 5px;

  &__large {
    border: 2px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-left: 20px;
    background-color: gray;
    text-align: center;
  }
}

.gallery-icon {
  background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.61 15.8399H2.39002C1.35725 15.8399 0.52002 15.0027 0.52002 13.9699V2.74988C0.52002 1.71711 1.35725 0.879883 2.39002 0.879883H13.61C14.6428 0.879883 15.48 1.71711 15.48 2.74988V13.9699C15.48 15.0027 14.6428 15.8399 13.61 15.8399ZM13.61 12.1448L10.7835 9.62026L6.77236 13.9699H13.61V12.1448ZM2.39002 2.74988V13.9699H4.23664L9.97287 7.754C10.3473 7.34145 10.9837 7.30606 11.4015 7.67453L13.61 9.64551V2.74988H2.39002ZM6.13002 8.35988C5.09725 8.35988 4.26002 7.52266 4.26002 6.48988C4.26002 5.45711 5.09725 4.61988 6.13002 4.61988C7.16279 4.61988 8.00002 5.45711 8.00002 6.48988C8.00002 7.52266 7.16279 8.35988 6.13002 8.35988Z"  fill="white"/></svg> ');
  height: 25px;
  width: 25px;
  background-size: cover;
  background-position: center center;
  text-align: center;
  margin: 12px;

  &__large {
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.61 15.8399H2.39002C1.35725 15.8399 0.52002 15.0027 0.52002 13.9699V2.74988C0.52002 1.71711 1.35725 0.879883 2.39002 0.879883H13.61C14.6428 0.879883 15.48 1.71711 15.48 2.74988V13.9699C15.48 15.0027 14.6428 15.8399 13.61 15.8399ZM13.61 12.1448L10.7835 9.62026L6.77236 13.9699H13.61V12.1448ZM2.39002 2.74988V13.9699H4.23664L9.97287 7.754C10.3473 7.34145 10.9837 7.30606 11.4015 7.67453L13.61 9.64551V2.74988H2.39002ZM6.13002 8.35988C5.09725 8.35988 4.26002 7.52266 4.26002 6.48988C4.26002 5.45711 5.09725 4.61988 6.13002 4.61988C7.16279 4.61988 8.00002 5.45711 8.00002 6.48988C8.00002 7.52266 7.16279 8.35988 6.13002 8.35988Z"  fill="white"/></svg> ');
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center center;
    text-align: center;
    margin: 50px;
    position: absolute;
  }
}


.image-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;

  &__large {
    width: 150px;
    height: 150px;
    border-radius: 50px;
    background-size: cover;
    background-position: center center;
    margin-left: 20px;
  }
}

.example-viewport {
  height: 750px;
  width: 98%;
  margin-left: 50px;
  display: flex;
}

.list {
  height: 50px;
  justify-content: center;
  align-items: center;
}

.container {
  margin-bottom: 40px;
}

@media screen and (max-width: 1300px) {
  .emp-img-info {
    display: none;
  }
}


.collapsed-element {
  border-radius: 0.2rem;
  margin: -22px -10px;
}

tr.noBorder td {
  border: 0;
}

.job-title {
  margin-left: 65px;
  margin-top: -15px;
}

.detail-heading {
  margin-bottom: -10px;
  font-weight: bold;
  font-size: 12px;
}

.add-button {
  color: var(--primary);
}

.info-heading {
  font-size: 12px;
}
