<div class="img-container" (click)="loadForm('image-form', 'backgroundImage')">
  <div class="bg-img" *ngIf="page?.data?.backgroundImage; else newBgText"
       [style.backgroundImage]="page?.data?.backgroundImage?.imageurl ? 'url(' + page?.data?.backgroundImage?.imageurl  + ')' : ''"></div>
</div>
<div class="title" (click)="loadForm('single-line-text', 'title', $event)">
  <span *ngIf="page?.data?.title?.text; else newMainTitle">{{ page?.data?.title?.text }}</span>
</div>
<div class="vision-wrapper">
  <div class="headline" (click)="loadForm('single-line-text', 'headline', $event)">
    <span *ngIf="page?.data?.headline?.text; else newVisionTitle">{{ page?.data?.headline?.text }}</span>
  </div>
  <div class="description" (click)="loadForm('multi-line-text', 'description1', $event)">
    <span *ngIf="page?.data?.description1?.text; else newDescription">{{ page?.data?.description1?.text }}</span>
  </div>
</div>
<div class="mission-wrapper">
  <div class="headline" (click)="loadForm('single-line-text', 'mission', $event)">
    <span *ngIf="page?.data?.mission?.text; else newMissionTitle">{{ page?.data?.mission?.text }}</span>
  </div>
  <div class="description" (click)="loadForm('multi-line-text', 'description2', $event)">
    <span *ngIf="page?.data?.description2?.text; else newDescription">{{ page?.data?.description2?.text }}</span>
  </div>
</div>

<div class="pshopy-footer">
  <div class="pshopy-footer-left">
    <span> <b> {{pageNumber * 2 }} </b> | {{playBook.title}} | Q{{playBook.quarter}}-{{playBook.year}}</span>
  </div>
  <div class="pshopy-footer-right">
    <span>Q{{playBook.quarter}}-{{playBook.year}} | {{playBook.title}} | <b>{{pageNumber * 2 + 1 }}</b></span>
  </div>
</div>
<div class="border-overlay"></div>

<ng-template #newMainTitle>philosophies</ng-template>
<ng-template #newVisionTitle>vission</ng-template>
<ng-template #newMissionTitle>mission</ng-template>
<ng-template #newDescription>
  Lmquam, con et am, sequunt aliqui blant.Dus dolor sapiet rehent delest
  qui nobitatem quodi cones essuntiones ped moloreperrum que quiat
  laudignimpos min pro modigen imoluptat. Ecero explici magnimp eriasimus
  mosanda num laboreic te voluptat audae delessi nvent.
  <br><br>
  Invendae rumquosam atem es aliquos ex eum ipsapiciet explam asperi
  non rae. Nam net lam, cullam uta nimpori orecepudit, omnis velit, net pe
  voluptaquos dolupid moluptati a cusam fugitiae. Nam, estiand ernata
  doles destibus, te nam, simolendit et hiligendem eveliquis mincill anderae.
</ng-template>
<ng-template #newBgText>
  <div class="bg-img" style="background-image: url('app/assets/images/playbook/philosophies.jpeg')"></div>
</ng-template>
