.bg-img {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.img-container {
  cursor: pointer;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  text-transform: uppercase;
  font-size: 92pt;
  position: absolute;
  transform: rotate(180deg);
  bottom: 3%;
  top: 0;
  -webkit-text-stroke: 1pt white;
  color: transparent;
  font-weight: 800;
  writing-mode: vertical-rl;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.vision-wrapper {
  position: absolute;
  left: 67%;
  width: 25%;
  top: 20%;
  color: #fff;

  .headline {
    font-size: 28pt;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2% 0;
  }

  .description {
    font-size: 11pt;
    white-space: pre-wrap;
    text-align: left;
  }
}

.mission-wrapper {
  position: absolute;
  left: 20%;
  width: 25%;
  top: 57%;
  color: #fff;

  .headline {
    font-size: 28pt;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2% 0;
  }

  .description {
    font-size: 11pt;
    white-space: pre-wrap;
    text-align: left;
  }
}

.pshopy-footer {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  bottom: 0;
  width: 100%;
  height: 40pt;
  z-index: 3;
  font-size: 9pt;

  .pshopy-footer-left {
    height: 100%;
    width: 50%;
    padding: 1% 3%;
    text-transform: uppercase;
    color: whitesmoke;
  }

  .pshopy-footer-right {
    height: 100%;
    width: 50%;
    padding: 1% 3%;
    text-transform: uppercase;
    text-align: right;
    color: whitesmoke;
  }
}
