.card-name {
  font-size: 22px;
  font-weight: bold;
}

.feedback {
  font-size: 22px;
  font-weight: bold;
}

.feedback-type {
  font-weight: bold;
  text-align: center;
}

.card-number {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

