.bg-container {
  background-color: #ddd;
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100%;
  z-index: 1;
}

.cover-background-image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  height: 100%;
}

.right {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 0;
  height: 100%;

  .toc-wrapper {
    right: 0
  }

}

.toc-wrapper {
  position: absolute;
  margin: 64pt 70pt;
  width: 60%;
}

.toc {
  list-style: none;
  padding: 0;
  text-align: right;
  font-size: 14pt;

  li {
    clear: both;
    border-bottom: 2px solid #716060;
    //padding: 8pt;
    padding-bottom: 4pt;
    margin-bottom: 16pt;
  }
}

.toc-title {
  float: left;
}

.toc-footer {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  bottom: 0;
  width: 100%;
  height: 40pt;

  .toc-footer-left {
    height: 100%;
    width: 50%;
    padding: 1% 3%;
    text-transform: uppercase;
    z-index: 0;
  }

  .toc-footer-right {
    height: 100%;
    width: 50%;
    padding: 1% 3%;
    text-transform: uppercase;
    text-align: right;

  }
}
