<!--<div class="bg"-->
<!--     [style.backgroundImage]="page?.data?.backgroundImage?.imageurl ? 'url(' + page?.data?.backgroundImage?.imageurl  + ')' : ''">-->
<!--  <button (click)="loadForm('image-form', 'backgroundImage')" style="position:absolute; z-index: 2;">-->
<!--    Change Background Image-->
<!--  </button>-->
<div class="bg-container" (click)="loadForm('image-form', 'backgroundImage')">
  <div class="cover-background-image" *ngIf="page?.data?.backgroundImage; else newBgText"
       [style.backgroundImage]="page?.data?.backgroundImage?.imageurl ? 'url(' + page?.data?.backgroundImage?.imageurl  + ')' : ''"></div>
  <div class="left">
    <div class="toc-wrapper" (click)="loadForm('toc', 'tocLeft', $event)">
      <div *ngIf="page?.data?.tocLeft; else newTocText">
        <ul class="toc">
          <li *ngIf="page?.data?.tocLeft.toc1Title">
            <div class="toc-title">{{page?.data?.tocLeft.toc1Title}}</div>
            <div class="toc-number">{{page?.data?.tocLeft.toc1Page}}</div>
          </li>
          <li *ngIf="page?.data?.tocLeft.toc2Title">
            <div class="toc-title">{{page?.data?.tocLeft.toc2Title}}</div>
            <div class="toc-number">{{page?.data?.tocLeft.toc2Page}}</div>
          </li>
          <li *ngIf="page?.data?.tocLeft.toc3Title">
            <div class="toc-title">{{page?.data?.tocLeft.toc3Title}}</div>
            <div class="toc-number">{{page.data.tocLeft.toc3Page}}</div>
          </li>
          <li *ngIf="page?.data?.tocLeft.toc4Title">
            <div class="toc-title">{{page?.data?.tocLeft.toc4Title}}</div>
            <div class="toc-number">{{page?.data?.tocLeft.toc4Page}}</div>
          </li>
          <li *ngIf="page?.data?.tocLeft.toc5Title">
            <div class="toc-title">{{page?.data?.tocLeft.toc5Title}}</div>
            <div class="toc-number">{{page?.data?.tocLeft.toc5Page}}</div>
          </li>
          <li *ngIf="page?.data?.tocLeft.toc6Title">
            <div class="toc-title">{{page?.data?.tocLeft.toc6Title}}</div>
            <div class="toc-number">{{page?.data?.tocLeft.toc6Page}}</div>
          </li>
          <li *ngIf="page?.data?.tocLeft.toc7Title">
            <div class="toc-title">{{page?.data?.tocLeft.toc7Title}}</div>
            <div class="toc-number">{{page?.data?.tocLeft.toc7Page}}</div>
          </li>
          <li *ngIf="page?.data?.tocLeft.toc8Title">
            <div class="toc-title">{{page?.data?.tocLeft.toc8Title}}</div>
            <div class="toc-number">{{page?.data?.tocLeft.toc8Page}}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="toc-wrapper" (click)="loadForm('toc', 'tocRight', $event)">
      <div *ngIf="page?.data?.tocRight; else newTocText">
        <ul class="toc">
          <li *ngIf="page?.data?.tocRight.toc1Title">
            <div class="toc-title">{{page?.data?.tocRight.toc1Title}}</div>
            <div class="toc-number">{{page?.data?.tocRight.toc1Page}}</div>
          </li>
          <li *ngIf="page?.data?.tocRight.toc2Title">
            <div class="toc-title">{{page?.data?.tocRight.toc2Title}}</div>
            <div class="toc-number">{{page?.data?.tocRight.toc2Page}}</div>
          </li>
          <li *ngIf="page?.data?.tocRight.toc3Title">
            <div class="toc-title">{{page?.data?.tocRight.toc3Title}}</div>
            <div class="toc-number">{{page?.data?.tocRight.toc3Page}}</div>
          </li>
          <li *ngIf="page?.data?.tocRight.toc4Title">
            <div class="toc-title">{{page?.data?.tocRight.toc4Title}}</div>
            <div class="toc-number">{{page?.data?.tocRight.toc4Page}}</div>
          </li>
          <li *ngIf="page?.data?.tocRight.toc5Title">
            <div class="toc-title">{{page?.data?.tocRight.toc5Title}}</div>
            <div class="toc-number">{{page?.data?.tocRight.toc5Page}}</div>
          </li>
          <li *ngIf="page?.data?.tocRight.toc6Title">
            <div class="toc-title">{{page?.data?.tocRight.toc6Title}}</div>
            <div class="toc-number">{{page?.data?.tocRight.toc6Page}}</div>
          </li>
          <li *ngIf="page?.data?.tocRight.toc7Title">
            <div class="toc-title">{{page?.data?.tocRight.toc7Title}}</div>
            <div class="toc-number">{{page?.data?.tocRight.toc7Page}}</div>
          </li>
          <li *ngIf="page?.data?.tocRight.toc8Title">
            <div class="toc-title">{{page?.data?.tocRight.toc8Title}}</div>
            <div class="toc-number">{{page?.data?.tocRight.toc8Page}}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="border-overlay"></div>
</div>
<div class="toc-footer">
  <div class="toc-footer-left">
    <span> <b> {{pageNumber * 2 }} </b> | {{playBook.title}} | Q{{playBook.quarter}}-{{playBook.year}}</span>
  </div>
  <div class="toc-footer-right">
    <span>Q{{playBook.quarter}}-{{playBook.year}} | {{playBook.title}} | <b>{{pageNumber * 2 + 1 }}</b></span>
  </div>
</div>

<ng-template #newTocText>Click to Add data</ng-template>
<ng-template #newBgText>
  <div class="cover-background-image" style="background-image: url('app/assets/images/playbook/toc.jpg')"></div>
</ng-template>
