<div class="company-form p-2">
  
    <div class="rightSidebar">

      <div class="rightSidebarItems rightSidebarItems-1">  
        <div class="oval2"> </div>
        <div class="oval1"> </div>
        <div class="oval-text">
            <span>
                50% <br>
                <span class="sub-oval-text">Q3 completion</span>
            </span>
        </div>
      </div>

      <div class=" rightSidebarItems rightSidebarItems-2">  
            <div class="depart">
                Department 1
            </div>

            <div class="completion">
                <div class="rect1"></div>
                <div class="rect2"></div>
            </div>

            <div class="small-text">
                198,123 / 396, 746
            </div>
           
        </div>

        <div *ngFor="let i of Arr(4).fill(1)" class="rightSidebarItems rightSidebarItems-3">
            <div class="row teams">
                <div class="col-4 team-title">
                   <b> Team 1</b>
                </div>
                <div class="col-8 team-subtitle">
                   <small> Contributing Goal Name</small>
                </div>
            </div>

            <div class="row teams-icons-group">
                <div class="col-8">
                    <div class="row icon-group">
                        <div class="col-3 ">
                            <div class="icon-circle"></div>
                        </div>
                        <div class="col-3 ">
                            <div class="icon-circle"></div>
                        </div>
                        <div class="col-3 ">
                            <div class="icon-circle"></div>
                        </div>
                        <div class="col-3 ">
                            <div class="icon-circle"></div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-4 small-text">
                   <small> 1,850 / 2,000</small>
                </div>
            </div>
        </div>

    </div>
  </div>
  