<div class="row page-login">

  <div class="col-md-8 col-xl-6 p-5">
    <a routerLink="/" class="page-login__logo" style="background-image: url(app/assets/images/blaastlogo.svg)"></a>
    <div class="row justify-content-center align-items-center page-login__content">
      <div class="col-md-10 col-lg-9">
        <div  class="text-center">
        <h1 class="h2">Find your blaast workspace</h1>
        <p>We'll send you an email to confirm your address and find existing workspaces you've joined or have
          invites for.</p>
        </div>
        <form [formGroup]="findWorkspaceForm" (ngSubmit)="findWorkspaceFormSubmit()" class="my-4">
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <app-input type="email" formControlName="email" placeholder="you@company.com" size="lg"></app-input>
              </div>
            </div>
          </div>
          <div class="form-group">
            <app-button type="primary" [block]="true" size="lg" [disabled]="findWorkspaceForm.invalid || submitting">Confirm</app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xl-6 page-login__background" style="background-image: url('app/assets/images/login-image1.jpg')"></div>
</div>
