.top-content,
#other-info,
#back-element {
  display: flex;
}

#other-info {
  background: white;
  margin-left: 5rem;
  margin-top: -40px;
  height: 2.3rem;
  border-radius: 6px;
  text-align: center;
  border: 1px solid #e6e6e6;
}

#action-buttons {
  margin-left: auto;
  font-size: 13px;
  margin-top: -9px;
}

#bottom-content {
  margin-top: 25px;
  min-height: 500px;
  background: white;
}

.initiative-heading {
  padding-top: 1.7rem;
  max-width: 80%;
  font-size: 3rem;
  margin: 0 auto;
}

.company-name {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #000000;

}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 5rem;
  display: flex;
}

#initiatives {
  margin: 4rem auto;
  max-width: 85%;
}

.info {
  margin-left: 5rem;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.25px;
  color: #000000;
}
.description{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.8);
}

.icon {
  margin-top: 1rem;
}

#question {
  padding-left: 1rem;
}

.pt15 {
  padding-top: 10px;
}

.back-text {
  margin-top: -4px;
}

.header-text, .back-text {
  font-size: 13px;
  font-weight: 500;
  padding-left: 12px;
  padding-top: 7px;
}

.initiative-title {
  margin-bottom: -104px;
  font-style: normal;
  font-weight: 300;
  font-size: 52px;
  line-height: 64px;
  color: #000000;
}

.back-icon {
  margin-top: -18px;
}

.pdf-icon {
  margin-top: 123px;
}

.draft-btn {
  padding: 10px 24px;
  background: #F0F1F7;
  border-radius: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  color: #C0C7DB;
  align-self: center;
  &:hover{
    border: 1px solid #EEE;
    cursor: default;
  }
}

.initiative-card {
  margin-left: 1rem;

  &__header {
    float: left;
    margin-top: 12px;
    font-size: 21px;
    line-height: 28px;
    color: #000000;
    margin-left: 1rem;
    letter-spacing: 0.1px;

    &__dropdown {
      display: inline-block;
      vertical-align: middle;
      &__dropdown-menu{
        padding-bottom: 0;
        padding-top: 0;
        &-item{
          &:not(:last-child){
            border-bottom: 1px solid #ECECEC;
          }
          &:active{
            background-color: var(--primary);
          }
        }
      }

      &__single-button {
        border-bottom: 1.2px solid #40465E;
        font-weight: normal;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 1px;
        color: var(--primary);
        min-width: 133px;
        text-align: center;
        height: 35px;

        &:after {
          float: right;
          margin-top: 1em;
          border-right-width: 0.4em;
          border-top-width: 0.4em;
          border-left-width: 0.4em;
          font-size: 12px;
          color: #40465E;

        }
      }

      .dropdown-item {
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        padding-bottom: 0.75rem;
        border-bottom: 1px solid #EDF1F7;
      }
    }
  }
}

:host ::ng-deep {
  .dropdown-toggle::after {
    color: var(--primary);
  }
}
