.page-onboarding {
  min-height: 100vh;

  &__logo {
    height: 60px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__content {
    min-height: calc(100vh - 300px);
    // display: flex;
    // align-items: center;
  }

  &__card {
    display: flex;
    min-height: 400px;
    // height: calc(100vh - 300px);
    // max-hei
    flex-direction: column;
    justify-content: center;
    padding: $spacer*4;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    font-weight: $font-weight-bold;
    transform: translateY(-50%);

    &--right {
      right: $spacer;      
    }

    &--left {
      left: $spacer;
    }
  }
}
