.page-profile, .structure-profile {
  // padding: 0 16vw;
  width: 100%;
  padding: 0 calc((100vw - 1080px) / 2);

  &__avatar {
    height: 130px;
    width: 130px;
    border-radius: 65px;
    background-color: $gray-500;
    margin: 0 auto $spacer;
  }

  &__user {
    line-height: $spacer;
  }

}
.structure-profile{
  padding-right: unset;
  background-color: white
}

.underline {
  width: 100%;
  height: 1px;
  background-color: #DADEEB;
  margin: 0.5rem 0;
}

label {
  height: 18px;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #9599aa;
}

.h6-title {
  font-size: 1.2rem;
}
