<div class="vertical-nav bg-white"
     [ngClass]="(show) ? 'sideNav-show' : 'sideNav-hide'" id="sidebar">
  <div class="sidenav-head">
    <div class="sidenav-close pl-4" (click)="sidebarToggle()">
      <app-icon size="xxxl" type="grey" icon="close-frame"></app-icon>
    </div>

    <div class="sidenav-logo d-flex flex-column">
      <div class="header__brand__logo"
           style="
           background-image: url(app/assets/images/blaastlogo-only.svg);
           width: 59px; padding-top: 55px; margin-right: 5px;
"></div>
      <br>
      <div class="company-name">
        <div class="wizard text-center">WIZARD</div>
      </div>
    </div>
  </div>

  <div class="sidenav-body">
    <div class="d-flex flex-column">
      <div class="" style="padding-left: 40px;">
        <div class="overall_score">{{value}}</div>
        <div class="sidenav-body__overall-score-label--font-changes">
          Overall score
          <app-icon size="sm" type="grey" icon="question-mark"></app-icon>
        </div>
        <div class="sidenav-body__overall-score-label--font-changes">
          <div class="custom-slider mr-4">
            <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
          </div>
          <div class="temperature-label d-flex justify-content-between text-secondary">
            <div class="temperature-text text-dark">WARM</div>
            <div class="temperature-text text-dark">HOT</div>
            <div class="mr-4 temperature-text text-dark">ON FIRE</div>
          </div>
        </div>
      </div>

      <br>
      <div class="sidenav-body__overall-score--heavy-weight--border-bottom pt-3 pl-3 pb-3 mt-0"
           [id]="'principle' + principle.id"
           [placement]="getPopoverPlacement()"
           [style.background-color]="principle.id === selectedPrincipleElement ? '#cccccc45': 'white'"
           [popoverTitle]="principle.title"
           [ngbPopover]="principle.description"
           *ngFor="let principle of principles"
           (click)="principleClicked(principle.id)"
           [container]="getPopoverContainer()"
           [autoClose]="true"
           popoverClass="principle-popover"
      >
        <div class="d-flex">
          <div>
            <app-icon size="sm" type="grey" icon="eye-on" *ngIf="selectedPrincipleElement === principle.id"></app-icon>
            <app-icon size="sm" type="grey" icon="eye-off" *ngIf="selectedPrincipleElement !== principle.id"></app-icon>
          </div>
          <div class="pl-3 pb-4 principle-title">{{principle.title}}</div>
        </div>
        <div class="custom-slider mr-4 pl-30">
          <ng5-slider [(value)]="principle.value" [options]="options"
                      (valueChange)="slideValueChanged($event, principle)"
          ></ng5-slider>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div class="sidenav-footer">
    <div class="copyright"> &copy; {{dateObj | date:'yyyy'}}. All rights reserved</div>
  </div>
</div>
