<div class="row page-login">
  <div class="col-md-8 col-xl-6 p-5">
    <a routerLink="/" class="page-login__logo" [style.backgroundImage]="'url(' + companyLogo + ')'"></a>
    <div class="row justify-content-center align-items-center page-login__content">
      <div class="col-md-10 col-lg-9">
          <div class="text-center">
            <h1 class="h2">Select your workspace</h1>
          </div>
          <div class="row my-4">
            <div class="col">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let company of companies">
                  <a class="row align-items-center text-decoration-none" [href]="generateTenantUrl(company)">
                    <div class="col-auto">
                      <div [style.backgroundImage]="'url(' + company.company_logo + ')'" style="height: 3rem;width: 3rem;background-size: contain;background-position: center center;background-repeat: no-repeat;"></div>
                    </div>
                    <div class="col">
                      <h5 class="mb-0">{{company.name}}</h5>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      </div>
  </div>
</div>
<div class="col-md-4 col-xl-6 page-login__background" style="background-image: url('app/assets/images/login-image2.jpg')"></div>
</div>