<div class="page-playbook">
  <app-sidebar theme="light" size="md" (toggled)="toggled($event)">
    <app-playbook-sidebar [sidebarCollapsed]="sidebarCollapsed"></app-playbook-sidebar>
  </app-sidebar>
  <div class="container-fluid">
    <div class="row align-items-center playbook-app-secondary-header">
      <div class="col-auto">
        <div class="text-white font-weight-bold" [style.width]="sidebarCollapsed ? '92px' : '230px'"></div>
      </div>
      <div class="col-auto">
        <div class="text-white font-weight-bold"></div>
        <span class="playbook-nav" (click)="undoAction()" [ngClass]="{disabled: !historyStatus.enableUndo}">
          <app-icon icon="rotateLeft" size="sm" type="white" class="custom-icon-playbook"></app-icon>
          <strong>Undo</strong>
        </span>

        <span class="playbook-nav" (click)="redoAction()" [ngClass]="{disabled: !historyStatus.enableRedo}">
          <app-icon icon="rotateRight" size="sm" type="white" class="custom-icon-playbook"></app-icon>
          <strong>Redo</strong>
        </span>
      </div>
      <div class="col text-center">
        <div class="text-white" style="padding-left: 10%">
          <strong>Q{{playBook?.quarter}} Playbook '<span [innerHtml]="showYear()"></span> </strong>
          <strong *ngIf="playBook && playBook.title"> - {{playBook?.title}}</strong>
        </div>
      </div>
      <div class="col-auto">
        <span class="playbook-nav" (click)="customizePlaybook($event)">
          <app-icon icon="edit" size="sm" type="white" class="custom-icon-playbook"></app-icon>
          <strong>Customize</strong>
        </span>
        <span class="playbook-nav" (click)="savePlaybook()">
          <app-icon class="custom-icon-playbook" icon="save" size="sm" type="white"></app-icon>
          <strong>Save </strong>
           <div class="spinner-border spinner-border-sm text-white" role="status" *ngIf="loading">
              <span class="sr-only">Loading...</span>
          </div>
        </span>
        <span class="playbook-nav" (click)="openPreviewModal()">
          <app-icon icon="preview" size="sm" type="white" class="custom-icon-playbook"></app-icon>
          <strong>Preview</strong>
        </span>
        <span class="playbook-nav" (click)="openPublishModal()">
          <app-icon icon="publish" size="sm" type="white" class="custom-icon-playbook"></app-icon>
          <strong>Publish</strong>
        </span>
      </div>
    </div>
  </div>
  <app-content sidebar="md" [sidebarCollapsed]="sidebarCollapsed">
    <div class="playbook__playbook-container">
      <app-playbook-app-content
        [bottombarState]="bottombarState"
        [page]="page"
        [theme]="playBook.theme"
      ></app-playbook-app-content>
      <!-- TODO: place playbooks item sidebar here. -->
      <!--      <app-playbook-bottombar (stateUpdated)="bottombarStateUpdated($event)"-->
      <!--                              [state]="bottombarState"></app-playbook-bottombar>-->
      <!--      <app-playbook-creation-wizard [(show)]="showGallery" position="bottom">-->
      <!--&lt;!&ndash;      <app-playbooks-creation-wizard *ngIf="playBook?.title.length==0" position="bottom">&ndash;&gt;-->

      <!--      </app-playbook-creation-wizard>-->
    </div>
    <app-playbook-bottombar (stateUpdated)="bottombarStateUpdated($event)"
                            [state]="bottombarState"></app-playbook-bottombar>
    <app-playbook-creation-wizard [(show)]="showGallery" position="bottom">
      <!--      <app-playbooks-creation-wizard *ngIf="playBook?.title.length==0" position="bottom">-->

    </app-playbook-creation-wizard>
  </app-content>
</div>


