.ce-container {
  padding: 8% 0 0 0;
}

.title-top {
  width: 100%;

  .title1 {
    margin-left: 50pt;
    float: left;
    width: 11%;

    .title-name {
      text-transform: uppercase;
      font-size: 10pt;
      font-weight: 800;
    }

    .title-description {
      font-size: 10pt;
      white-space: pre-wrap;
    }
  }

  .title2 {
    margin-right: 80pt;
    float: right;
    width: 11%;
    text-align: right;

    .title-name {
      text-transform: uppercase;
      font-size: 10pt;
      font-weight: 800;

    }

    .title-description {
      font-size: 10pt;
      white-space: pre-wrap;
    }
  }
}

.ce-image-wrapper1 {
  padding-top: 20pt;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .img1-container {
    width: 45%;
    height: 75mm;
    cursor: pointer;
    //position: absolute;
    margin-left: 50pt;
    margin-right: 10pt;
    font-weight: 800;
  }

  .image1 {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img2-container {
    width: 55%;
    height: 75mm;
    cursor: pointer;
    //position: absolute;
    margin-right: 50pt;
    margin-left: 10pt;
    font-weight: 800;
  }

  .image2 {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.ce-image-wrapper2 {
  padding-top: 20pt;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .img3-container {
    width: 20%;
    height: 75mm;
    cursor: pointer;
    margin-right: 10pt;
    margin-left: 50pt;
    font-weight: 800;
  }

  .image3 {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img4-container {
    width: 35%;
    height: 75mm;
    cursor: pointer;
    left: 115mm;
    font-weight: 800;
    margin-right: 10pt;
    margin-left: 10pt;
  }

  .image4 {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.ce-wrapper-right {
  width: 35%;
  margin-left: 10pt;
  margin-right: 50pt;
  font-family: "Heebo", sans-serif;

  .ce-title {
    font-size: 34pt;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20pt;
    text-align: center;
    letter-spacing: 2pt;
  }

  .ce-line {
    width: 75pt;
    height: 15pt;
    border-bottom: 6pt solid #101010;
    margin-left: 42%;
    margin-top: 15pt;
  }

  .ce-highlights {
    font-size: 14pt;
    margin-top: 25pt;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    white-space: pre-wrap;
    font-style: italic;
    color: gray;
  }
}

.title-bottom {
  margin-top: 10pt;
  width: 100%;

  .title1 {
    margin-left: 50pt;
    position: absolute;
    width: 11%;

    .title-name {
      text-transform: uppercase;
      font-size: 10pt;
      font-weight: 800;
    }

    .title-description {
      font-size: 10pt;
    }
  }

  .title2 {
    float: right;
    position: absolute;
    margin-left: 332pt;
    width: 11%;

    .title-name {
      text-transform: uppercase;
      font-size: 10pt;
      font-weight: 800;
    }

    .title-description {
      font-size: 10pt;
      white-space: pre-wrap;
    }
  }
}

.ce1-footer {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  bottom: 0;
  width: 100%;
  height: 40pt;
  z-index: 3;
  font-size: 9pt;


  &-left {
    height: 100%;
    width: 50%;
    padding: 1% 3%;
    text-transform: uppercase;
  }

  &-right {
    height: 100%;
    width: 50%;
    padding: 1% 3%;
    text-transform: uppercase;
    text-align: right;
  }
}

.ce-page-tag {
  background: black;
  color: #fff;
  position: absolute;
  right: 50pt;
  top: 0;
  font-size: 9pt;
  padding: 20pt 4pt;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 4pt;
}
