.navbar {
  height: 50px;
  padding: 0;
  border-bottom: 1px solid #dadeeb;
  font-family: "Heebo", sans-serif !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  .navbar-nav {
    margin: 0;

    .nav-link {
      color: #252733;
      cursor: pointer;
      padding: 14px 24px !important;

      &:hover {
        color: #6d6d6d;
      }

      span {
        line-height: 22px;
      }
    }

    .active {
      color: var(--primary);
      box-shadow: inset 0px -2px 0px var(--primary);

      &:hover {
        color: var(--primary);
      }
    }
  }

  .navbar-right-nav {
    width: 20%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .right-nav-item {
      padding: 16px 24px;
      color: #252733;
      cursor: pointer;

      &:hover {
        // color: var(--primary);
        color: #6d6d6d;
      }

      &:active {
        // color: var(--primary);
        color: #000;
      }
    }
  }
}

.theme-nav-mobile {
  display: none;
}

@media only screen and (max-width: 996px) {
  .navbar {
    display: none;
  }

  .plans-topbar{
    max-width: 100%;
    margin: auto;
  }

  .theme-nav-mobile {
    display: block !important;
    height: 50px;
    border-bottom: 1px solid #DADEEB;

    .theme-dropdown-menu {
      margin: 5px;
      height: 40px;
      min-width: 240px;
      width: auto;

      .dropdown-menu {
        padding: 0;
        border-radius: 8px;
        overflow: hidden;
        width: 100%;
      }

      .btn {
        height: 100%;
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        border: 1px solid #DADEEB;
        border-radius: 8px;
        background: #fff;
        line-height: 28px;
        letter-spacing: 0.2px;
        text-align: left;
      }

      .dropdown-toggle::after {
        display: inline-block;
        position: absolute;
        right: 14px;
        top: 18px;
        border-top-color: #C0C7DB;
      }

      .nav-link {
        color: #252733;
        cursor: pointer;
        padding: 10px 24px !important;

        &:hover {
          color: #6d6d6d;
        }

        span {
          line-height: 22px;
        }
      }

      .nav-link.active {
        color: var(--primary);
        border-bottom: none !important;
        background-color: transparent;
      }

      .dropdown-item {
        padding: 0;
      }

      .dropdown-item:active {
        background-color: #ececec;
        color: #212529;
      }
    }
  }

}
