::ng-deep button.invite-member {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  height: 2rem;
  padding: 8px 10px;
  width: auto;

  .invite-member__text {
    vertical-align: top;
  }
}

.table-data-name {
  font-weight: 500;
  color: #252733;
}

.dropdown-toggle:after {
  content: none
}

.dropdown-menu {
  padding: 0;
  transform: translate(-158px, 12px) !important;
}

::ng-deep.dot-menu-icon {
  cursor: pointer;
}

button.dropdown-item {
  font-style: normal;
  font-size: 11px;
  line-height: 13px;
  padding: 1rem 1.5rem;
  color: #9599AA;
  font-weight: 500;
  letter-spacing: 1px;

  &:hover {
    background-color: #FBFCFC;
  }

  &:after {
    content: " ";
    position: absolute;
    right: 5px;
    top: -8px;
    border-top: none;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid rgba(0, 0, 0, 0.05);
    background: white;
  }
}

::ng-deep.view-more-button {
  color: #2f89fc;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.8px;
  border-color: #DADEEB;
}

th {
  &[orderkey="inviteDate"]:after, &[orderkey="inviteDate"]:before {
    left: 6.3rem;
  }
}

#search-box {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.9px;
  height: 2rem;
  padding: 8px 12px;
  width: 190px;
}
