<div class="py-4 page-profile">
  <div class="py-4">
    <div class="page-company-security">
      <div class="row">
        <div class="col-md-4 pr-4 leftCol">
          <h6 style="font-size: 1.2rem;">Users & Passwords</h6>
          <div class="py-4">
            <div class="mb-4">
              <div class="row align-items-center">
                <div class="col">
                  <h6 style="font-weight: 500; margin-bottom: 0px;">Two-Factor Authentication</h6>
                </div>
              </div>
              <div class="underline my-4"></div>
              <p class="pr-5">
                Require each user to configure and use two-factor authentication for signing in.
              </p>
              <app-button [block]="true" size="fullwidth" textTransform="uppercase"
                          type="outline-primary">Activate
                Two-Factor for Company
              </app-button>
            </div>

            <div class="my-5">
              <h6>Forced Password Reset</h6>
              <div class="underline my-4"></div>
              <p class="pr-4">
                You can force a reset of all passwords for all members in your workspace. Each member will receive a
                message
                from Slackbot telling them that you've triggered the reset, and will then receive a password reset link
                via
                email.
              </p>
              <app-button (click)="forcePasswordReset()" [block]="true" size="fullwidth" textTransform="uppercase"
                          type="outline-primary">Force Password
                Reset
              </app-button>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="row align-items-center">
            <div class="col">
              <div class="row mb-2">
                <div class="col">
                  <h6 class="pl-4" style="font-size: 1.2rem;">Users</h6>
                </div>
                <div class="col-auto">
                  <div class="row">
                    <div class="form-group mb-0 px-0">
                      <input (focusout)="filter()" (keyup.enter)="filter()" [(ngModel)]="userNameEmailFilter"
                             class="form-control border-radius-5 my-0"
                             id="search-box"
                             placeholder="NAME OR EMAIL" type="text" value=''>
                    </div>
                    <div class="ml-2 mr-3">
                      <app-button (click)="openInviteMembersModal()" [block]="true" className="invite-member" size="sm"
                                  textTransform="uppercase" type="outline-primary">
                        <app-icon class="mr-2 paper-plane-icon" icon='paper-plane' size="sm"></app-icon>
                        <span class="invite-member__text">Invite Team Member</span>
                      </app-button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="pl-4">
                <div class="mb-3">
                  <app-table [border]="true" [dataSource]="invitedMembers" [noData]="'Member not available.'"
                             height="600px"
                  >
                    <ng-container cdkColumnDef="name">
                      <th (ordered)="sort($event)" *cdkHeaderCellDef appTableHeader
                          cdk-header-cell
                          currentOrder="name"
                          orderDir="asc"
                          orderKey="name"
                      >NAME
                      </th>
                      <td *cdkCellDef="let row" cdk-cell><span class="table-data-name">{{row.name}}</span></td>
                    </ng-container>
                    <ng-container cdkColumnDef="email">
                      <th (ordered)="sort($event)" *cdkHeaderCellDef appTableHeader
                          cdk-header-cell
                          currentOrder="email"
                          orderDir="asc"
                          orderKey="email"
                      >EMAIL
                      </th>
                      <td *cdkCellDef="let row" cdk-cell> {{row.email}}</td>
                    </ng-container>
                    <ng-container cdkColumnDef="status">
                      <th *cdkHeaderCellDef appTableHeader
                          cdk-header-cell
                      >STATUS
                      </th>
                      <td *cdkCellDef="let row"
                          cdk-cell> {{row.isUser ? (row.isActive ? 'Confirmed' : 'Inactive') : 'Pending'}}</td>
                    </ng-container>
                    <ng-container cdkColumnDef="role">
                      <th *cdkHeaderCellDef appTableHeader
                          cdk-header-cell
                      >ROLE
                      </th>
                      <td *cdkCellDef="let row" cdk-cell> {{row.role?.name}}</td>
                    </ng-container>
                    <ng-container cdkColumnDef="inviteDate">
                      <th (ordered)="sort($event)" *cdkHeaderCellDef appTableHeader
                          cdk-header-cell
                          currentOrder="inviteDate"
                          orderDir="asc"
                          orderKey="inviteDate"
                      >INVITE DATE
                      </th>
                      <td *cdkCellDef="let row" cdk-cell>{{ row.inviteDate | date }}</td>
                    </ng-container>
                    <ng-container cdkColumnDef="delete">
                      <th *cdkHeaderCellDef appTableHeader cdk-header-cell></th>
                      <td *cdkCellDef="let row" cdk-cell>
                        <div class="float-right" ngbDropdown placement="bottom-right">
                          <div ngbDropdownToggle>
                            <span class="badge">
                            <app-icon class="dot-menu-icon" icon='dotMenuGray'></app-icon></span>
                          </div>
                          <div ngbDropdownMenu>
                            <button (click)="openEditRoleModal(row.id, row.role?.id, row.isUser)"
                                    class="d-flex align-items-center dropdown-item" ngbDropdownItem>
                              <app-icon class="mr-2" icon="user-icon" size="md"></app-icon>
                              <span class="float-right text-uppercase"> Update Role</span>
                            </button>
                            <button (click)="openEditEmailModal(row.id, row.isUser)"
                                    class="d-flex align-items-center dropdown-item" ngbDropdownItem>
                              <app-icon class="mr-2" icon="user-icon" size="md"></app-icon>
                              <span class="float-right text-uppercase"> Update Email</span>
                            </button>
                            <button (click)="deleteInvitedMember(row.id, row.isUser, row.isActive)"
                                    class="d-flex align-items-center dropdown-item"
                                    ngbDropdownItem>
                              <ng-container *ngIf="row.isActive; else activateUser">
                                <app-icon class="mr-2" icon="trash-bin" size="md"></app-icon>
                                <span class="float-right text-uppercase">
                                      Deactivate
                                </span>
                              </ng-container>
                              <ng-template #activateUser>
                                <ng-container *ngIf="row.isUser; else removeMember">
                                  <app-icon class="mr-2" icon="user-icon" size="md"></app-icon>
                                  <span class="float-right text-uppercase">
                                      Activate
                                  </span>
                                </ng-container>
                              </ng-template>
                              <ng-template #removeMember>
                                <app-icon class="mr-2" icon="trash-bin" size="md"></app-icon>
                                <span class="float-right text-uppercase">
                                     Remove Member
                                  </span>
                              </ng-template>
                            </button>
                            <button (click)="resetMemberPassword(row.email)"
                                    class="d-flex align-items-center dropdown-item" ngbDropdownItem *ngIf="row.isUser">
                              <app-icon class="mr-2" icon="reset" size="md"></app-icon>
                              <span class="float-right text-uppercase"> Reset Password</span>
                            </button>
                          </div>
                        </div>
                      </td>
                    </ng-container>

                    <!-- Header and Row Declarations -->
                    <tr *cdkHeaderRowDef="invitedMembersColumns" cdk-header-row></tr>
                    <tr *cdkRowDef="let row; columns: invitedMembersColumns" cdk-row></tr>
                  </app-table>
                </div>

                <!--            <app-button routerLink="/company-profile/members" type="outline-primary" textTransform="uppercase"-->
                <!--                        [block]="true" size="fullwidth" className="view-more-button">View More Members-->
                <!--            </app-button>-->

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
