<div class="bg-container" (click)="loadForm('image-form', 'backgroundImage')">
  <div class="cover-background-image" *ngIf="page?.data?.backgroundImage; else newBgText"
       [style.backgroundImage]="page?.data?.backgroundImage?.imageurl ? 'url(' + page?.data?.backgroundImage?.imageurl  + ')' : ''"></div>
  <div class="border-overlay"></div>
</div>
<div class="page-tag" (click)="loadForm('single-line-text', 'pageTag', $event)" >
  <span *ngIf="page?.data?.pageTag?.text else newTag">{{page?.data?.pageTag?.text}}</span>
</div>
<div class="sub-title" (click)="loadForm('single-line-text', 'sectionDivisionOneSubTitle', $event)">
  <span
    *ngIf="page?.data?.sectionDivisionOneSubTitle?.text else newSubTitle">{{page?.data?.sectionDivisionOneSubTitle?.text}}</span>
</div>
<div class="title" (click)="loadForm('single-line-text', 'sectionDivisionOneTitle', $event)">
  <span
    *ngIf="page?.data?.sectionDivisionOneTitle?.text else newTitle">{{page?.data?.sectionDivisionOneTitle?.text}}</span>
</div>

<div class="section1-footer">
  <div class="section1-footer-left">
    <span> <b> {{pageNumber * 2 }} </b> | {{playBook.title}} | Q{{playBook.quarter}}-{{playBook.year}} </span>
  </div>
  <div class="section1-footer-right">
    <span>Q{{playBook.quarter}}-{{playBook.year}} | {{playBook.title}} | <b>{{pageNumber * 2 + 1 }}</b></span>
  </div>
</div>

<ng-template #newTitle>strategy</ng-template>
<ng-template #newSubTitle>our plan of action</ng-template>
<ng-template #newTag>STRATEGY</ng-template>
<ng-template #newBgText>
  <div class="cover-background-image"
       style="background-image: url('app/assets/images/playbook/section_divider.jpg')">
  </div>
</ng-template>
