
<div class="preview">
  <div class="preview-container col-md-10">
    <app-preview-initiatives-bar [titleText]="titleText"></app-preview-initiatives-bar>
    <div class="preview-container__middle-content">
      <div class="preview__title" [attr.data-content]="teamPlan">
        {{teamName}} Goals
      </div>
      <div class="row mt-4">
        <div class="col-6">
          <div class="row preview__profile">
            <div class="col-2 pr-0 mx-2" *ngFor="let profile of profiles">
              <div class="preview__profile__image-wrapper">
                <img src="{{profile.image}}">
              </div>
              <div class="preview__profile-name mx-2  mt-2">{{profile.name}}</div>
              <div class="preview__profile-role">{{profile.role}}</div>
            </div>
          </div>
        </div>
        <div class="col-auto"></div>
      </div>

      <div class="row  preview__goal">
        <div class="col-6 col-xs-12">
          <div class="row ">
            <p class="preview__goal__heading"><app-icon icon="check-badge"></app-icon>
               <span class="mx-3 preview__goal__sub-description pt-1">1</span>
               <span class="preview__goal__title">The name of goal number 1</span>
            </p>
            <div class="preview__goal__description">
              <ul>
                <li>This is the title of a bullet</li>
              </ul>
            </div>
          </div>
          <div class="row ">
            <p class="preview__goal__heading"><app-icon icon="been-here"></app-icon>
                <span class="mx-3 preview__goal__sub-description pt-1">2</span>
                <span class="preview__goal__title">A really good second goal</span>
            </p>
            <div class="preview__goal__description">
              <ul>
                <li>Get things done right now
                  <div class="preview__goal__sub-description">
                    <ul class="preview__goal__dash">
                      <li> A good way to get it done</li>
                    </ul>
                    </div>
                </li>
                <li>Get things done in ten days</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6 col-xs-12 ">
          <p class="preview__goal__heading"><app-icon icon="rocket"></app-icon>
            <span class="mx-3 preview__goal__sub-description pt-1">3</span>
            <span class="preview__goal__title">A really good third goal The best one in ninety days</span>
          </p>
          <div class="preview__goal__description">
            <ul>
              <li>Get things done right now there is a lot more to this one
                <div class="preview__goal__sub-description">
                  <ul class="preview__goal__dash">
                    <li> A good way to get it done</li>
                  </ul>
                  </div>
              </li>
              <li>Get things done in ten days</li>
              <li>Get things done in thirty days or less
                <div class="preview__goal__sub-description">
                  <ul class="preview__goal__dash">
                    <li> I will take 4 weeks and thirty days to get it done </li>
                  </ul>
                  </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

