<div class="align-items-center main-logo">
  <h4 class="mb-4 divider">{{companyDetail?.name}}</h4>
  <div class="company-img d-flex justify-content-center align-items-center" *ngIf="companyDetail.image">
    <img src="{{companyDetail.image}}" alt="{{companyDetail.name}}">
  </div>
</div>

<div class="text-center edit-btn-container">
  <app-button (click)="enableExtraInfoEdit()" type="gray" size="sm" textTransform="uppercase"
              *ngIf="!extraInfoEdit">Edit</app-button>
  <!--<app-button (click)="disableExtraInfoEdit()" type="light" size="sm" class="cancel-btn&#45;&#45;sm"
              textTransform="uppercase" *ngIf="extraInfoEdit">Cancel</app-button>-->
  <app-button (click)="disableExtraInfoEdit()" type="gray" size="sm" class="mx-1"
              textTransform="uppercase" *ngIf="extraInfoEdit">Cancel</app-button>
  <app-button (click)="saveExtraInfo()" type="gray" size="sm" textTransform="uppercase"
              *ngIf="extraInfoEdit" [disabled]="companyExtraInfoForm.invalid">Save</app-button>
</div>
<div class="divider"></div>
<form [formGroup]="companyExtraInfoForm" class="extra-info-form">
  <div class="row text-center">
    <div class="col-md-12 col-sm-12">
      <label>HEADQUARTERS</label>
      <div *ngIf="!extraInfoEdit">
        <div *ngIf="extraInfo && extraInfo.headquarter; else NA">{{extraInfo.headquarter}}</div>
      </div>
      <div *ngIf="extraInfoEdit">
        <app-input type="text" id="headquarter" formControlName="headquarter" placeholder="Headquarter"></app-input>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="col-md-6 col-sm-6 pr-1">
      <label>HEAD COUNT</label>
      <div *ngIf="!extraInfoEdit">
        <div *ngIf="extraInfo && extraInfo.companySize; else NA">{{extraInfo.companySize}}</div>
      </div>
      <div *ngIf="extraInfoEdit">
        <app-input type="integer" id="companySize" formControlName="companySize" placeholder="Head count"></app-input>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 pl-1">
      <label>REVENUE YR</label>
      <div *ngIf="!extraInfoEdit">
        <div *ngIf="extraInfo && extraInfo.annualRevenue; else NA">
          <span *ngIf="extraInfo.annualRevenue">$</span>
          {{extraInfo.annualRevenue|numberSuffix}}
        </div>
      </div>

      <div *ngIf="extraInfoEdit">
        <app-input type="decimal" id="annualRevenue" formControlName="annualRevenue" placeholder="Annual Revenue"
                   inputGroupPrepend="$"></app-input>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="col-md-6 col-sm-6 pr-1">
      <label>ESTABLISHED</label>
      <div *ngIf="!extraInfoEdit">
        <div *ngIf="extraInfo && extraInfo.established; else NA">{{extraInfo.established}}</div>
      </div>
      <div *ngIf="extraInfoEdit">
        <div class="datepicker">
          <input class="form-control date-input" placeholder="yyyy-mm-dd"
                 formControlName="established" ngbDatepicker #d="ngbDatepicker">
          <button class="btn btn-calendar" (click)="d.toggle()" type="button">
            <ng-container >
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.6667 2.66699H3.33333C2.59695 2.66699 2 3.26395 2 4.00033V13.3337C2 14.07 2.59695 14.667 3.33333 14.667H12.6667C13.403 14.667 14 14.07 14 13.3337V4.00033C14 3.26395 13.403 2.66699 12.6667 2.66699Z" stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.667 1.33301V3.99967" stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.33301 1.33301V3.99967" stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2 6.66699H14" stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </ng-container>
          </button>
        </div>
        <!--<app-input type="text" id="established" formControlName="established" placeholder="Established"></app-input>-->
      </div>
    </div>
    <div class="col-md-6 col-sm-6 pl-1">
      <label>CUSTOMERS</label>
      <div *ngIf="!extraInfoEdit">
        <div *ngIf="extraInfo && extraInfo.totalCustomer; else NA">{{extraInfo.totalCustomer}}</div>
      </div>
      <div *ngIf="extraInfoEdit">
        <app-input type="integer" id="totalCustomer" formControlName="totalCustomer" placeholder="Customers"></app-input>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="col-md-6 col-sm-6 pr-1">
      <label>INDUSTRY</label>
      <div *ngIf="!extraInfoEdit">
        <div *ngIf="extraInfo && extraInfo.industry; else NA">{{extraInfo.industry}}</div>
      </div>
      <div *ngIf="extraInfoEdit">
        <app-input type="text" id="industry" formControlName="industry" placeholder="Industry"></app-input>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
    </div>
  </div>
</form>

<ng-template #NA>
  <div>N/A</div>
</ng-template>
