<app-card class="container-fluid" *ngFor="let item of goal; let i = index">
  <div class="row">
    <div class="col-8">
      <div class="row mb-2">
        <div class="col">
          <div class="card-name row">
            <div class="col">{{item?.name}}</div>
          </div>
          <div class="row">
            <div class="col">
              <b>Status:</b> {{item?.status}}
            </div>
          </div>
        </div>
        <div class="col card-number">${{item?.number}}</div>
      </div>
      <div class="row">
        <div class="col">
          {{item?.description}}
        </div>
      </div>
    </div>

    <div class="col-4 border-left" >
        <div class="row  mb-2" *ngIf="item?.goalFeedBack.length">
            <div class="col feedback">Feedback</div>
            <div class="col feedback-type"
                 *ngIf="item?.goalFeedBack[0]?.status === 3">Approved
              With
              Conditions
            </div>
            <div class="col feedback-type"
                 *ngIf="item?.goalFeedBack[0]?.status === 1">Approved
            </div>
            <div class="col feedback-type"
                 *ngIf="item?.goalFeedBack[0]?.status === 2">Rejected
            </div>
          </div>
      <div class="row  mb-2" *ngIf="!item?.goalFeedBack?.length">
        <div class="col feedback">Feedback</div>
        <div class="col feedback-type" *ngIf="approveWithCondition">Approved With Conditions</div>
      </div>

      <div class="row mb-2"  *ngIf="!item?.goalFeedBack.length"> 
        <div class="col-3 text-left">
          <app-button type="primary" size="md" (click)="approveAndRejectClick('approve')">Approve</app-button>
        </div>
        <div class="col-6 text-center">
          <app-button type="outline-secondary" size="md" (click)="toggleApproveCondition(item.id)">Approve With Conditions
          </app-button>
        </div>
        <div class="col-3 text-right">
          <app-button type="outline-secondary" size="md" (click)="approveAndRejectClick('reject')">Reject</app-button>
        </div>
      </div>

      <div class="row mb-2" *ngIf="goal">
        <div class="col">
          <p>{{goal?.name}}</p>
        </div>
      </div>

      <div class="row mb-2" *ngIf="approveWithCondition && index == item.id">
        <div class="col" [formGroup]="feedbackForm">
          <app-input formControlName="description" type="textarea" (input)="descriptionChanged()"></app-input>
        </div>
      </div>
      <p *ngIf="noDescription">This field is required</p>

      <div class="row mb-2" *ngIf="item?.goalFeedBack[0]?.description">
          <div class="col">
            <p>{{item?.goalFeedBack[0]?.description}}</p>
          </div>
        </div>
  

      <div class="row" *ngIf="!item?.goalFeedBack.length">
        <div class="col text-right">
          <app-button type="primary" size="md" (click)="submitClick(item?.id)">Submit Feedback</app-button>
        </div>
      </div>
    </div>
  </div>
</app-card>
<!--<app-card class="container-fluid">-->
<!--  <div class="row">-->
<!--    <div class="col text-center">-->
<!--      No goals!-->
<!--    </div>-->
<!--  </div>-->
<!--</app-card>-->

