.main-page-title-left {
  color: #131212;
  font-weight: bold;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  background: #F2F2F2;
  font-size: 23px;
  padding-bottom: 1%;
  padding-top: 4%;
}

.main-page-title-right {
  float: right;
}
