<app-card shadow="lg" [padding]="'none'">
  <app-table [dataSource]="photoList" [noData]="'Data Not Available'" height="700px" [border]="false" size="lg">
    <ng-container cdkColumnDef="date">
      <th appTableHeader cdk-header-cell *cdkHeaderCellDef>DATE</th>
      <td cdk-cell *cdkCellDef="let data" style="vertical-align: middle"> {{data.date | date:'dd/MM/yy'}}
      </td>
    </ng-container>

    <ng-container cdkColumnDef="uploadBy">
      <th appTableHeader cdk-header-cell *cdkHeaderCellDef style="width:136px;">UPLOADED BY</th>
      <td cdk-cell *cdkCellDef="let data" style="vertical-align: middle">{{data?.uploadedByName}}</td>
    </ng-container>

    <ng-container cdkColumnDef="image">
      <th appTableHeader cdk-header-cell *cdkHeaderCellDef></th>
      <td cdk-cell *cdkCellDef="let data; let i = index" style="width: 350px; vertical-align: middle">
        <div class="row">
          <div class="col-auto">
            <img [src]=" data?.image" alt="Submitted Image" height="90px" width="150px">
          </div>
          <div class="col-auto" *ngIf="loading !== i" style="margin: auto 0">
            <app-icon icon="wrong" size="xl" type="white" *ngIf="showSubmit" class="icon-save" (click)="deleteImage(i)"></app-icon>
            <app-icon icon="wrong" size="xl" type="white" *ngIf="!showSubmit" class="icon-save"></app-icon>
          </div>
          <div class="spinner pt-2" *ngIf="loading == i"></div>
          <div class="col-auto" *ngIf="loading !== i" style="margin: auto 0">
            <app-icon icon="right" size="xl" type="white" *ngIf="showSubmit" class="icon-save"
                      (click)="uploadImage(data?.id,data?.galleryImage,i)"></app-icon>
            <app-icon icon="right" size="xl" type="white" *ngIf="!showSubmit" class="icon-save"></app-icon>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="size">
      <th appTableHeader cdk-header-cell *cdkHeaderCellDef>SIZE</th>
      <td cdk-cell *cdkCellDef="let data" style="vertical-align: middle"> {{data?.size ? data?.size : 0}}kb</td>
    </ng-container>

    <ng-container cdkColumnDef="filename">
      <th appTableHeader cdk-header-cell *cdkHeaderCellDef>FILENAME</th>
      <td cdk-cell *cdkCellDef="let data" style="vertical-align: middle"> {{data?.filename}} </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="dataColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: dataColumns" class="bg-white"></tr>
  </app-table>
</app-card>
