<div [formGroup]="form" class="container">
  <div class="my-1">

    <div formArrayName="texts">
      <div class="form-group" *ngFor="let subtitle of texts.controls; let i=index">
        <label>
          Text {{i + 1}}
        </label>
        <app-input [formControlName]="i" type="text"></app-input>
      </div>
    </div>
  </div>

  <app-button [block]="true" (click)="addText()" type="gray" textTransform="uppercase" style="width: 100%;">Add Texts</app-button>

  <div class="my-2 text-right ">
    <app-button type="link" (click)="cancel()" class="cancel-btn">Cancel</app-button>
    <app-button (click)="save()" class="save-btn">Save</app-button>
  </div>
</div>
