<div class="container-fluid py-4" style="padding-left: 3.5rem; padding-right: 3.5rem;">
  <div class="row mb-4">
    <div class="col-lg-6 col-md-12 col-sm-12" (click)="openModal()">
      <h2>Letter to the Editor</h2>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 text-right">
      <app-year-quarter-filter (selectedYearQuarter)="getLetterToEditors($event)" [quarter]="selectedQuarter"
                               [year]="selectedYear">
      </app-year-quarter-filter>
    </div>
  </div>
  <div *ngIf="!letterToEditors?.length">
    <div class="row">
      <div class="col">
        Letter to Editor for {{selectedQuarter}} quarter of year {{selectedYear}} has not been added
        yet.
        <app-button type="primary" size="md" (click)="openAddLetterToEditorModal(addLetterToEditor)">Add Letter To
          Editor
        </app-button>
      </div>
    </div>
  </div>
  <div class="row mb-5" *ngFor="let letter of letterToEditors">
    <div class="col-md-8">
      <app-card>
        <div class="letter-to-editor-edit-icon" *ngIf="!editing[letter?.id]">
          <app-icon size="sm" type="gray" icon="pencil-edit"
                    (click)="editing[letter?.id] = !editing[letter?.id]"></app-icon>
        </div>
        <h5 *ngIf="!editing[letter?.id]">
          {{letter.year}} : Q{{letter.quarter}} | {{letter.title}}
        </h5>
        <div *ngIf="!editing[letter?.id]">
          {{letter?.user?.fullName}}
        </div>
        <div *ngIf="!editing[letter?.id]">
          {{letter.createdAt | date}}
        </div>
        <quill-view-html *ngIf="!editing[letter?.id]" [content]="letter.content" theme="snow"></quill-view-html>
        <div *ngIf="editing[letter?.id]">
          <input name="title" class="form-control mb-2" [(ngModel)]="letter.title"/>
          <quill-editor [(ngModel)]="letter.content" required
                        (onEditorCreated)="getEditorInstance($event)"
                        (onContentChanged)="updateLetterContent($event, letter)">
          </quill-editor>
          <div class="pt-2 float-right">
            <app-button type="primary" size="md" (click)="updateLetter(letter)">Save</app-button>
          </div>
        </div>
      </app-card>
    </div>
    <div class="col-md-4 lte-view-card">
      <app-card>
        <h5>Viewed by</h5>
        <ul class="list-group list-group-flush" *ngFor="let viewer of letter.viewers">
          <li class="list-group-item">
            <div class="row">
              <div class="col-auto">
                <div class="profile-image" [style.backgroundImage]="'url(' + viewer?.viewer?.profilePic + ')'"
                     *ngIf="viewer?.viewer?.profilePic"></div>
                <div class="profile-image" *ngIf="!viewer?.viewer?.profilePic"></div>
              </div>
              <div class="col pt-2">
                {{ viewer?.viewer?.fullName }}
              </div>
            </div>
          </li>
        </ul>
        <p *ngIf="letter.viewers.length === 0">No one has viewed the letter yet.</p>
      </app-card>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload Images</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="galleryImages.length != 0">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-6" *ngFor="let image of galleryImages">
        <div class="gallery-list__image"
             [style.backgroundImage]="'url(' + image.image + ')'"
             (click)="insertImageToEditor(image.image)">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body" *ngIf="galleryImages.length == 0">
    <p>No images available</p>
  </div>
</ng-template>
<ng-template #addLetterToEditor let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Letter To Editor</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="addLetterToEditorForm">
    <div class="modal-body">
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <app-input type="text" id="title" formControlName="title"
                       placeholder="Title"
            ></app-input>
          </div>
        </div>
      </div>
      <quill-editor (onEditorCreated)="getEditorInstance($event)"
                    [styles]="{height: '300px'}"
                    (onContentChanged)="updateLetterContent($event, addLetterToEditorForm.value)"
                    formControlName="content">
      </quill-editor>
    </div>
    <div class="modal-footer">
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <app-button type="primary" size="md"
                        (click)="createLetterToEditor()"
                        [disabled]="addLetterToEditorForm.invalid">Save
            </app-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>
