<div class="row page-login">
  <div class="col-md-8 col-xl-6 p-5">
    <a routerLink="/" class="page-login__logo"></a>
    <div class="row justify-content-center align-items-center page-login__content">
      <div class="col-md-10 col-lg-9">
        <ng-container *ngIf="!resetMailSent; else resetLinkTemplate">
          <div class="text-center">
            <h1 class="h2">Password Reset</h1>
            <p>To reset your password, please enter your email address used to sign into
              <strong>{{ workspaceName }}</strong></p>
          </div>

          <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordFormSubmit()" class="my-4">
            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <app-input type="email" formControlName="email" placeholder="you@company.com" size="lg"></app-input>
                </div>
              </div>
            </div>
            <div class="form-group">
              <app-button type="primary" [block]="true" size="lg" [disabled]="!forgotPasswordForm.valid || submitting">
                Confirm
              </app-button>
            </div>
          </form>
          <p class="text-center"><a routerLink="" appTextColor="primary"><u>Back to Login</u></a></p>
        </ng-container>
        <ng-template #resetLinkTemplate>
          <div class="text-center">
            <h1 class="h2">Reset Link Emailed</h1>
            <p>Check your {{ forgotPasswordForm.get('email').value }} inbox for instructions from us on how to reset
              your password.</p>
            <div class="divider my-4"></div>
            <p>Not sure if you sent it to the right email?</p>
            <a [href]="findWorkspaceLink"><u>Find your Workplace</u></a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xl-6 page-login__background"
       style="background-image: url('app/assets/images/login-image3.jpg')"></div>
</div>
