<div class="page-profile">
  <app-top-nav>
    <app-top-nav-item link="company-profile">Profile</app-top-nav-item>
    <app-top-nav-item link="mission-values">About</app-top-nav-item>
    <app-top-nav-item link="structure">Structure</app-top-nav-item>
    <!--    <app-top-nav-item link="members">Employee Directory</app-top-nav-item>-->
    <app-top-nav-item link="billing">Billing</app-top-nav-item>
    <app-top-nav-item link="security-invites">Users & Passwords</app-top-nav-item>
  </app-top-nav>
</div>
<router-outlet></router-outlet>
