<app-card shadow="lg" [padding]="'none'">
  <app-table [dataSource]="approvedPhotoList" [noData]="'Photos Not Available'" height="700px"
             [border]="false" size="lg">
    <ng-container cdkColumnDef="date">
      <th appTableHeader cdk-header-cell *cdkHeaderCellDef>DATE</th>
      <td cdk-cell *cdkCellDef="let row"> {{row?.date | date}} </td>
    </ng-container>

    <ng-container cdkColumnDef="fileName">
      <th appTableHeader cdk-header-cell *cdkHeaderCellDef>FILENAME</th>
      <td cdk-cell *cdkCellDef="let row"> {{row?.filename}} </td>
    </ng-container>

    <ng-container cdkColumnDef="uploadedBy">
      <th appTableHeader cdk-header-cell *cdkHeaderCellDef>UPLOADED BY</th>
      <td cdk-cell *cdkCellDef="let row">
        <div class="profile-pic">
          <img src="{{row.uploadedBy}}" style="height: 43px; width:43px; border-radius: 25px">
          {{row?.uploadedByName}}
        </div>
      </td>
      <td cdk-cell *cdkCellDef="let row"> {{row?.listPeople}} </td>
    </ng-container>


    <ng-container cdkColumnDef="size">
      <th appTableHeader cdk-header-cell *cdkHeaderCellDef>SIZE</th>
      <td cdk-cell *cdkCellDef="let row"> {{row?.size}} KB</td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="submittedPhotosColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: submittedPhotosColumns;" class="bg-white"></tr>

  </app-table>
</app-card>
