<div class="py-4 page-profile">
  <div class="py-4">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 pr-4">
        <ng-container *ngIf="!paymentRequired(); else paymentOptions">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Payment Not Required</h5>
              <p class="card-text">Payment is already done for current plan. Change of plan is required for payment</p>
            </div>
          </div>
        </ng-container>
        <ng-template #paymentOptions>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <h5 class="mb-4 mt-1">
                <app-icon icon="lock-outline" type="light-gray"></app-icon>
                Payment Methods
              </h5>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div style="height: 30px; display: flex; align-items: center; justify-content: space-between;">
                <div class="pills-tab-wrapper" id="pills-tab-wrapper">
                  <div (click)="cardViewActive()" [ngClass]="{active: showCardView}" class="pills-tab" id="card-view">
                    <app-icon class="grid-list" icon="credit-card-outline" size="sm" type="light-gray"></app-icon>
                    <span class="pill-view text-uppercase">Card</span>
                  </div>
                  <div (click)="paypalViewActive()" [ngClass]="{active: !showCardView}" class="pills-tab"
                       id="paypal-view">
                    <app-icon class="grid-list" icon="paypal-outline" size="sm" type="light-gray"></app-icon>
                    <span class="pill-view text-uppercase">Pay pal</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="showCardView" class="card-view">
            <form [formGroup]="cardForm">
              <div class="form-group">
                <label>Full name on Card</label>
                <app-input formControlName="full_name" type="name"></app-input>
              </div>
              <div class="form-group">
                <label>Credit Card Number</label>
                <app-input formControlName="card_number" type="creditCard"></app-input>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label>Expiration</label>
                    <app-input [maskData]="'00/00'" formControlName="expiration_date" placeholder="MM/YY"
                               type="creditCardExpirationDate"></app-input>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      CVV
                      <span class="cvv-desc"
                            ngbTooltip="It is the 3 or 4 digit number on your debit/credit card.">?</span>
                    </label>
                    <app-input formControlName="cvv" type="cvv"></app-input>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Billing Zip Code</label>
                    <app-input formControlName="postal_code" type="zipcode"></app-input>
                  </div>
                </div>
              </div>
              <div class="text-right">
                <app-button (click)="openModal(paymentOption)"
                            [disabled]="cardForm.invalid"
                            [loading]="paymentSubmitting"
                            class="credit-card-btn"
                            ngbTooltip="{{cardForm.invalid? 'Form is not valid': ''}}" textTransform="uppercase"
                            type="primary">Submit Payment
                </app-button>
              </div>
            </form>
          </div>
          <div *ngIf="!showCardView" class="paypal-view">
            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            <div *ngIf="this.showSuccess" class="text-success">Your payment was successful!</div>
            <div *ngIf="this.showError" class="text-danger">Something went wrong on payment process!</div>
          </div>
        </ng-template>

        <div class="divider divider--light mt-3"></div>

        <h5 class="my-4">
          <app-icon icon="file-outline" type="gray"></app-icon>
          Billing History
        </h5>

        <app-table [border]="true" [dataSource]="billings" [noData]="'Billing Data not available.'"
                   class="billing-history" height="300px">
          <ng-container cdkColumnDef="date">
            <th (ordered)="sort($event)" *cdkHeaderCellDef appTableHeader
                cdk-header-cell
                currentOrder="start_date"
                orderDir="asc"
                orderKey="date"
            >DATE
            </th>
            <td *cdkCellDef="let row" cdk-cell>{{ row.startDate| date:'shortDate'  }}</td>
          </ng-container>
          <ng-container cdkColumnDef="description">
            <th *cdkHeaderCellDef appTableHeader
                cdk-header-cell
            >DESCRIPTION
            </th>
            <td *cdkCellDef="let row" cdk-cell><span class="table-data-name">
              {{getPlanNameFromPlanType(row.type)}} ({{row.startDate| date:'shortDate'}}
              to {{row.endDate| date:'shortDate'}})</span></td>
          </ng-container>
          <ng-container cdkColumnDef="amount">
            <th (ordered)="sort($event)" *cdkHeaderCellDef appTableHeader
                cdk-header-cell
            >AMOUNT
            </th>
            <td *cdkCellDef="let row" cdk-cell> ${{row.amount}}</td>
          </ng-container>
          <ng-container cdkColumnDef="action">
            <th *cdkHeaderCellDef appTableHeader cdk-header-cell></th>
            <td *cdkCellDef="let row" cdk-cell>
              <div class="float-right" ngbDropdown placement="bottom-right">
                <div ngbDropdownToggle>
                  <span class="badge">
                    <app-icon icon="dotMenuGray" type="gray"></app-icon>
                  </span>
                </div>
                <div ngbDropdownMenu>
                  <button class="d-flex align-items-center dropdown-item" ngbDropdownItem>
                    <span>invoice</span>
                  </button>
                  <button class="d-flex align-items-center dropdown-item" ngbDropdownItem>
                    <span>receipt</span>
                  </button>
                  <button class="d-flex align-items-center dropdown-item" ngbDropdownItem>
                    <span>edit</span>
                  </button>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container cdkColumnDef="view-more">
            <td *cdkFooterCellDef cdk-footer-cell colspan="4">
              <app-button (click)="billingHistory()" *ngIf="page" [block]="true"
                          [loading]="billingHistoryFetching" class="view-more-button" size="fullwidth"
                          textTransform="uppercase" type="outline-primary">
                View More Billing History
              </app-button>
            </td>
          </ng-container>
          <tr *cdkHeaderRowDef="billingsColumns" cdk-header-row></tr>
          <tr *cdkRowDef="let row; columns: billingsColumns" cdk-row></tr>
          <tr *cdkFooterRowDef="['view-more']" cdk-footer-row class="view-more-row"></tr>
        </app-table>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 pl-4">
        <h5 class="mb-5">Current Service Level</h5>
        <div class="card billing-service">
          <div class="card-body">
            <div class="billing-service__header mx-1">
              <div class="pb-4 mb-4">
                <div class="row">
                  <div class="col-md-6 col-sm-12 text-left d-flex">
                    <ng-container *ngIf="planType == 1">
                      <div class="icon-circle mr-2">
                        <app-icon icon="paperplane-solid" size="sm" type="primary"></app-icon>
                      </div>
                      <div class="ml-3 mt-2">
                        <label class="mb-1">Silver Plan</label>
                        <div class="font-weight-bold">$500/Mo</div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="planType == 2">
                      <div class="icon-circle mr-2">
                        <app-icon icon="paperplane-solid" size="sm" type="primary"></app-icon>
                      </div>
                      <div class="ml-3 mt-2">
                        <label class="mb-1">Gold Plan</label>
                        <div class="font-weight-bold">$700/Mo</div>
                      </div>
                    </ng-container>
                  </div>
                  <div class="col-md-6 col-sm-12 text-right">
                    <app-button (click)="changePlanBtnClicked()" class="plan-btn" textTransform="uppercase"
                                type="outline-secondary">
                      Change Plan
                    </app-button>
                  </div>
                </div>
              </div>
              <div class="divider divider--light"></div>
              <div class="mx-2">
                <div class="row">
                  <div class="col-md-6">
                    <label>Member Seats Included</label>
                    <div>500</div>
                  </div>
                  <div class="col-md-6">
                    <label>Total Active Members</label>
                    <div>328</div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="changePlanClicked" class="billing-service__body">
              <div class="billing-service__plan mt-5">
                <div class="row">
                  <div class="col-md-6 col-sm-12 text-left d-flex">
                    <div class="icon-circle mr-2">
                      <app-icon icon="star-outline" size="md" type="outline-primary"></app-icon>
                    </div>
                    <ng-container *ngIf="planType ==1">
                      <div class="ml-3 mt-2">
                        <label>Gold Plan</label>
                        <div class="font-weight-bold">$750/Mo</div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="planType ==2">
                      <div class="ml-3 mt-2">
                        <label>Silver Plan</label>
                        <div class="font-weight-bold">$500/Mo</div>
                      </div>
                    </ng-container>
                  </div>
                  <div class="col-md-6 col-sm-12 text-right">
                    <button class="btn btn-link get-more">Get even more</button>
                  </div>
                </div>
                <div class="ml-lg-5">
                  <ul [ngClass]="planType == 1? 'gold-plan': 'silver-plan'">
                    <li>Unlimited Playbook archives and search</li>
                    <li>Unlimited external service integrations</li>
                    <li>Premium support</li>
                    <li>1000 member accounts</li>
                  </ul>
                </div>
                <ng-container *ngIf="planType ==1">
                  <app-button (click)="changePlan('Gold Plan')" [block]="true" size="none" textTransform="uppercase"
                              type="primary">Upgrade to Gold
                  </app-button>
                </ng-container>
                <ng-container *ngIf="planType ==2">
                  <app-button (click)="changePlan( 'Silver Plan')" [block]="true" size="none" textTransform="uppercase"
                              type="primary">Switch to Silver
                  </app-button>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #paymentOption let-modal>
  <div class="modal-header">
    <div class="font-weight-bold">Would you like to use this card for future payments?</div>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--<div class="modal-body">

  </div>-->
  <div class="modal-footer">
    <button (click)="saveCard('Yes')" class=" btn btn-primary">Yes</button>
    <button (click)="saveCard('No')" class="btn btn-outline-secondary">No</button>
  </div>
</ng-template>

