<div class="page-onboarding">
  <div class="container">
    <div class="row py-5">
      <div class="col">
        <div class="page-onboarding__logo" style="background-image: url(app/assets/images/blaastlogo.svg)"></div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center page-onboarding__content">
      <div class="col-lg-8">
        <app-card rounded="lg" shadow="lg">
          <div class="page-onboarding__card" *ngIf="counter === 0">
            <div class="text-center">
              <h3>Welcome to blaast</h3>
              <h5>Let's get started on getting to know you.</h5>
              <form [formGroup]="userForm" class="my-5">
                <div class="form-group">
                  <app-input type="text" placeholder="First Name" formControlName="firstName" size="lg"></app-input>
                </div>
                <div class="form-group">
                  <app-input type="text" placeholder="Last Name" formControlName="lastName" size="lg"></app-input>
                </div>
                <div class="py-2 mt-2">
                  <app-button size="lg" (click)="userSubmit()">Next</app-button>
                </div>
              </form>
            </div>
            <button class="btn page-onboarding__arrow page-onboarding__arrow--right" (click)="nextClick()">&rarr;</button>
          </div>
          <div class="page-onboarding__card" *ngIf="counter === 1">
            <div class="text-center">
              <h3>Share Your Details</h3>
              <h5>What are the important dates?</h5>
              <form [formGroup]="dateForm">
                <div class="my-2">
                  <app-input type="date" placeholder="Birth Date" formControlName="birthDate" size="lg"></app-input>
                </div>
                <div class="my-2">
                  <app-input type="date" placeholder="Hiring Date" formControlName="hiringDate" size="lg"></app-input>
                </div>
                <div class="py-2 mt-2">
                  <app-button size="lg"(click)="dateSubmit()">Next</app-button>
                </div>
              </form>
            </div>
            <button class="btn page-onboarding__arrow page-onboarding__arrow--left" (click)="prevClick()">&larr;</button>
            <button class="btn page-onboarding__arrow page-onboarding__arrow--right" (click)="nextClick()">&rarr;</button>
          </div>

          <div class="page-onboarding__card" *ngIf="counter === 2">
            <div class="text-center">
              <h3>What's Important</h3>
              <h5>What do you do for your company?</h5>
              <form [formGroup]="companyForm">
                <div class="my-2">
                  <app-select placeholder="Department" formControlName="department" size="lg">
                    <option *ngFor="let department of departments" [value]="department.id">
                      {{department.name}}
                    </option>
                  </app-select>
                </div>
                <div class="my-2">
                  <app-input type="text" placeholder="Job Title" formControlName="jobTitle" size="lg"></app-input>
                </div>
                <div class="py-2 mt-2">
                  <app-button size="lg" (click)="companySubmit()">Next</app-button>
                </div>
              </form>
            </div>
            <button class="btn page-onboarding__arrow page-onboarding__arrow--left" (click)="prevClick()">&larr;</button>
            <button class="btn page-onboarding__arrow page-onboarding__arrow--right" (click)="nextClick()">&rarr;</button>
          </div>

          <div class="page-onboarding__card" *ngIf="counter === 3">
            <div class="text-center">
              <h3>Let's See Your Face</h3>
              <h5>Share a headshot so other can see your smile.</h5>
              <form [formGroup]="photoUpload">
                <div class="my-2">
                  <app-file type="profile" placeholder="Password" formControlName="image" (data)="imageData($event)"></app-file>
                </div>
                <div class="py-2 mt-2">
                  <app-button size="lg" (click)="imageSubmit()">Next</app-button>
                </div>
              </form>
            </div>
            <button class="btn page-onboarding__arrow page-onboarding__arrow--left" (click)="prevClick()">&larr;</button>
            <button class="btn page-onboarding__arrow page-onboarding__arrow--right" (click)="nextClick()">&rarr;</button>
          </div>

          <div class="page-onboarding__card" *ngIf="counter === 4">
            <div class="text-center">
              <h3>Just For you</h3>
              <h5>Create a secure password for your dashboard.</h5>
              <form [formGroup]="passwordForm">
                <div class="my-2">
                  <app-input type="password" placeholder="Password" formControlName="password" size="lg"></app-input>
                </div>
                <div class="my-2">
                  <app-input type="password" placeholder="Job Title" formControlName="rePassword" size="lg"></app-input>
                </div>
                <div class="py-2 mt-2">
                  <app-button size="lg" (click)="formSubmit()">Continue</app-button>
                </div>
              </form>
            </div>
            <button class="btn page-onboarding__arrow page-onboarding__arrow--left" (click)="prevClick()">&larr;</button>
          </div>

          <div class="page-onboarding__card" *ngIf="count === 1">
            <div class="text-center">
              <h3>About Company</h3>
              <h5>Fact about where you work.</h5>
              <div class="my-2">
                <p>This is the blaast company details and certainly you are gonna blaast off your buisneess using this platform.
                </p>
              </div>
              <div class="py-2 mt-2">
                <app-button size="lg" (click)="countNext()">Next</app-button>
              </div>
            </div>
            <button class="btn page-onboarding__arrow page-onboarding__arrow--right" (click)="countNext()">&rarr;</button>

          </div>
          <div class="page-onboarding__card" *ngIf="count === 2">
            <div class="text-center">
              <h3>Our Values</h3>
              <h5>Company value are important</h5>
              <div class="my-2">
                <p>This is the blaast company details and certainly you are gonna blaast off your buisneess using this platform.
                </p>
              </div>
              <div class="py-2 mt-2">
                <app-button size="lg" (click)="countNext()">Next</app-button>
              </div>
            </div>
            <button class="btn page-onboarding__arrow page-onboarding__arrow--left" (click)="countPrev()">&larr;</button>
            <button class="btn page-onboarding__arrow page-onboarding__arrow--right" (click)="countNext()">&rarr;</button>
            
          </div>
          <div class="page-onboarding__card"  *ngIf="count === 3">
            <div class="text-center">
              <h3>Ready to Get Started?</h3>
              <h5>Start using blaast dashboard.</h5>
              <div class="my-2">
                <p>This is the blaast company details and certainly you are gonna blaast off your buisneess using this platform.
                </p>
              </div>
              <div class="py-2 mt-2">
                <app-button size="lg">Continue</app-button>
              </div>
            </div>
            <button class="btn page-onboarding__arrow page-onboarding__arrow--left" (click)="countPrev()">&larr;</button>
          </div>
        </app-card>
      </div>
    </div>
  </div>
</div>
  