<div class="dashboard-slideout text-center">
  <div class="row justify-content-center">
    <div class="col-8 pt-3">
      <app-doughnut-chart [dataArray]="dataArray" [title]="dataTitle">
      </app-doughnut-chart>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8 py-3">
      <div class="row">
        <div class="col text-white">
          <h5>3/4 Quarters</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-progress-bar [value]="percentage">
          </app-progress-bar>
        </div>
      </div>
      <div class="row">
        <div class="col my-2 text-white">
          <p>{{ percentage }}% Complete</p>
        </div>
      </div>
    </div>
  </div>

</div>
