<form [formGroup]="memberDetailForm">
    <div class="modal-header">
        <h4>Update Email</h4>
        <button type="button" class="close" aria-label="Close"
            (click)="activeModal.dismiss('close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="form-group">
            <div class="form-row align-items-center mt-2">
              <div class="col-md-12">
                <app-input  type="email"
                  formControlName="email" placeholder="Add new email address"></app-input>
              </div>
            </div>
          </div>

    </div>
    <div class="modal-footer">
        <app-button (click)="updateEmail()" [loading]="this.loading"> UPDATE</app-button>
    </div>
</form>