::ng-deep h4 {
  padding-bottom: 10px;

  &.divider {
    border-bottom-color: #ccc;
  }
  app-button.edit-btn{
    float: right;
  }
}

.form-group ::ng-deep .ql-toolbar.ql-snow {
  border-radius: 10px 10px 0 0;
  background-color: #FFF;

  .ql-stroke, .ql-fill {
    stroke: #999;
  }
}

.empty-detail {
  background: #f0f1f1;
  color: #c0c1c1;
  text-align: center;
  height: 130px;
  padding: 50px 0;
  border: 1.5px solid #dfdfdf;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

::ng-deep .detail {
  &.values-list {
    li {
      list-style-type: none;
      margin-bottom: 12px;
      font-size: 0.875rem;

      &:before {
        /*content: "✓";*/
        content: "✔";
        display: inline-block;
        font-size: 1em;
        line-height: 0;
        margin-left: - 1.5em;
        width: 1.5em;
        color: var(--primary);
        font-weight: bold;
      }
    }

  }
  p {
    margin-bottom: 12px;
    margin-top: auto;
  }

}

::ng-deep .save-btn .btn-primary{
  padding: 9px 30px;
  font-size: 13px;
}

::ng-deep .cancel-btn .btn-light{
  padding: 9px 20px;
  font-size: 13px;
  color: #40465E;
  border-radius: 4px;
}

::ng-deep .cancel-btn--sm .btn-light{
  padding: 5px 10px;
  font-size: 11px;
  color: #40465E;
  border-radius: 4px;
}

::ng-deep .ql-container .ql-editor{
  min-height: 190px;
}
