<div class="initiative-card">
  <div class="row">
    <p class="initiative-card__header pt-4">
      <span *ngIf="currentlySelectedView === 'annual' || currentlySelectedView === 'preview-annual'">
        <span class="pr-3">Viewing Annual Theme for</span></span>
      <span *ngIf="currentlySelectedView === 'quarterly' || currentlySelectedView === 'preview-quarterly'">
        <span class="pr-3">Viewing Quarterly Theme for</span></span>
    <div ngbDropdown class="mx-2 year-dropdown">
      <button type="button" class="btn single-button" ngbDropdownToggle>
        {{ updatedCurrentYear }}
      </button>
      <div ngbDropdownMenu class="initiative-card__header-filter__dropdown-menu">
        <a ngbDropdownItem class="year-dropdown-item"
           *ngFor="let year of yearsToDisplay" (click)="currentThemeYearChanged(year)">
          {{year}}
        </a>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-end"
     *ngIf="!isPreviewPage() && (showPreview || createThemeComponent.shouldShowEditButtons)">
  <button type="button" class="btn goals-btn__sec-btn goals-btn__enabled-sec-btn mt-4 preview-action-buttons" (click)="edit()">
    BACK TO EDIT</button>
  <button type="button" class="btn goals-btn__sec-btn goals-btn__enabled-sec-btn mt-4 preview-action-buttons"
          (click)="save()">SAVE AS DRAFT</button>
  <button class="btn goals-btn__primary-btn goals-btn__enabled-primary-btn mt-4 ml-sm-2 preview-action-buttons"
          type="button" (click)="publish()">PUBLISH</button>
</div>

<div>
  <div class="main-content bg-white" *ngIf="shouldShowTheme()" id="previewElement">
    <div class="d-flex justify-content-end bg-white" *ngIf="isThemeDraft()">
      <div class="status-badge">DRAFT</div>
    </div>
    <div class="bg-white" *ngIf="!allowEdit">
      <div class="initiative-heading">
        <div class="initiative-title pt-5">
          <div class="annual-title">{{ updatedAnnualThemes?.details[0].title }}</div>
        </div>
        <div class="bolded-font text-uppercase company-sub-title"
             *ngIf="(updatedAnnualThemes?.details[0]?.title || updatedAnnualThemes?.details[0]?.description)"
        >{{ companySubTitle || '' }}</div>
      </div>

      <div class="initiatives pt-2 theme-description">
        <span class="annual-theme-description">{{ updatedAnnualThemes?.details[0].description }}</span>
        <p></p>
        <div *ngIf="currentlySelectedView === 'preview-quarterly' || currentlySelectedView === 'quarterly'">

          <div class="quarter-title bolded-font">{{ quarterlyThemeTitle }}</div>

          <div class="main-content__quarterly-themes">
            <ol *ngIf="updatedQuarterlyTheme">
              <ng-container *ngFor="let quarterlyTheme of updatedQuarterlyTheme.details; let i = index">
                <li *ngIf="quarterlyTheme.viewable" class="my-4 d-flex">
                  <div class="d-inline ml-2 d-flex">
                    <div class="quarter-counter">Q{{i + 1}}</div>
                    <div class="ml-3">
                      <div class="quarterly-theme-title">{{ quarterlyTheme.title}}</div>
                      <div class="mb-4 pt-sm-4 quarterly-theme-description">{{ quarterlyTheme.description}}</div>
                    </div>
                  </div>
                </li>
              </ng-container>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
