<app-card shadow="lg" [padding]="'none'" [borderRadius]="'none'">
  <app-custom-stepper [files]="files" #stepper>
    <cdk-step>
      <div class="cultural-photos__upload-container text-center" appDragDrop (fileDropped)="uploadFile($event)">
        <div class="d-inline-block">
          <div class="media align-items-center">
            <app-icon icon="upload" size="lg" class="mr-2"></app-icon>
            <div class="media-body">
              <div>
                Upload New Photos | Smaller than 10 MB
              </div>
              <div>
                [Drag & Drop: .jpeg, .jpg, .png image]
              </div>
            </div>
          </div>
          <div class="mt-4">
            <span class="btn btn-primary btn-file float-left">Choose Photos
              <input type="file" (change)="uploadFile($event)">
            </span>
            <span class="btn btn-primary btn-directory float-right">Choose Folder
              <input type="file" #folderInput webkitDirectory multiple (change)="uploadFolder(folderInput.files)"/>
            </span>
          </div>
        </div>
      </div>

      <div class="cultural-photos__action-bar">
        <div class="font-weight-bold text-center py-1">{{files?.length || '0'}}
          Photo{{files?.length === 1 ? '' : 's'}} Selected.
        </div>

        <div class="files-list">
          <div class="file" *ngFor="let file of files; let  i= index">
            <img *ngIf="file" [src]="file.url" (click)="next(); openModal(file, i)">
            <div class="bg-secondary text-white row font-size-sm align-items-center no-gutters"
                     style="margin-top: 2px">
              <div class="col">
                <div class="cultural-photos__meta-icon float-left">
                  <app-icon icon="edit" size="sm" (click)="next(); openModal(file, i)"></app-icon>
                </div>
                <div class="cultural-photos__meta-icon float-right">
                  <app-icon icon="trash" size="sm" (click)="deleteIdex(i)"></app-icon>
                </div>
              </div>
            </div>
            <!-- <button type="button" class="close" aria-label="Close" (click)="deleteAttachment(i)">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
        </div>

        <div class="row justify-content-center" *ngIf="files?.length">
          <div class="col-md-2">
            <app-button type="light" size="md" [block]="true" (click)="cancelUpload();goBack(stepper)"
                        [disabled]="!files?.length">Cancel
            </app-button>
          </div>
          <div class="col-md-2">
            <app-button type="primary" size="md" [block]="true" (click)="goForward(stepper); next();"
                        [disabled]="!files?.length">Next
            </app-button>
          </div>
        </div>
      </div>
    </cdk-step>

    <cdk-step>
      <div class="row w-100 d-flex flex-row justify-content-end">
        <span (click)="addToGalleryWizardComponent.showSheet(); scrollToBottom()">
          <app-icon size="sm" type="black" icon="add"></app-icon> &nbsp;
           <strong class="hover-text">Add All to Gallery</strong>
        </span>
      </div>

      <div>
        <div class="cultural-photos__meta-listing-container">
          <div class="row">
            <div class="col-md-3" *ngFor="let file of photoArray; let i = index">
              <div class="cultural-photos__meta-container" style="margin-bottom: 13px;">
                <img class="cultural-photos__meta-image" [src]="file?.imageUrl">
                <div class="bg-secondary text-white row font-size-sm align-items-center no-gutters"
                     style="margin-top: 2px">
                  <div class="col">
                    <select class="custom-select-sm w-100 bg-secondary text-white border-0 px-1"
                            (change)="getGalleryInfo(file, $event, i)">
                      <option class [ngValue]="null" disabled>Add to Gallery</option>
                      <option *ngFor="let item of gallery;" [ngValue]="item.year" [selected]="item.quarter ===selectedGallery" >
                        {{item.year}} | Q{{item.quarter}}
                      </option>
                      <option disabled>
                        View All Galleries
                      </option>
                    </select>
                    <!--                    <div ngbDropdown class="custom-dropdown w-100 bg-secondary text-white border-0 px-1k"-->
                    <!--                         style="height: calc(1.5em + 0.5rem + 2px);">-->
                    <!--                      <button class="btn" id="dropdownBasic1" ngbDropdownToggle-->
                    <!--                              style="color: white; padding: 0px; padding-left: 12px"-->
                    <!--                              (change)="getGalleryInfo(file, $event, i)">{{selectedGallery || 'Add To Gallery'}}</button>-->
                    <!--                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 200px">-->
                    <!--                        <button ngbDropdownItem *ngFor="let item of gallery;" [value]="item.year"-->
                    <!--                                (click)="getValue (item.year, item.quarter); getGalleryInfo(file, $event, i)"-->
                    <!--                                class="button-items">-->
                    <!--                          <app-icon icon="galleryFolder" size="sm" type="black"></app-icon>-->
                    <!--                          &nbsp;&nbsp;<span class="gallery-text">{{item.year}} | Q{{item.quarter}}</span></button>-->
                    <!--                        <button ngbDropdownItem class="button-items">-->
                    <!--                          <app-icon icon="grid" size="sm" type="primary"></app-icon>-->
                    <!--                          &nbsp;&nbsp;<span class="gallery-text">View All Gallery</span>-->
                    <!--                        </button>-->
                    <!--                      </div>-->
                    <!--                    </div>-->
                  </div>
                  <!-- <div class="col-md-5 text-center">
                    <div class="cultural-photos__meta-icon">
                      <app-icon icon="edit" size="sm" (click)="openModal(file, i)"></app-icon>
                    </div>
                    <div class="cultural-photos__meta-icon">
                      <app-icon icon="trash" size="sm" (click)="deleteIdex(i)"></app-icon>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="cultural-photos__action-bar">
          <div class="row justify-content-center">
            <div class="col-md-2">
              <app-button type="light" size="md" [block]="true" (click)="cancelUpload(); goBack(stepper)">Cancel
              </app-button>
            </div>
            <div class="col-md-2" >
              <app-button type="primary" size="md" [block]="true" (click)="submitImages()" [loading]="btnLoading">Submit</app-button>
            </div>
          </div>
        </div>
      </div>
      <app-add-to-gallery-wizard #addToGalleryWizardComponent [fileLength]="files.length"
                                 [galleryList]="gallery" (galarySelected)="updategallery($event)" ></app-add-to-gallery-wizard>
      <div class="row h-25" #scrollMe></div>
    </cdk-step>
  </app-custom-stepper>
</app-card>
