body {
  scroll-behavior: smooth;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}

.btn-directory {
  position: relative;
  overflow: hidden;
}

.btn-directory input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}

.close {
  Margin-right: 7px;
  font-size: 36px;
  font-weight: 300;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}

.btn-directory {
  position: relative;
  overflow: hidden;
}

.btn-directory input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}

.close {
  Margin-right: 7px;
  font-size: 36px;
  font-weight: 300;
}

.custom-dropdown {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.7px;
  color: #FFFFFF;
}

.button-items {
  padding: 0.25rem 0.5rem;
}

.gallery-text {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.7px;
  color: #37474F;
}

.hover-text:hover {
  text-decoration: underline;
  cursor: pointer;
}
.hover-text:focus{
  text-decoration: underline;
  cursor: pointer;
}
