<!-- <div class="page-company">
  <app-sidebar theme="light" size="md" [showToggle]="false">
    <app-nav-accordion>
      <app-nav-accordion-item>
        <app-nav-accordion-header type="page-link">Annual Goals</app-nav-accordion-header>
      </app-nav-accordion-item>
      <app-nav-accordion-item>
        <app-nav-accordion-header type="page-link">Annual Initiatives</app-nav-accordion-header>
      </app-nav-accordion-item>
      <app-nav-accordion-item>
        <app-nav-accordion-header type="page-link" routerLink="mission-values">Mission & Values</app-nav-accordion-header>
      </app-nav-accordion-item>
      <app-nav-accordion-item>
        <app-nav-accordion-header type="page-link" [routerLink]="['/company/letter-to-editor']">Letter to the Editor
        </app-nav-accordion-header>
      </app-nav-accordion-item>
      <app-nav-accordion-item>
        <app-nav-accordion-header type="page-link" [routerLink]="['/employee-directory/members']">Employee Directory
        </app-nav-accordion-header>
      </app-nav-accordion-item>
    </app-nav-accordion>
    <app-playbooks-sidebar></app-playbooks-sidebar> 
  </app-sidebar>
  <div class="content" [class.content--sidebar-md]="sidebarCollapsed" [class.content--sidebar-collapsed]="!sidebarCollapsed">
    <router-outlet></router-outlet>
  </div> 
</div>-->

<router-outlet></router-outlet>