<div class="container-fluid bg-lightgrey" (wheel)="onLayoutListScroll($event)">
 <div class="row bg-white layout-header">
   <div class="col-2">
    <div ngbDropdown class="d-inline-block dropdown-box">
      <button class="btn btn-flat btn-sm" id="dropdownBasic1" ngbDropdownToggle>
         All Layouts
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>All</button>
        <button ngbDropdownItem>Free</button>
        <button ngbDropdownItem>Premium</button>
      </div>
    </div>
   </div>
   <div class="col-8"></div>
   <div class="col-2">
     <div class="mx-auto view-btn">
       <app-button type="flat" size="sm" textTransform="uppercase" (click)="toggleBottomBarState()">
      {{ bottomBarState === 'expanded' ? 'Collapse View' : 'Gallery View' }}
      <!-- <span class="hide-show">{{ state === 'hidden' ? 'Show' : 'Hide' }}</span> -->
      <span style="margin-left: 5px;">
        <!-- <app-icon icon="{{ bottomBarState === 'expanded' ? 'doubleDown' : 'galleryBox' }}" size="sm" type="gray"> </app-icon>-->
          <i *ngIf="bottomBarState !== 'expanded'">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill="none" d="M4.66667 2H2V4.66667H4.66667V2Z" stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"/>
              <path fill="none" d="M9.33366 2H6.66699V4.66667H9.33366V2Z" stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"/>
              <path fill="none" d="M13.9997 2H11.333V4.66667H13.9997V2Z" stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"/>
              <path fill="none" d="M4.66667 6.66699H2V9.33366H4.66667V6.66699Z" stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"/>
              <path fill="none" d="M9.33366 6.66699H6.66699V9.33366H9.33366V6.66699Z" stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"/>
              <path fill="none" d="M13.9997 6.66699H11.333V9.33366H13.9997V6.66699Z" stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"/>
              <path fill="none" d="M4.66667 11.333H2V13.9997H4.66667V11.333Z" stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"/>
              <path fill="none" d="M9.33366 11.333H6.66699V13.9997H9.33366V11.333Z" stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"/>
              <path fill="none" d="M13.9997 11.333H11.333V13.9997H13.9997V11.333Z" stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </i>

          <i *ngIf="bottomBarState === 'expanded'">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill="none" d="M4.66699 8.66699L8.00033 12.0003L11.3337 8.66699" stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"/>
              <path fill="none" d="M4.66699 4L8.00033 7.33333L11.3337 4" stroke="#9599AA" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>   
          </i>

      </span>
    </app-button>
     </div>
     
   </div>
 </div>
  <!-- {{editor | json}} -->
  <div class="row">
    <div class="col-2 my-2 text-center" *ngFor="let layout of pageLayouts">
      <button class="btn btn-link" (click)="updateLayout(layout)">
        <div class="page-layout-icon mx-auto my-3"  [class.page-layout-icon--selected]="layout.id === page.layoutId"></div>
        <div class="page-layout-title mx-auto">{{ layout.title }}</div>
      </button>
    </div>
  </div>
</div>
