<div class="article1-container">
  <div class="article1-wrapper-left">
    <div class="article1-logo-container" (click)="loadForm('image-form', 'logo')">
      <div class="bg-img" *ngIf="page?.data?.logo; else newLogoText"
           [style.backgroundImage]="page?.data?.logo?.imageurl ? 'url(' + page?.data?.logo?.imageurl  + ')' : ''"></div>
    </div>
    <div class="article1-title" (click)="loadForm('single-line-text', 'title')">
      <span *ngIf="page?.data?.title?.text; else newTitle">{{ page?.data?.title?.text }}</span>
    </div>
    <div class="line-one"></div>
    <div class="article-highlights" (click)="loadForm('multi-line-text', 'highlights')">
      <span *ngIf="page?.data?.highlights?.text; else newHighlights">{{ page?.data?.highlights?.text }}</span>
    </div>

    <div class="article1-content1">
      <div class="line-two"></div>
      <div class="article-description" (click)="loadForm('multi-line-text', 'paragraph1')">
        <span *ngIf="page?.data?.paragraph1?.text; else newParagraph">{{ page?.data?.paragraph1?.text }}</span>
      </div>
    </div>
  </div>

  <div class="article1-wrapper-right">
    <div class="article1-content2">
      <div class="article-description" (click)="loadForm('multi-line-text', 'paragraph4')">
        <span *ngIf="page?.data?.paragraph4?.text; else newParagraph">{{ page?.data?.paragraph4?.text }}</span>
      </div>
    </div>

    <div class="article1-image" (click)="loadForm('image-form', 'image')">
      <div class="bg-img1" *ngIf="page?.data?.image; else newImageText"
           [style.backgroundImage]="page?.data?.image?.imageurl ? 'url(' + page?.data?.image?.imageurl  + ')' : ''"></div>
    </div>
  </div>

  <div class="article1-footer">
    <div class="article1-footer-left">
      <span><b>{{pageNumber * 2 }}</b> | {{playBook.title}} | Q{{playBook.quarter}}-{{playBook.year}}</span>
    </div>
    <div class="article1-footer-right">
      <span>Q{{playBook.quarter}}-{{playBook.year}} | {{playBook.title}} | <b>{{pageNumber * 2 + 1 }}</b></span>
    </div>
  </div>
  <div class="border-overlay"></div>
</div>

<ng-template #newTitle>ARTICLE TITLE</ng-template>
<ng-template #newHighlights>
  Almost nothing works the first time it's attempted. Just because
  what you're doing does not seem to be working, doesn't mean
  it won't work. It just means that it might not work the way you're
  doing it. You can't live your life for others. You have to choose
  what you want for you, even if it's not like your loved ones.
</ng-template>
<ng-template #newParagraph>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus ligula sit amet libero finibus, eget tincidunt libero sodales. Cras
  sit amet interdum massa. Quisque eget lacinia dui. Nam at vulputate arcu. Mauris vel diam enim. Aliquam auctor ante ipsum, sit amet
  dapibus lacus ultrices ut. Duis hendrerit cursus quam, non suscipit lacus. Phasellus interdum justo porta odio tristique dapibus.
  Curabitur eu dolor sit amet dolor imperdiet molestie ac eu elit.
</ng-template>
<ng-template #newLogoText>
  <div class="bg-img" style="background-image: url('app/assets/images/playbooks/logo.jpg')"></div>
</ng-template>

<ng-template #newImageText>
  <div class="bg-img1" style="background-image: url('app/assets/images/playbooks/imgs_3.jpg')"></div>
</ng-template>
