<div class="quick-view-overlay" *ngIf="_show" (click)="close()"></div>
<div
  *ngIf="_show"
  class="quick-view-wrapper"
  [class.quick-view-wrapper--right]="position==='right'"
  [class.quick-view-wrapper--has-secondary-nav]="hasSecondaryNav"
  [@slideAnimation]="position"
>
  <div class="quick-view" style="margin-bottom: 15px;">
    <app-icon icon="cross" size="lg" class="close quick-view__close" aria-label="Close" (click)="close()"></app-icon>
    <!--<div class="quick-view__content">-->
    <div class="text-center">
      <app-custom-stepper #stepper [stepperFromCulturePhoto]="false" [title]="wizardTitle">
        <!-- /*THEME SELECT SECTION*/
        <cdk-step>
          <div class="page-profile">
            <div class="row wizard-container">
              <div class="col-4" *ngFor="let item of themes">
                <div class="pcw-directory" [ngClass]="{'active': selectedTheme === item.name }"
                     (click)="setTheme(item.name)">
                  <div class="pcw-directory-icon">
                    <div style="padding-top: 10px">
                      <app-icon icon="image-gallery" size="lg" type="gray"></app-icon>
                    </div>
                  </div>
                  <div class="pcw-directory-name">{{item.name}}</div>
                </div>
              </div>
            </div>
            <div class="row mt-3 justify-content-center">
              <div class="col-sm-2">
                <app-button type="primary" class="next-btn" size="sm" (click)="goForward(stepper);"
                            textTransform="uppercase">
                  Next
                </app-button>
              </div>
            </div>
          </div>
        </cdk-step>-->

        <!--/* GALLERY SECTION*/
        <cdk-step>
          <div *ngIf="!galleryStep" class="gallery-select page-profile">
            <div class="row">
              <div class="col-4" (click)="galleryStepChange('themeGallery')">
                <div class="pcw-directory">
                  <div class="pcw-directory-icon">
                    <div style="padding-top: 10px">
                      <app-icon icon="image-gallery" size="lg" type="light-gray"></app-icon>
                    </div>
                  </div>
                  <div class="pcw-directory-name">See Theme Gallery</div>
                </div>
              </div>
              <div class="col-4" (click)="galleryStepChange('upload')">
                <div class="pcw-directory">
                  <div class="pcw-directory-icon">
                    <div style="padding-top: 10px">
                      <app-icon icon="half-large-gallery" size="lg" type="light-gray"></app-icon>
                    </div>
                  </div>
                  <div class="pcw-directory-name">Create New Gallery</div>
                </div>
              </div>
              <div class="col-4">
                <div class="pcw-directory" (click)="galleryStepChange('existingGallery')">
                  <div class="pcw-directory-icon">
                    <div style="padding-top: 10px;">
                      <app-icon icon="full-large-gallery" size="lg" type="light-gray"></app-icon>
                    </div>
                  </div>
                  <div class="pcw-directory-name">Add to Existing Gallery</div>
                </div>
              </div>
            </div>
            <div class="row mt-3 justify-content-center">
              <div class="col-md-4 col-sm-6 select-text">
                Creating a Gallery lets you save and organize your own photos
                in one place to access them later for other projects.
              </div>
            </div>
            <div class="row my-1 justify-content-end">
              <div class="col-md">
                <app-button size="sm" type="link" textTransform="uppercase" (click)="goForward(stepper)">Skip for
                  now
                </app-button>
              </div>
            </div>
          </div>
          <div *ngIf="galleryStep === 'themeGallery'" class="page-profile">
            <strong>Select photo from Theme Gallery</strong>
            <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-6 equal-height">
                <div class="gallery-list__directory equal-height__list" [style.backgroundImage]="'url(app/assets/images/login-image3.jpg)'" style="background-size: cover;"
                     (click)="goForward(stepper);"></div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 equal-height">
                <div class="gallery-list__directory equal-height__list" [style.backgroundImage]="'url(app/assets/images/login-image3.jpg)'" style="background-size: cover;"
                     (click)="goForward(stepper);"></div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 equal-height">
                <div class="gallery-list__directory equal-height__list" [style.backgroundImage]="'url(app/assets/images/login-image3.jpg)'" style="background-size: cover;"
                     (click)="goForward(stepper);"></div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 equal-height">
                <div class="gallery-list__directory equal-height__list" [style.backgroundImage]="'url(app/assets/images/login-image3.jpg)'" style="background-size: cover;"
                     (click)="goForward(stepper);"></div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 equal-height">
                <div class="gallery-list__directory equal-height__list" [style.backgroundImage]="'url(app/assets/images/login-image3.jpg)'" style="background-size: cover;"
                     (click)="goForward(stepper);"></div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 equal-height">
                <div class="gallery-list__directory equal-height__list" [style.backgroundImage]="'url(app/assets/images/login-image3.jpg)'" style="background-size: cover;"
                     (click)="goForward(stepper);"></div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 equal-height">
                <div class="gallery-list__directory equal-height__list" [style.backgroundImage]="'url(app/assets/images/login-image3.jpg)'" style="background-size: cover;"
                     (click)="goForward(stepper);"></div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 equal-height">
                <div class="gallery-list__directory equal-height__list" [style.backgroundImage]="'url(app/assets/images/login-image3.jpg)'" style="background-size: cover;"
                     (click)="goForward(stepper);"></div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 equal-height">
                <div class="gallery-list__directory equal-height__list" [style.backgroundImage]="'url(app/assets/images/login-image3.jpg)'" style="background-size: cover;"
                     (click)="goForward(stepper);"></div>
              </div>
            </div>
          </div>

          <div *ngIf="galleryStep === 'upload'">
            <div class="row">
              <label class="pcw-upload-container text-center" appDragDrop (fileDropped)="uploadAllFiles($event)"
                   (dragenter)="dropzoneHovered = true" (dragleave)="dropzoneHovered = false"
                   [ngClass]="{'file-over': dropzoneHovered }">
                <div class="d-inline-block">
                  <div class="media align-items-center">
                    <app-icon icon="upload" size="md" class="mr-4" type="light-gray"></app-icon>
                    <div class="media-body text-left" *ngIf="!dropzoneHovered">
                      <div>
                        Upload New Photos | Smaller than 10 MB
                      </div>
                      <div>
                        [Drag & Drop: .jpeg, .jpg, .png image]
                      </div>
                    </div>
                    <div class="media-body text-left" *ngIf="dropzoneHovered">
                      <div>
                        Drop Files Here!
                      </div>
                    </div>
                  </div>
                  <input hidden type="file" #fileInput (change)="onFileInputChange($event.target.files)" multiple>
                </div>
              </label>
            </div>
            <div class="text-center py-1" *ngIf="files && files.length" style="font-size: 13px;">
              {{files?.length || '0'}}
              Photo{{files?.length === 1 ? '' : 's'}} Selected.
            </div>
            <div class="pcw-third-party-connect">
              <div>
                Disable pop-up blocker to connect to third party photo sources.
              </div>
              <div class="text-uppercase third-party-app">
                <app-icon icon="facebook-outline" size="sm" type="light-gray"></app-icon>
                Facebook
              </div>
              <div class="text-uppercase third-party-app">
                <app-icon icon="dropbox-outline" size="sm" type="light-gray"></app-icon>
                DropBox
              </div>
              <div class="text-uppercase third-party-app">
                <app-icon icon="google-chrome-outline" size="sm" type="light-gray"></app-icon>
                Google
              </div>
              <div class="text-uppercase third-party-app">
                <app-icon icon="instagram-outline" size="sm" type="light-gray"></app-icon>
                Instagram
              </div>
            </div>
            <div class="row mt-3 justify-content-center">
              <div class="col-sm-2">
                <app-button type="primary" class="next-btn" size="sm" (click)="goForward(stepper);"
                            textTransform="uppercase">
                  Next
                </app-button>
              </div>
            </div>
          </div>

          <div *ngIf="galleryStep === 'existingGallery'" class="page-profile">
            <strong>Select Existing Gallery</strong>
            <div class="row pl-5 gallery-list__images-container" *ngIf="galleries">
              <div class="col">
                <div class="row">
                  <div class="col-lg-2 col-md-4 col-sm-6" *ngFor="let q of quarters" (click)="setGalleryImage(year, q)"
                  [class.active]="selectedYear === year && selectedQuarter === q">
                    <div class="gallery-list__directory">

                      <img src="app/assets/images/login-image3.jpg">
                      <app-icon class="image-placeholder"  icon="image-placeholder"></app-icon>
                      <div class="gallery-list__directory-title text-center p-2">{{year}} - {{q}} Gallery </div>
                    </div>


                  &lt;!&ndash; <div class="gallery-sidebar__quarter">Q{{q}}</div> &ndash;&gt;
                  </div>
                </div>
              </div>
            </div>
          </div>
        </cdk-step>-->

        <cdk-step>
          <div class="edit-title justify-content-center">
            Add a title to your playbook, this can be changed in the Customize tab later.
          </div>
          <div class="form-group py-3">
            <input type="text" name="title" class="form-control title-input" placeholder="Title" #playbookTitle
                   [(ngModel)]="playBook.title" required>
            <app-button (click)="addTitle($event)" class="next-btn" textTransform="uppercase">Add Title</app-button>
          </div>
        </cdk-step>
      </app-custom-stepper>
    </div>
  </div>
</div>
