<div class="flex-container">
  <div class="flex-item-left">
    <div class="large-image-container" (click)="loadForm('image-form', 'backgroundImage')">
      <!-- <div  class="large-image" [style.backgroundImage]="'url(' + 'app/assets/images/user-login.jpeg' + ')'"></div> -->
      <div class="large-image" *ngIf="page?.data?.backgroundImage; else newBgText" [style.backgroundImage]="page?.data?.backgroundImage?.imageurl ? 'url(' + page?.data?.backgroundImage?.imageurl  + ')' : ''"></div>
    </div>
      <div class="lower-section-left">
        <div class="lower-section-left__text">
          <div class="a3-header"  (click)="loadForm('single-line-text', 'title')">
              <span *ngIf="page?.data?.title?.text; else newTitle">{{ page?.data?.title?.text }}</span>
          </div>
          <div class="lower-section-left__text-text" (click)="loadForm('multi-line-text', 'lead')">
              <span *ngIf="page?.data?.lead?.text; else newlead">{{ page?.data?.lead?.text }}</span>
          </div>
        </div>
        <div class="lower-section-left-image-container" (click)="loadForm('image-form', 'backgroundImage1')">
            <div class="lower-section-left__image" *ngIf="page?.data?.backgroundImage1; else newBgText2" [style.backgroundImage]="page?.data?.backgroundImage1?.imageurl ? 'url(' + page?.data?.backgroundImage1?.imageurl  + ')' : ''"></div>
        </div>
      </div>
  </div>
  <div class="flex-item-right">
    <div class="text-wrapper"  (click)="loadForm('multi-line-text', 'content')">
        <span *ngIf="page?.data?.content?.text; else newcontent">{{ page?.data?.content?.text }}</span>
    </div>
    <div class="side-image-container" (click)="loadForm('image-form', 'backgroundImage2')">
      <div class="side-image"  *ngIf="page?.data?.backgroundImage2; else newBgText3" [style.backgroundImage]="page?.data?.backgroundImage2?.imageurl ? 'url(' + page?.data?.backgroundImage2?.imageurl  + ')' : ''"></div>
    </div>
  </div>

  <div class="article3-footer">
    <div class="article3-footer-left">
      <span> <b>{{pageNumber * 2 }} </b>  | {{playBook.title}} | Q{{playBook.quarter}}-{{playBook.year}}</span>
    </div>
    <div class="article3-footer-right">
      <span>Q{{playBook.quarter}}-{{playBook.year}} | {{playBook.title}} | <b>{{pageNumber * 2 + 1 }}</b></span>
    </div>
  </div>
  <div class="border-overlay"></div>
</div>

<ng-template #newBgText>
  <div class="large-image" style="background-image: url('app/assets/images/playbooks/article1_1.jpg')"></div>
</ng-template>

  <ng-template #newBgText2>
    <div class="lower-section-left__image" style="background-image: url('app/assets/images/playbooks/article_2_2.png')"></div>
  </ng-template>

  <ng-template #newBgText3>
    <div class="side-image" style="background-image: url('app/assets/images/playbooks/article_3_2.png')"></div>
  </ng-template>

<ng-template #newTitle>The World is Full of
  Opportunities</ng-template>
<ng-template #newlead>
  Cras mattis consectetur purus sit amet fermentum. Cum
  sociis natoque penatibus et magnis dis parturient montes,
  nascetur ridiculus mus. Vestibulum id ligula porta felis
  euismod semper. Aenean lacinia bibendum
</ng-template>

<ng-template #newcontent>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus ligula sit amet libero finibus, e
  get tincidunt
  libero sodales. Cras sit amet interdum massa. Quisque eget lacinia dui. Nam at vulputate arcu.
</ng-template>
