.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: stretch;
  height: 100%;
  font-family: 'Heebo', sans-serif;
}

.flex-item-left {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-left: 75pt;
  width: 67%;
  margin-right: 10pt;
}

.flex-item-right {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-top: 100pt;
  width: 33%
}

.large-image-container {
  width: 100%;
  height: 53%;
}

.large-image {
  width: 100%;
  height: 100%;
  margin-top: 50pt;
  background-size: cover;
  background-position: center center;
}

.lower-section-left {
  width: 100%;
  height: 50%;
  display: flex;

  &__text {
    padding-top: 25pt;
    width: 50%;
    height: 90%;
    padding-right: 12pt;

    &-text {
      margin-top: 10pt;
      font-size: 14pt;
      font-style: italic;
      color: gray;
    }
  }

  &__image {
    margin-top: 14pt;
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center center;
  }
}

.lower-section-left-image-container {
  width: 50%;
  height: 85%;
}

.text-wrapper {
  height: 38%;
  padding-left: 30pt;
  padding-right: 30pt;
  column-count: 2;
  font-size: 11pt;
}

.side-image {
  width: 100%;
  height: 100%;
  margin-top: 15pt;
  background-size: cover;
  background-position: center center;
}

.a3-header {
  font-size: 42pt;
  font-weight: bold;
  text-align: left;
  padding-top: 10pt;
  padding-bottom: 10pt;
  line-height: 1;
}

.side-image-container {
  width: 100%;
  height: 40%;
}

.article3-footer {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  bottom: 0;
  width: 100%;
  height: 40pt;
  z-index: 3;
  font-size: 9pt;


  &-left {
    height: 100%;
    width: 50%;
    padding: 1% 3%;
    text-transform: uppercase;
  }

  &-right {
    height: 100%;
    width: 50%;
    padding: 1% 3%;
    text-transform: uppercase;
    text-align: right;
  }
}
